.arabic .meeting_category{ float:right;}
.arabic .wedding_category{ float:left;}
.arabic .search-form{ direction:rtl;}
.arabic .search-box-field select, .arabic .usersign-form-bottom select, .arabic select{-moz-appearance: none;background: #fff url("../../themes/images/search-select-arrow.png") no-repeat scroll left 10px bottom 48%;}
.arabic select{direction:rtl;padding-left: 25px;padding-right: 7px;}
.arabic .cal-t {background-position: left 10px bottom 45%;}
.arabic .search-box5{ padding-right:10px;}
.arabic .customer-budget-section{ float:right;}
.arabic .page-right-section { margin:0px auto; padding:0px; max-width:933px;}
.arabic .customer-subproduct-name::after {left: 0; right: inherit;  top: -3px;}
.arabic .customer-budget-box{ direction:rtl;}
.arabic .search-box{ float:right; padding-left:20px; padding-right:0px; direction:rtl;
}
.arabic .customer-subproduct-name.budgetopen::after { top: 5px !important;}
.arabic .common_navbar li{ float:right; padding-right:0px;}

.arabic .common_navbar .mCustomScrollBox{ direction:rtl;}
/*.arabic .search-btn{float:left;}*/
.arabic #searchweddingoccasion .search-box{ float:right;}
.arabic .gallary_detail {float: right; padding-left: 30px;}
.arabic .service_detail {float: left; text-align:right}
/*.arabic .mCustomScrollBox{ direction:rtl;}*/
.arabic .vendor_header_left { direction: rtl; float: right;}
.arabic .vendor_header_right { direction: rtl;float: right;}
.arabic .service_container{direction: rtl;}
.arabic .services_detail {float: right;padding-left: 40px;width: 62%;}
.arabic .services_listing .service_name{ float:right;}
.arabic .services_listing .service_price{ float:left;}
.video_hall{ margin-top:30px;}
.video_hall .service-video-area{ margin-top:20px;}
.arabic .vendor_welc { float: left;}
.arabic .select_catg{ float:left;}
.arabic .vendor_name {float: right; padding-left: 15px; }
.arabic .sticku_service_logo { float: right; margin-right: 40px;}
.arabic .sticky_serivce{ left:89px;}
.arabic .sticky_other_service{ left:0px;}
.arabic .service_catagory li{ float:right;}
.arabic .welcome_message{ direction:rtl;}
.arabic .left_container{ direction:rtl;}
.arabic .item_title{direction:rtl;}
.arabic .menu_internal_img{ float:right;}
.arabic .menu_internal_img{ margin-right:0px;}
.arabic .item_title{ right:0px;}
.arabic .left_container {float: right; padding-left: 30px;}
.arabic .order_subcol2 {float: right;}
.arabic .order_subcol2:last-child { float: left;}
.arabic .right_container {float: right;padding-left: 30px; padding-right:0px;}
.arabic .order_summary_bar {float: right;}
.arabic .container_list_row .food_container_listimg{ float:right;}
.arabic .container_list_row .fodd_cont_catg { float: left; text-align: left;}
.arabic .heading{ text-align:right;}
.arabic .budget-menu{ direction:rtl;}
.arabic .left_container .td{ padding-right:0px;}
.arabic .usersign-box-heading{ text-align:right;}
.arabic .usersign-form-top{ text-align:right;}
.arabic .search-t-box, .arabic .search-box-field select, .arabic .t-box, .arabic .usersign-form-bottom select, .arabic select{ text-align:right; float:right;}
.arabic .usersign-form-button .form-btn { float: right;}
.arabic .common_title{text-align:right;}
.arabic .service_detail .common_title{text-align:right;}
.arabic .detail_facilites_list li{float:right}
.arabic .detail_facilites_list li:first-child{margin-right:0px;}
.arabic ..singer-heading { text-align:right;}
.arabic .checkout-small-box{ float:right;}
.arabic .checkout-form-top{ text-align:right;}
.arabic .form-cell-date { float: right;}
.arabic .singer-image-area {float: right;text-align: right;}
.arabic .singer-form-area {float: right; padding: 0 15px 0 0;}
.arabic .singer-name{ float:right;}
.arabic .form-button-line{ text-align:right;}
.arabic .testim_right { padding-right: 30px;}
.arabic .testim_left{float: right;}
.arabic .singer-heading{ text-align:right;}
.arabic .singer-name{ text-align:right;}
.arabic .flexslider, .arabic .flexslider1{ text-align:right; }
/*.arabic #carousel .slides{ width:100%!important;}*/
/*.arabic #carousel li{ float:right!important;}*/
.arabic .myaccount_left { float: right;}
.arabic .myaccount_right{ margin-right:3.3%; margin-left:0px;}
.arabic .dash_heading{ float:right; margin:-30px 20px 0 0px;}
.arabic .occs { direction: rtl;}
.arabic .occus_text{ float:right;}
.arabic .wed_text{ float:right; padding-left:0px; padding-right:10px;}
.arabic .lors_text {padding: 0 0px 0 50px; text-align: right;}
.arabic .service-display-right{ float:left;}
.arabic .service-display-left{ float:right;}
/*.flex-viewport .slides{ border:solid 0px red; height:450px;}*/
.arabic .flex-viewport .slides{ border:solid 0px red;}
#carousel .slides{ border:solid 0px red; height:auto;}

/* Dashboard */
.arabic .dashborad_heading{float:right; text-align:right}
.arabic .myphoto_left{float:right}
.arabic .myphoto_left:first-child{margin-right:0px}
.arabic .myphoto_left:last-child{margin:0 2% 0 0}
.arabic .photosmy li{float:right}
.arabic .myaccount_left ul li{text-align:right}
.arabic .field_group.top_spacing_margin_occas.myprofile_page{float:right}
.arabic .checkout-dob select {
  margin-right: 10px;
  width: 30%;
}

.arabic .checkout-form-cell {float: left; margin: 0 0 20px 2%;padding: 0; width: 48%;}
.arabic .checkout-form-cell:first-child {
  margin-left: 0;
}
.arabic .checkout-form-bottom{float:right; text-align:right}
.arabic .gender-radio-box{float:right}
.arabic .file-btn{float:left; font-family: Tahoma; line-height:37px;}
.arabic .file-value{float:right}
.arabic .browse_img{float:right}
.arabic .search-box-label{text-align:right}
.arabic .myaccount-table, .arabic .studio_wrap{direction:rtl}
.arabic .myac-file-box .file-btn-area{left:auto; right:0}
.arabic .common_row .col2{float:right}
.arabic .add-more-btn-line{width:50%; float:right}
.arabic .gallary_col3{float:right; direction:rtl; margin-right:0px; margin-left:2%;}
.arabic .gallary_col3:nth-child(3n){margin-left:0; margin-right:0px;}
.arabic .dash_select{text-align:left}
.arabic .my_padd{direction:rtl}
.arabic .amt_input, .arabic .amt_input input{float:right}
.arabic .amt_box ul li{float:right}
.arabic .amt_box ul li:first-child{margin-right:0px}
.arabic .top_spacing_margin_occas .types_ocs_left{float:right}
.arabic .types_ocs_right{float:right}
.arabic .dashb_review_popup.review_popup{direction:rtl}
.arabic .paging_quote{float:right}
.arabic .pagination > li{float:right}
.arabic #change_password .checkout-form-cell:last-child{float:right}
.arabic .myprf_btn, .arabic .myprf_btn input{float:right}
.arabic #img_upload{width:100%}
.arabic .service_selecrrow .checkout-small-box{ float:left;}
.arabic .service_selecrrow .checkout-form-top{ text-align:left;}
.arabic .measurement-form {
  float: right;
  margin: 0;
  padding: 0px 26px 0px 0px;

}
.arabic .measurement-form-top{ text-align:right;}
.arabic .measurement-radio-line{ direction:rtl;}
.arabic .vendor_name.username span {padding-right: 28px;}
.arabic .vendor_name.username span:after{ right:6px;}
.arabic .text-area{ text-align:right;}


/* Harry */
.arabic .detail_hall_dimention{clear:both; float:right; text-align:right; width:100%}
/*.arabic .detail_hall_dimention span{display:block; float:right; padding-left:7px}*/
.arabic .detail_hall_dimention span{padding-right:7px}
.arabic .detail_hall_price{text-align:right}
.arabic .detail_hall_price strike{float:right}
.arabic .sel-time{background-position:7px;}
.arabic .ui-timepicker-wrapper{direction:rtl; padding-right:10px;}
input:focus, button:focus{outline:none!important; outline:#fff!}
.arabic .book_label{text-align:right}
.arabic .myaccount-mobile{left:0px; right:auto}
.arabic .service-product-name{ text-align:right;}
.arabic .service-beauty-description{ text-align:right; direction:rtl;}

.arabic .car_text{ text-align:right;}
.arabic .car_text_type{ text-align:right;}
.arabic .car_text_type{ float:right;}
.arabic .service_sidebar_list ul li::before {
  right: 0;
  left: inherit;
}
.arabic .service_sidebar_list ul li{ padding-right:15px;}
.arabic .service_sidebar_list ul{ float:right;}
.arabic .service_sidebar_list_title{ text-align:right;}
.arabic .duration{ text-align:right;}
.arabic .beauty-prise{ float:right;}
.arabic .leftbar_title{ text-align:right;}
.arabic .books_male_left{ width:50%; float:right;}
.arabic .choose-line-img {
  left: inherit;
  right: 0;
}
.arabic .checkout-form-cell.fns{ float:right!important;}

.arabic .appointment_row.app_date .checkout-form-cell:first-child {
  width: 49%;
}
.arabic #ptattrsizeenone .checkout-form-top{ text-align:right;}
.arabic #ptattrsizeenone .checkout-small-box{float:right;}
.arabic .buy_rent .books_male_left{ width:auto;}
.arabic .size-chart-line{ text-align:right;}
.arabic .vendor_welc .lang {
  border-left: 1px solid #ccc;
  border-right: 0 none;
  padding-left: 10px;
  position: absolute;
  right: -74px;
  top: 4px;
  left: inherit; width:77px; padding-right:0px;
}

.arabic .curns select{direction: inherit; padding-left: 40px;}
.arabic .main_total {
  background: #f3f3f3 none repeat scroll 0 0;
  direction: rtl;
  float: right;
  font-size: 16pt;
  font-weight: 600;
  margin: 0;
  padding: 25px 20px;
  text-align: left;
  width: 100%;
}
.arabic .total_price{ direction:rtl;float:left;}
.arabic .container_total_price{direction:rtl;}
.arabic .country_row .countrycode {
  left: 107px;

}
.arabic .footer-info-heading{font-family: Tahoma;}
.arabic .tatal-services-heading{font-family: Tahoma;}
.arbic .add-more-btn{font-family: Tahoma;}
.arabic .form-btn{font-family: Tahoma; padding-top:10px; padding-bottom:14px;}
.arabic .tatal-services-heading{font-family: Tahoma;}
.arabic .info_btn a{font-family: Tahoma; padding-top:10px; padding-bottom:14px;}
.arabic .form_title{font-family: Tahoma;}
.arabic .detail_title{font-family: Tahoma;}
.arabic .serv_title{font-family: Tahoma;}
.arabic .reserve_now{font-family: Tahoma;}
.arabic .oops_title{font-family: Tahoma;}
.arabic .oops_btnfont{font-family: Tahoma;}
.arabic .service_popup_title{font-family: Tahoma;}
.arabic .heading{font-family: Tahoma;}
.arabic .food_catg_next{font-family: Tahoma;}
.arabic .add_categ a{font-family: Tahoma;}
.arabic .file-btn-area{font-family: Tahoma;}
.arabic .add_btnrow a{font-family: Tahoma;}

.arabic .service_heading{font-family: Tahoma;}
.arabic .recp_spc .service_quantity_box{    float: right;
    text-align: center;
    width: 100%;}
	.arabic .recp_oty .quantity{ float:right;}
	.arabic .kosha-tolat-prise{direction: rtl;}
	.arabic .singer_price{ text-align:right;}
	.arabic .vendor_reply{ text-align:right; width:100%;}
	.arabic .deny{ padding-right:10px;}
	
.arabic .occasions-shorting-line{float:left}	
.arabic .occasions-shorting-line span, .arabic .occasions-shorting-line select{float:left}	
.arabic .occasions-shorting-line span{margin:8px 0px 0 10px}	
.arabic .hashtag-info-left-section{float:right; padding:0 90px 0 0px}
.arabic .hashtag-info-img{left:inherit; right:0px;}
.arabic .hashtag-info-name{text-align:right}
.arabic .hashtag-info-right-section{text-align:left;}
.arabic .contact_right {
  float: left;
  margin: 0;
  padding: 14px 40px 20px 0;
  width: 60%;
}
.arabic .contact_left {
  float: right;
  margin: 0;
  padding: 0;
  width: 40%;
}
.arabic .contact_left .contact_form_row{ text-align:right;}
.arabic .cont{ text-align:right;}
.arabic .foo-address-line.foo-phone, .arabic .foo-address-line.foo-mail {
  padding: 0 32px 5px 0;
}
.arabic .foo-address-line:before{ right:0px; left:inherit;}
.arabic .usersign-form-bottom .countrycode{left: 92px;}
.arabic .forgot-password{ text-align:right;}
.arabic .left_container .mCustomScrollbar .td{ padding-right:25px;}
.arabic .payment_heading{ text-align:right;}
.arabic .findme{ float:right;}
.arabic .right_click{ width:63px;}
.arabic .sab {
  width: 57%;
  float: left!important;
  word-wrap: break-word;
}
.arabic .tm_for{ float:right;}
.arabic .photographi-left-area{ float:right;}
.arabic .photographi-right-area{ padding-right:30px;}
.arabic .photographi-right-area .checkout-form-cell{ float: right; margin-right:2%; margin-left:0px;}
.arabic .photographi-name, .arabic .photographi-description, .arabic .photographi-qty-line{ text-align:right;}
.arabic .kosha-tolat-prise{ text-align:right;}
.arabic .kosha-button-area{ text-align:right;}
.arabic .kosha-select-cont{   float: right; padding:0px 20px 0px 0px;}
.arabic .kosha-select-img {
  float: right;
  margin: 5px 0 0;
  padding: 0;
  width: 41%;
}
.arabic .kosha-select-prise{ float:right; text-align:right;}
.arabic .kosha-select-name{ text-align:right;}
.arabic .kosha-select-description{ text-align:right;}
.arabic .kosha-select-radieo{ text-align:right;}
.arabic .singer-form-area .checkout-form-cell {float: right; margin: 0 2% 20px 0; padding: 0; width: 48%;}
.arabic .redymades .kosha-tolat-prise{ text-align:center;}
.arabic .redymades .service_quantity_box {
    float: none;
    text-align: center;
    width: auto;
}
.arabic .redymades .kosha-button-area{ text-align:center;}
.arabic .vendor_header_navbar li{ text-align:right;}
.arabic .service-product-description{ text-align:right;}
.arabic .service-display-left p{ text-align:right;}
.arabic .service-radio-box{ float:right;}

.arabic .selection-box-area.reception .selection-box {float: right; margin-left:3%; margin-right:0%; text-align:right;}

.arabic .selection-box-area.reception + .package-form.recp_oty + .kosha-tolat-area .kosha-tolat-prise {text-align: center;}
.arabic .selection-box-area.reception + .package-form.recp_oty + .kosha-tolat-area .kosha-button-area {text-align: center;}
.arabic .package-form.recp_oty .checkout-form-cell {float: right;}
.arabic .package-form.recp_oty .checkout-form-cell:first-child { margin-left:2%;}
.arabic .package-form.recp_oty .checkout-form-cell:last-child {margin-left: 0px;}
.arabic .arbs .checkout-form-cell{ float:right;}
.arabic .checkout-form-cell.full_width {
  width: 100%;
}
.arabic .arbs .info-box50{ float:right;}
.arabic .arbs .checkfile{ float:right;}

@media screen and (max-width:1400px){
.arabic .vendor_header_right {
  padding-left: 51px;
  padding-top: 27px;
}
.arabic .vendor_header_left {
  padding-right: 20px;
}
.arabic .vendor_welc .lang{   right: -40px;}



}


@media screen and (max-width:1000px){
.arabic .vendor_logo{ text-align:right; margin-top:0px;}
.arabic .vendor_header_right{padding-right:0px}
.arabic .vendor_header_right {padding-left: 0;padding-top: 0;}
.arabic .service_detail {float: left; text-align:right;}
.arabic .detail_hall_dimention{float: right;}
.arabic .mobile_fields a{ font-size:12pt; padding:4px 4px 9px;}
.arabic .services_detail{float:right; text-align:right;width:100%; padding-left:0px;}
.arabic .detail_hall_price{text-align:right}
.arabic .service_detail .common_title{text-align:right}
.arabic .detail_facilites_list li{float:right; margin-right:0px;}
.arabic .mobile-filter-line{ margin-bottom:20px;}
.arabic .service-display-left {
  margin-right: 19% !important;
  margin-top: 20px;
  padding-right: 40px !important;
  width: 60%;
}
.arabic .sticky_serivce {
  left: 51px;
}
.arabic .right_nav{ float:left; text-align:left;}
.arabic .nav_row{ float:left;}
.arabic .heamburger {
  cursor: pointer;
  display: inline-block;
  float: right;
  margin-right: 17px;
  margin-top: 10px;
}
.arabic .curns {
  position: absolute;
  right: 64px;
  top: 8px;
  z-index: 2; left:inherit
}
.arabic .basket_icon{ float:left;}



}



@media screen and (max-width:800px){


.arabic .detail_hall_dimention{float:right}
.arabic .services_detail{}
.arabic .service_catagory li{width:33%}
.arabic .vendor_welc .lang {
  right: -77px; width:84px;
}


}
@media screen and (max-width:600px){
.arabic .hashtag-info-right-section{text-align:right}
}
@media screen and (max-width:500px){
.arabic .checkout-form-cell{width:100%;}
.arabic .common_navbar {margin-top:22px;}
.arabic .sticky_serivce{ left:50px;}
.arabic .vendor_welc {
  width: 189px;
}
.arabic .vendor_welc {left: 0px;position: absolute;top: 0;}
.arabic .vendor_cart {float: left;margin-left: 10px;margin-top: 15;text-align: right;}
.arabic .service-display-left {margin-left: 2% !important;margin-right: 2% !important;padding-right: 20px !important;width: 96%;}
.arabic .vendor_header_left {padding-right: 5px;}
.arabic .vendor_logo img {max-width: 120px;}
.arabic .service_catagory li{width:50%}
.arabic .vendor_welc .lang {
  right: 50px;
  width: 84px; top: 47px;
}


}

.arabic .mCustomScrollbar .table .tr .td4{text-align:right}
.arabic .subheading{text-align:right}
.arabic .order_subcol2.buffet-right{float:left}
.arabic .vendor_logo{text-align:right}
.arabic .diamond_box{clear:both}
.arabic .service_quantity_box{float:right; text-align:right; width:auto}
.arabic .book_input{text-align:right}
.arabic .service-display-left.bgs span label{text-align:right}

.arabic .service_catagory input[type="checkbox"]:not(old) + label{background-position:right 0; padding-right:28px}
.arabic .service_catagory input[type="checkbox"]:checked:not(old) + label{background-position: right 2px}
.arabic .service_catagory input[type="radio"]:not(old) + label{background-position:right 0; padding-right:28px}
.arabic .service_catagory input[type="radio"]:checked:not(old) + label{background-position: right 2px}
.arabic .detail_facilites_list li{background-position:right 7px; padding-right:18px}
.arabic .service-display-left select{direction:inherit}
.arabic .bgs .choose-line-radio {
  text-align: right;
}
.arabic .cell-full-width{ width:100%!important;} 
.arabic .recording-area .checkout-form-cell {
  float: right;
  margin: 0 2% 20px 0;
  padding: 0;
  width: 48%;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari and Chrome, if Chrome rule needed */
.arabic .service-display-left select{direction:ltr; padding-left:43px;}

    }
	
.arabic .choose-line-img{float:right}	
.arabic .tft .choose-line-cont{text-align:right; padding-right:10px; padding-left:0px;}
.arabic #shophomevisitcharges{direction:rtl; float:right}


