@charset "utf-8";
/* CSS Document */

body{background:url(../images/body-bg.jpg) repeat top left; font-family: 'Raleway', sans-serif; font-size:11pt;}
.outer_wrapper{position:relative;}
.outer_wrapper:before{content:''; background:url(../images/bg_flower.png) no-repeat top left; width:270px; height:270px; position:absolute; top:0px; left:0px; background-size:83%;}
.outer_wrapper:after{content:''; background:url(../images/bg_flower.png) no-repeat top right; width:270px; height:270px; position:absolute; top:-55px; background-size:78%; right:0px; transform:rotate(90deg);-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);}
.inner_wrap{padding:0 15px; max-width:1310px; width:100%; margin:0 auto}



@media screen and (max-width:1800px){
.outer_wrapper:after{background-size:100%; width:205px; height:205px; z-index:-1; top:0px;}
.outer_wrapper:before{background-size:100%; top:0px;width:205px; height:205px;}

}

@media screen and (max-width:1500px){

.outer_wrapper::before {
  background-size: 100% auto;
  height: 100px;
  top: 0;
  width: 100px;
}
.outer_wrapper:after {
  background-size: 100% auto;
  height: 100px;
  top: 0;
  width: 100px;
  z-index: -1;
}

}