.diamond_main_wrapper{
	position:relative;
	max-width:924px;
	max-height:924px;
	height:924px;
	width:924px;
	margin:auto;
	background:url("../images/diamond/diamond.png");
	background-position: center center !important;
	background-size:cover !important;
	background-repeat:no-repeat !important;
}
.diamond_wrapper_outer {
    width:640px;
	height:640px;
    margin:-320px 0 0 -320px;
	top:50%;
	left:50%;
    position:absolute;
	overflow:hidden;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg); /* Standard syntax */
}
.diamond_wrapper_main {
	position:absolute;
	width:907px;
	height:906px;
    margin:-452px 0 0 -452px;
	top:50%;
	left:50%;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari */
    transform: rotate(-45deg); /* Standard syntax */
}
.diamond_wrapper_inner span{
	display:block;
}
.rows5row .category_wrapper{
	position:relative;
	height:185px;
	background-position: center center !important;
	background-size:cover !important;
	background-repeat:no-repeat !important;
}
.category_wrapper1, .category_wrapper9{
	margin:0px auto;
	width:100%;
}
.category_wrapper2, .category_wrapper3, .category_wrapper7, .category_wrapper8{
	float:left;
	width:50%;
}
.category_wrapper4, .category_wrapper5, .category_wrapper6{
	float:left;
	width:33.333%;
}
.category_wrapper2, .category_wrapper7{
	width:calc(50% - 1px);
	border-right:solid 1px;
}
.category_wrapper5{
	width:calc(33.333% - 2px);
	border-left:solid 1px;
	border-right:solid 1px;
}
.category_wrapper2, .category_wrapper5, .category_wrapper7{
	border-color:#000;
}
.row_1of5, .row_5of5{
	margin:0px auto;
	width:42%;
}
.row_2of5, .row_4of5{
	margin:0px auto;
	/* width:82%; */
	max-width: 84%;
}
.row_3of5{
	width:100%;
}
.category_title{
	position:absolute;
	bottom:0px;
	width:100%;
	padding:9px 0 7px;
	color:#fff;
	text-align:center;
	background:rgba(0,0,0,0.7);
	border-bottom:solid #000 1px;
	font-size:13pt;
	line-height:1;
	white-space:nowrap;
 
}
.category_title:hover{
	/* color:#b3802b; */
}
.rows1row .category_title {
    bottom: 50%;
    border-bottom: none;
}
/*
.category_wrapper9 .category_title{
	bottom:45%;
	border-bottom:none;
}
*/
.category_wrapper2 .category_title_inner,
.category_wrapper3 .category_title_inner{
	width:80%;
}
.category_wrapper4 .category_title_inner,
.category_wrapper6 .category_title_inner{
	width:74%;
}
.category_wrapper7 .category_title_inner,
.category_wrapper8 .category_title_inner{
	width:42%;
}
.category_wrapper2 .category_title_inner,
.category_wrapper4 .category_title_inner,
.category_wrapper7 .category_title_inner{
	float:right;	
}
.category_wrapper3 .category_title_inner,
.category_wrapper6 .category_title_inner,
.category_wrapper8 .category_title_inner{
	float:left;
}
.diamond_shadow{
	vertical-align:top;
	text-align:center;
}
.diamond_shadow img{
	width:80%;
	height:auto;
	max-width:417px;
	margin-top:-1px;
	position:relative;
	z-index:99;
}

.row_1of3, .row_3of3{
	margin:0px auto;
	width:74%;
}
.rows3row, .rows3row .category_wrapper {
    position: relative;
    height: 33.333vw;
	max-height:302px;
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.rows3row .category_wrapper2, .rows3row .category_wrapper3{
	float:none;
	width:100%;
}
.rows3row .category_wrapper1 .category_title_inner,
.rows3row .category_wrapper2 .category_title_inner,
.rows3row .category_wrapper3 .category_title_inner{
	float:none;
	width:100%;
}
.rows3row .category_wrapper3 .category_title{
	bottom:50%;
	border-bottom:none;
}

/* Start Prabhakar CSS */
.rows2row, .rows2row .category_wrapper{position: relative;  height: 50vw; max-height:452px; background-position: center center !important;  background-size: cover !important; background-repeat: no-repeat !important;}
.rows4row, .rows4row .category_wrapper{position: relative;  height: 25vw; max-height:228px; background-position: center center !important;  background-size: cover !important; background-repeat: no-repeat !important;}
.rows1row, .rows1row .category_wrapper {
    position: relative;
    height: 100vw;
    max-height: 935px;
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}



.rows2row .category_wrapper, .rows4row .category_wrapper{width:100%;}
.row_2of2 .category_wrapper .category_title,.row_4of4 .category_wrapper .category_title,.row_5of5 .category_wrapper .category_title{bottom:45%; border-bottom:none;}
/* End Prabhakar CSS */


/* Responsive */

@media only screen and (max-width: 1250px){
.diamond_main_wrapper{
	position:relative;
/*	max-width:724px;
	max-height:724px;*/
	height:724px;
	width:724px;}

.diamond_wrapper_outer {
  height: 503px;
    margin: -251px 0 0 -251px;
    width: 503px;
	}

.diamond_wrapper_main {
	position:absolute;
	width:740px;
	height:740px;
    margin:-430px 0 0 -430px;
	}

}

@media only screen and (max-width: 1000px){
	.diamond_main_wrapper{
		width:100vw;
		height:100vw;
		
	}
	.diamond_wrapper_outer {
		width:70vw;
		height:70vw;
		margin:-35vw 0px 0px -35vw;
	}

	.diamond_wrapper_main {
		position:absolute;
		width:99vw;
		height:99vw;
		margin:-50vw 0px 0px -50vw;
	}
	.rows5row, .rows5row .category_wrapper{
		height:20vw;
	}
	.category_title{
		font-size:14pt;
		line-height:1;
		white-space: normal;
		display:inline-block;
	}
	.category_wrapper9 .category_title{
		bottom:auto;
		top:7vw;
	}
	.rows3row .category_wrapper3 .category_title{
		bottom:auto;
		top:10vw;
	}
}
@media only screen and (max-width: 480px){
	.category_title{
		font-size:8pt;
	}
	.rows3row .category_wrapper3 .category_title{
		bottom:auto;
		top:5vw;
	}
}