#myCart,
#sidebar li a,
.tag {
    font-weight: 700
}
.sold,
.tag {
    position: absolute;
    display: block;
    z-index:1;
}
.alignR,
.para {
    font-family: lato!important
}
#mainBody {
    padding-top: 15px
}
#mainBody_contactus {
    padding-top: 1px
}
#carouselBlk,
header {
    background: 0 0
}
#srchFld {
    background: url(../images/search.png) 4px center no-repeat #fff;
    padding-left: 30px
}
.tag {
    background: url(../images/new.png) no-repeat;
    height: 48px;
    width: 48px;
    padding: 1px;
    color: #fff;
    text-align: left;
}
.table-responsive
{
    width: 100%;
    overflow-x: auto;
}
.sold {
    background: url(../images/sold.png) no-repeat;
    height: 115px;
    width: 150px;
    margin-top: 105px;
    background-repeat: no-repeat;
}
.clr {
    clear: both
}
.cart-table table tbody tr td img
{
	width:60px;
}
.subsc
{
    position: absolute;
    width:100%;
    text-align: center;
    top: 30%;
}
.subsc p
{
    font-size: 25px;
    color:#ffffff;
}
.sub-mit
{
    background:#d82672 ;
}
.sub-mit:hover
{
 background:#d82672 ;
   
}
.cntr {
    text-align: center
}
.marginLess {
    margin: 0
}
.cardItem
{
    margin-top: 20px;
    display: inline-block;
    float: right;
}
.res-proc2
{
    display: inline-block;
    vertical-align: top;
}
.producttypeform
{
    margin-top: 10px;
}
#logoArea a.align_brn {
    line-height: 25px
}
#jquery-lightbox,
#lightbox-loading {
    line-height: 0;
    position: absolute;
    left: 0;
    width: 100%
}
#logoArea .btn,
#logoArea .btn-group {
    margin-top: 0
}
#logo {
    padding-right: 28px
}
#welcomeLine {
    padding: 6px 0 4px;
    background: #d82672;
    height: 34px
}
#myCart img {
    float: left;
    margin-right: 8px
}
#myCart .badge {
    padding: 9px
}
#myCart {
    font-size: 13px;
    line-height: 33px
}
#sidebar ul ul li a {
    font-size: 12px
}
#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%
}
#sidebar li a {
    color: #000;
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
    background: -webkit-linear-gradient(top, #fff 0, #f6f6f6 47%, #ededed 100%);
    background: -o-linear-gradient(top, #fff 0, #f6f6f6 47%, #ededed 100%);
    background: -ms-linear-gradient(top, #fff 0, #f6f6f6 47%, #ededed 100%);
    background: linear-gradient(to bottom, #fff 0, #f6f6f6 47%, #ededed 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0)
}
#sidebar ul li li a {
    padding-left: 2px;
    font-weight: 400;
    display: block;
    font-size: 13px;
    line-height: 16px
}
.fo
{
    overflow: hidden;
}
.thumbnail>a {
    display: block;
    text-align: center
}
#myCarousel .carousel-caption,
#myCarousel .carousel-control {
    display: none
}
.thumbnail h5,
.thumbnail p {
    text-align: center
}
.alignR {
    text-align: center;
    border-top: 1px solid #5D5B5B;
    padding-top: 14px;
    font-size: 13px;
    letter-spacing: .5px
}
.alignL,
.control-label.alignL {
    text-align: left
}
.loginFrm {
    margin-bottom: 8px;
    font-family: lato
}
.loginFrm .control-group {
    padding: 8px 14px 0;
    margin-bottom: 0
}
.checkbox input[type=checkbox] {
    margin: 4px 0 8px -20px
}
#sm {
    text-align: right
}
.search-inner
{
    width: 100%;
}
#sm a {
    margin: 4px;
    width: 32px
}
#myCarousel {
    text-align: center;
    margin-bottom: 0
}
#myCarousel .btn {
    position: absolute;
    bottom: 10%;
    right: 17%;
    padding: 2% 6%;
    z-index: 9999
}
#myCarousel.homCar .item img {
    width: 100%;
    max-height: 506px
}
#productView .btn-toolbar {
    padding-left: 3px
}
#productDetail>li,
.nav-pills>li {
    float: right
}
#accordion2,
#legalNotice,
#mainCol,
#myTabContent,
.justify {
    text-align: justify
}
#legalNotice ul li
{
    margin-left: 15px;
}
#compairTbl td,
#jquery-lightbox,
#lightbox-loading {
    text-align: center
}
#myCarousel:hover .carousel-control {
    display: block
}
.navbar .nav>.active>a,
.navbar .nav>.active>a:focus,
.navbar .nav>.active>a:hover {
    color: #d82672;
}
#footerSection {
    background: #202020;
    color: #fff;
    padding: 20px 0 3px;
    margin-top: 20px;
    border-top: 1px solid #444;
    bottom: 0;
    left: 0;
    right: 0
}
#footerSection a {
    color: #ccc;
    font-size: 14px;
    padding-bottom: 5px;
    line-height: 24px;
    display: block
}
#footerSection a:hover {
    color: #fff
}
#footerSection #socialMedia a {
    min-width: 25px;
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 5px;
}
#footerSection #socialMedia a:hover {
    background: 0 0
}
#jquery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 500px
}
#jquery-lightbox {
    top: 0;
    z-index: 100
}
#jquery-lightbox a img {
    border: none
}
.store-view-branch
{
    width: 100%;
    margin: auto;
    text-align: center;
}
.store-view-branch ul li
{
list-style: none;
    width: 23%;
    display: inline-block;
    margin: 10px;
    text-align: left;
}
#lightbox-container-image-box {
    position: relative;
    background-color: #fff;
    width: 250px;
    height: 250px;
    margin: 0 auto
}
#lightbox-container-image {
    padding: 10px
}
#lightbox-loading {
    top: 40%;
    height: 25%
}
#lightbox-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10
}
#lightbox-container-image-box>#lightbox-nav {
    left: 0
}
#lightbox-nav a {
    outline: 0
}
#lightbox-nav-btnNext,
#lightbox-nav-btnPrev {
    width: 49%;
    height: 100%;
    zoom: 1;
    display: block
}
#lightbox-nav-btnPrev {
    left: 0;
    float: left
}
#lightbox-nav-btnNext {
    right: 0;
    float: right
}
#lightbox-container-image-data-box {
    font: 10px Verdana, Helvetica, sans-serif;
    background-color: #fff;
    margin: 0 auto;
    line-height: 1.4em;
    overflow: auto;
    width: 100%;
    padding: 0 10px
}
#lightbox-container-image-data {
    padding: 0 10px;
    color: #666
}
#lightbox-container-image-data #lightbox-image-details {
    width: 70%;
    float: left;
    text-align: left
}
#lightbox-image-details-caption {
    font-weight: 700
}
#lightbox-image-details-currentNumber {
    display: block;
    clear: left;
    padding-bottom: 1em
}
#lightbox-secNav-btnClose {
    width: 66px;
    float: right;
    padding-bottom: .7em
}
[class*=" icon-"],
[class^=icon-] {
    background-image: none;

}
.navbar .nav>li>a {
    padding: 10px 32px 10px;
    color: #fff;
    text-shadow: none
}
.navbar .nav>li>a:hover {
    color: #fff !important;
    background: #d82672;
}
.alignR .checkbox input[type=checkbox] {
    float: right;
    margin: 4px 0 8px 11px
}
#sideManu,
.navbar .nav.pull-right {}#logoArea #smallScreen {
    margin: 21px 14px 0 0
}
.navbar-search {
    margin-top: 20px;
    margin-right: 20px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    float: right;


}
.wishlist-page .modal
{
position: absolute;
}
.center_banner
{
    text-align: center;
}
.centered_img1
{
  width: 68%;
    display: inline-block;
    text-align: center;
    margin: auto;
}
.centered_img2
{
    width: 49%;
  display: inline-block;
  text-align: center;
  margin: auto;
}
.centered_img3
{   width: 33%;
   margin: auto;
  display: inline-block;
  text-align: center;
}
@media (min-width: 768px) and (max-width:1024px) {
.centered_img3
{
    width: 100%;
    margin: auto;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    }
    .centered_img2
{
    width: 100%;
    margin: auto;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    }
    .centered_img1
{
    width: 100%;
    margin: auto;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .name-letter
    {
        margin: 10px;
    }
    .navbar .brand {
        float: none;
        text-align: center
    }
    .navbar-search {
        margin-top: 8px
    }
    #topMenu,
    #topMenu li {
        float: none;
        margin-left: 10px;
    }
    .navbar .nav>li>a {
        padding-left: 24px;
    }
    #sideManu,
    #topMenu {
        height: 0
    }
}
@media (max-width: 767px) {
    #success {
    width: 50% !important;
   
    right: 20% !important;
}
    .centered_img1
    {
        width: 100%;
        margin-bottom: 10px;
    }
    .centered_img2
    {
        width: 100%;
        margin-bottom: 10px;
    }
    .centered_img3
    {
        width: 100%;
        margin-bottom: 10px;
    }
     .footerTopimg .span6 {
        width: 100% !important;
    }
    .min_max_div
    {
        padding-right:5px !important;
        padding-left:5px !important; 
    }

.spec-label
{
    width: 50%;
}
.spec-right
{
    width: 50%;
}
.policy-container
{
    width: 70% !important;
}
.Ratings-review
{
    padding: 0px;
}
.pro-left {
    width: 100%;
    float: none;
}
.pro-right
{
    width: 100%;
    float: none;
    padding-left: 5px;
}
.details-left
{
 width: 100%;
    float: none;
}
.Priec-right
{
     width: 100%;
    float: none;
}
.details-left-label
{
    
    text-align: left;
}
 #addtocart_qty {
        width: 30%;
    }
    .reviews-single-left
    {
        width: 100%;
    }
    .reviews-single-right
    {
        text-align: center;
        width: 100%;
padding:0px 15px;
box-sizing: border-box;
    }
    .reviews-single-right p
    {
        text-align: left;
    }
    .name-letter
    {
        float: none ;
        text-align: center;
        margin: 20px auto 0px;

    }
    .review-title h5
    {
        width: 100%;
    }
    .pro-store-left
    {
        width: 100%;
    }
    .store-right
    {
        width: 100%;
    }
    #topMenu,
    #topMenu li {
        float: none
    }
    .navbar .brand {
        float: none;
        text-align: center
    }
    #header {
        margin: 0 -20px
    }
    #sideManu,
    #topMenu {
        height: 0
    }
    .navbar-search {
        margin-top: 8px
    }
    #topMenu {
        height: auto
    }
    .navbar .nav>li>a {
        padding-left: 25px
    }
}
@media (max-width: 480px) {
    .ship-pro-det
    {

    }
    .ship-pro-det-top
{
 display:block;   
}
    #topMenu,
    #topMenu li {
        float: none
    }
    #header {
        margin: 0 -20px
    }
    #sideManu,
    #topMenu {
        height: 0
    }
    #topMenu {
        height: auto
    }
    .navbar .nav>li>a {
        padding: 0
    }
}
.fot,
.header-left {
    float: left
}
@media (min-width: 768px) and (max-width: 1024px) {

    .images_place {
        width: 115px!important
    }
}
@font-face {
    font-family: lato;
    src: url(../font/lato.otf)
}
@font-face {
    font-family: Anivers_Regular;
    src: url(../font/Anivers_Regular.otf)
}
.para {
    font-size: 14px!important;
    color: #fff!important;
    letter-spacing: .5px!important
}
.heading,
.para-nav,
.pro-txt {
    letter-spacing: .5px;
    font-family: lato!important
}
.para-nav {
    font-size: 14px!important;
    color: #fff;
    text-transform: uppercase!important
}
.fo-he,
.heading,
.sale-title {
    text-transform: uppercase
}
.heading {
    color: #22536B
}
.pro-txt {
    font-size: 14px;
    color: #fff
}
.span3 {
    width: 270px;
    font-family: lato!important;
    font-size: 16px;
    letter-spacing: 1px
}
.span2 {
    width: 21%!important;
    font-family: lato!important;
    letter-spacing: 1px!important
}
.product-info {
    background: url(../../images/price-border.png) 0 repeat-y;
    border-top: 1px solid #E9E9E9;
    padding-top: 5px;
    padding-bottom: 5px
}
.product-info-cust {
    float: left;
    width: 70%;
    padding-top: 5px!important;
    text-align: center
}
#loginpassword
{
    box-sizing: border-box;
}
li .icon-large[class*=" icon-"],
li .icon-large[class^=icon-] {
    width: 1.1em!important
}
.sale-title-line-l,
.sale-title-line-r {
    width: 298px;
    height: 34px;
    top: 10px;
    display: inline-block;
    position: relative;
    background: url(../../images/sale-sep-title-left.png) no-repeat
}
.sale-title-line-r {
    background: url(../../images/sale-sep-title-right.png) no-repeat
}
.gllpMap {
    width: 100%;
    height: 228px
}
.style-1 li,
.style-2 li {
    height: 50px
}
.sale-title {
    color: #d82672;
    font-size:20px;
    text-align: center;
    font-family: lato!important;
    margin: 0;
    padding: 20px 0 20px;
    display: block;
}
.style-1 li span,
.style-2 li em {
    text-align: right
}
#socialMedia ul
{
margin-top: 0px;
}
.fot {
    list-style-type: none;
       max-height: 250px;
     overflow-y: auto;
}
.header-grid {
    padding: .3em 0;
    background: #2f2f2f
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
.header-left ul li,
.header-right ul li {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    margin: 0 1em
}
.header-left ul li i,
.header-right ul li i {
    left: -.5em
}
.header-left ul li a,
.header-right ul li a {
    text-decoration: none;
    color: #fff
}
.header-right {
    float: right;
    margin-top: 5px
}
.header-right1 {
    float: left;
    margin-top: 7px
}
.searchss {
    float: left
}
.header-middle input[type=search] {
    outline: 0;
    border: none;
    width: 100%;
    color: #848484;
    font-size: 16px;
    border-right: 1px solid #D4D4D4
}
.section_room {
    float: left;
    width: 33%
}
.section_room select {
    padding: 13px 10px;
    width: 100%;
    font-weight: 400;
    border: none;
    color: #848484;
    outline: 0;
    font-size: 16px;
    margin-bottom: 0;
    background: url(../images/arrow.png) 92% center no-repeat #fff;
    background-size: 5%!important;
    -webkit-appearance: none
}
.section_room select option {
    line-height: 1.8em
}
.sear-sub {
    float: right;
    width: 10%
}
.header-middle form input[type=submit] {
    background: url(../images/search.png) 4px 0 no-repeat #fda30e;
    width: 100%;
    height: 50px;
    padding: 0;
    border: none;
    outline: 0
}
.style-1,
.style-2 {
    width: 350px;
    list-style-type: none
}
.sub-but {
    background: #d82672;
    color: #fff;
    margin-bottom: 30px;
    font-family: lato!important;
    border: none;
    padding-top: 6px;
    border-radius: 3px;
    padding-bottom: 3px;
    float: left;

}
/*March 6*/

.wish-but {
    background: #d82672;
    color: #fff;
    font-family: lato!important;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    padding: 5px;
}
.wish-but:hover{
    color:#000000;
    }
.commentlist .head,
.head,
.reviewer-imgName,
.style-1 li,
.textt {
    font-family: lato
}
section {
    vertical-align: top;
    margin-top: 20px
}
section:nth-of-type(odd) {
    margin-right: -13px
}
.style-1 {
    padding: 0
}
.style-1 li {
    position: relative
}
.style-1 li em,
.style-1 li span {
    display: block;
    border-bottom: 5px solid #FFE5E5;
    padding-bottom: 5px
}
.style-1 li em {
    font-style: normal;
    border-bottom-color: #DB6B6B;
    position: absolute;
    overflow: visible;
    -webkit-animation: grow-width 2s;
    animation: grow-width 2s
}
.style-2 {
    padding: 0
}
.style-2 li em,
.style-2 li span {
    padding: 5px 10px
}
.style-2 li em {
    font-style: normal;
    float: left;
    width: 85px
}
.style-2 li span {
    display: inline-block;
    background: #FFE5E5;
    overflow: visible;
    -webkit-animation: grow-width 2s;
    animation: grow-width 2s
}
.commentlist .userimg {
    float: left;
    font-size: 12px;
    line-height: 17px
}
.commentlist .userimg span {
    margin-top: 10px;
    display: block
}
.reviewer-imgName {
    padding-left: 2px;
    font-size: 25px;
    line-height: 54px;
    color: #fff;
    text-align: center;
    width: 55px;
    height: 55px;
    margin-top: 0;
    border-radius: 50%;
    background: url(/img/snapdeal/qna/Qna_Sprite.png) 0 -365px no-repeat;
    display: inline-block
}
._reviewUserName {
    height: 14px;
    text-overflow: ellipsis;
    display: inline-block;
    -webkit-line-clamp: 1;
    line-height: 13px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 12px;
    max-width: 80px;
    white-space: nowrap
}
.commentlist .text {
    border: 1px solid #e9e9e9;
    margin-left: 94px;
    border-radius: 3px;
    position: relative;
    margin-top: 22px
}
.commentlist .text:before {
    border-color: transparent #d82672 transparent transparent;
    left: -19px;
    z-index: 1
}
.commentlist .text:after,
.commentlist .text:before {
    position: absolute;
    border-width: 10px;
    content: "";
    border-style: solid;
    top: 26px
}
.commentlist .text .user-review {
    padding: 25px 35px 0
}
.commentlist .date {
    font-size: 10px;
    line-height: 14px;
    float: right;
    color: #ababab
}
.commentlist .head {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 8px;
    white-space: pre-wrap;
    font-weight: 600
}
.commentlist p {
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 20px;
    white-space: pre-wrap;
    word-wrap: break-word
}
.commentlist .text:after {
    border-color: transparent #e9e9e9 transparent transparent;
    left: -20px
}
#contact #contact-types {
    position: relative;
    background-color: #2f3234;
    max-width: 940px;
    margin: 20px auto 35px;
    height: 441px
}
#contact #contact-types .work {
    float: left;
    width: 28%;
    padding: 50px 11% 20px
}
#contact #contact-types>div {
    position: relative
}
#contact #contact-types h2 {
    color: #fff;
    font-family: lato;
    font-size: 35px;
    line-height: 64.8px;
    margin-bottom: 20px
}
#contact #contact-types p {
    color: #fff;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 37px
}
.textt,
.textt a {
    color: #fff!important
}
#contact #contact-types .play {
    background-color: #43aaa3;
    float: right;
    width: 26%;
    padding: 50px 11% 20px 7%;
    height: 371px
}
#contact #contact-types .play .diagonal {
    line-height: 1em;
    height: 0;
    border-width: 0 0 441px 100px;
    border-style: solid;
    border-color: transparent #43aaa3 #43aaa3 transparent;
    left: -100px;
    top: 0;
    position: absolute;
    -moz-transform: scale(.9999)
}
.textt {
    font-size: 20px;
    line-height: 1.8em
}
input[type=text],
textarea {
    font-family: lato!important;
    border-radius: 0;
    margin-bottom: 15px;
    box-sizing: border-box;
}
input[type=submit].btn.btn-large {
    font-family: lato!important
}
.fo li,
.fo-he,
.panel-body {
    font-family: lato
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}
.panel-primary>.panel-heading {
    background-image: -webkit-linear-gradient(top, #337ab7 0, #2e6da4 100%);
    background-image: -o-linear-gradient(top, #337ab7 0, #2e6da4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
    background-image: linear-gradient(to bottom, #337ab7 0, #2e6da4 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
    background-repeat: repeat-x;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}
.panel-primary {
    border-color: #337ab7
}
.panel-body {
    padding: 15px;
    color: #1F1F1F;
    line-height: 1.8em
}
.fo-he {
    color: #036B4E;
    padding-bottom: 7px;
    padding-top: 0
}
.fo li {
    color: #00213C;
    padding-bottom: 4px;
    padding-top: 4px;
    list-style-type: none;
    line-height: 1.7em;
    font-size: 15px;
   
}
.panel-deal {
    background: #202020;
    padding: 7px;
    color: #fff!important;
    margin-top: -14px;
    margin-left: -14px;
    margin-right: -14px
}
.width-deal {
    width: 250px!important
}
.btn.btn-line {
    border: 1px solid #0462AD;
    color: #0462AD;
    background: 0 0;
    z-index: 13;
    text-shadow: none;
    font-weight: 400;
    font-size: 15px
}
.btn.btn-line:hover {
    background: #0462AD;
    color: #fff;
    text-shadow: none;
    border: none
}
.no-js #loader {
    display: none
}
.js #loader {
    display: block;
    position: absolute;
   
    top: 0
}
.se-pre-con {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../../images/loading_cart.gif) center no-repeat #fff
}
.deal-wid {
    width: 580px;
    margin-left: 16px
}
.header-rights {
    float: right;
    margin-top: 5px
}
.header-lefts {
    float: left
}
@media only screen and (min-width: 240px) and (max-width: 480px) {
    .header-left,
    .header-lefts {
        display: none!important
    }
    .subsc {
        width: 100%!important
    }
    .fb-log,
    .subsc-textbox {
        position: inherit!important
    }
    .navbar .btn-navbar,
    .navbar .btn-navbar:hover {
        background-color: #ff9800
    }
    #countdown,
    .res-flo {
        float: none!important
    }
    #register_submit,
    .width-textsub {
        margin-left: 0!important;
        display: inherit;
    }
    .header-right {
        margin-right: 31%!important
    }
    .subsc {
       top: 10%;
    }
    .fb-log {
        margin-top: 0!important
    }
    .header-rights {
        padding-right: 9%!important
    }
    .login-me {
        padding-right: 8%!important
    }
    .mob-cart {}#searchbox {}.navbar-search .srchTxt {
        width: 100%;
    }
    .navbar-search {
        margin-left: -5px;
        margin-right: 5px
    }
    #topMenu {
        width: 95%!important;
        padding-left: 6px;
        border: none
    }
    .hide-mob {
        display: block;
    }
    #demo {
        margin-left: 0!important
    }
    .mob-contact,
    .mob-news,
    .mob-payment {}.mob-news {}.mob-payment {}.product {
       
    }
    .jplist-grid-view .list-item {
        height: 300px;
        overflow: hidden;
        width: 138px!important;
    }
    .img-res,
    .span2,
    .tab-res {
        width: 100%!important
    }
    .cart-res {
        margin-top: -67px
    }
    .wish-but {
      
    }
    .MagicZoomPup {
        display: none!important
    }
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }
    .res-cont1 {
        margin-top: 37px;
        margin-bottom: 23px;
        margin-right: 56px
    }
    .res-cont2 {
        margin-left: 56px;
        margin-bottom: 17px
    }
    .res-proc1,
    .res-proc2 {
        margin-right: 52px
    }
    .alert-danger {
        display: inline-block
    }
    .wid {
        margin-right: 8%!important
    }
    .deal-wid {
        width: 100%!important;
        margin-top: 10px;
        margin-left: 0!important
    }
    .res-qty {
        width: 50%!important;
        margin-left: 15px!important
    }
    #countdown {
        width: 100%!important;
        font-size: 1em!important
    }
    hide-mob {
        display: none
    }
}
@media only screen and (min-width: 480px) and (max-width: 640px) and (orientation: landscape) {
    hide-mob {
        display: none
    }
    .store-res {
        width: 42%!important;
        float: right!important;
        margin-right: 28px
    }
    .img-res {
        width: 100%!important
    }
    #topMenu {
        width: 95%!important;
        padding-left: 18px;
        border: none
    }
    .compare__item .action--buy {
        margin-left: 33px;
        display: block
    }
    .brand {
        margin-left: -55%!important
    }
    #smallScreen {
        margin-right: 4%!important
    }
    .mob-cart {
      
    }
    .flexbox .product {
        -webkit-flex: 0 0 21em;
        -ms-flex: 0 0 21em;
        flex: 0 0 21em!important
    }
}

@media only screen and (min-width: 770px) and (max-width: 991px) {

.customBlock {
        width: 29.3%!important;
        float: left!important;
    }
}

@media only screen and (min-width: 481px) and (max-width: 769px) {

.customBlock
{
    width:45%!important;
        float: left!important;
        margin:2% !important;
}

    }
@media only screen and (min-width: 480px) and (max-width: 640px) {
    .subsc,
    .width-textsub {
        width: 100%!important
    }
    .fb-log,
    .subsc-textbox {
        position: inherit!important
    }
    .navbar .btn-navbar,
    .navbar .btn-navbar:hover {
        background-color: #ff9800
    }
    .header-lefts {
        display: none!important
    }
    .header-rights {
        margin-right: 22%!important
    }
    .header-right {
        margin-right: 25px!important
    }
    #register_submit,
    .width-textsub {
        margin-left: 0!important
    }
    .subsc {
        
    }
    .fb-log {
        margin-top: 0!important
    }
    .res-cont1 {
        margin-top: 37px;
        margin-bottom: 23px;
        margin-right: 56px
    }
    .res-cont2 {
        margin-left: 56px;
        margin-bottom: 17px
    }
    .res-proc1,
    .res-proc2 {
        margin-right: 52px
    }
    .alert-danger {
        display: inline-block
    }
    .store-res {
        width: 42%!important;
        float: right!important;
        margin-right: 28px
    }
    .MagicZoomPlus:hover {
        display: none!important
    }
    .compare__item .action--buy {
        margin-left: 33px!important;
        display: block
    }
    .navbar .btn-navbar {
        background-image: linear-gradient(to bottom, #FF9800, #FF9800)
    }
    .mob-cart {
        
    }
   
    
    .hide-mob {
        display: block;
    }
    #demo {
        margin-left: 0!important
    }
    .mob-contact,
    .mob-news,
    .mob-payment {}.mob-news {}.mob-payment {}hide-mob {
        display: none
    }
    .MagicZoomPup {
        display: none!important
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .navbar .btn-navbar,
    .navbar .btn-navbar:hover {
        background-color: #ff9800
    }
    .hid-tab,
    .mob-news,
    .mob-payment {
        display: none
    }
    .deal-wid,
    .marg {
        margin-left: 0!important
    }
    .navbar-search {
        width: 30%
    }
    .mob-cart {
        padding-left: 14%!important
    }
    #topMenu {
        border: none!important
    }
    .navbar .btn-navbar {
        background-image: linear-gradient(to bottom, #FF9800, #FF9800)
    }
    .view {
        font-size: 100%!important
    }
    .product {
        width: 164px!important
    }
    .font-tab {
        font-size: 13px!important
    }
    .tab-title {
        font-size: 12px!important
    }
    .filt {
        width: 113px!important
    }
    .jplist-reset-btn {
        width: 86px!important
    }
    .tab-sold-wid {
        width: 29% !important;
    }
    .s_detail {
        font-size: 13px!important
    }
    .tab-res {
        width: 38%!important
    }
    .cart-res {
        padding-left: 12px!important;
        padding-right: 12px!important
    }
    .wish-but {
        padding-left: 6px;
        padding-right: 6px
    }
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }
    .check-wid {
        width: 25%!important
    }
    .deal-wid {
        width: 368px!important
    }
    #countdown {
        width: 100%!important;
        float: none!important;
        font-size: 1em!important
    }
    .res-flo {
        width: 37%!important
    }
    .rank,
    .store-img {
        width: 100%!important
    }
    .store-img {
        height: 400px!important
    }
    .store-map {
        height: 217px!important
    }
    .store-product {
        width: 216px!important
    }
    .blog-img,
    .subsc-img {
        width: 100%!important
    }
    .tab-store-title {
        font-size: 12px!important
    }
    .blog-pad {
        margin-right: 25px
    }
    .flexbox .product {
        -webkit-flex: 0 0 19.5em!important;
        -ms-flex: 0 0 19.5em!important;
        flex: 0 0 19.5em!important
    }
    .subsc-textbox {
        float: left!important;
        margin-bottom: -20px!important;
        top: 515px!important
    }
    .subsc {
        font-size: 18px!important
    }
    .width-textsub {
        width: 90%!important
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .navbar .nav>li>a {
        padding: 7px 10px 0 57px!important
    }
    .tab-add {
        width: 100%!important
    }
    .tab-land-wid {
        width: 97% !important;
        margin-right: 20px;
    }
    .mob-news {
        width: 25%!important;
       
    }
    .deal-wid,
    .marg {
        margin-left: 0!important
    }
    .jplist-reset-btn {
        width: 100px!important
    }
    .tab-produ-view {
        width: 359px!important
    }
    .tabland-deal-img {
        width: 200px!important
    }
    .deal-wid {
        width: 448px!important
    }
    .cart-res {
        padding-left: 11px!important;
        padding-right: 11px!important
    }
    .wish-but {
        padding-left: 4px!important;
        padding-right: 4px!important
    }
    .width-deal {
        width: 32%!important
    }
    .rank,
    .tab-store-img {
        width: 100%!important
    }
    .tab-land {
        width: 32%!important
    }
    .tab-title {
        font-size: 12px!important
    }
    .blog-img {
        width: 100%!important
    }
    .blog-pad {
        margin-right: 25px
    }
}
.home-heading {
    color: #d82672;
    font-weight: normal;
    margin-bottom: -4px;
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 20px;
}
.btn-warning {
    
}
.action--button {
    background: #343434 !important;
}
.action--compare-add {
    color: #d82672 !important;
    border: 1px solid #d82672 !important;
}
.action--compare-add:hover {
    color: #343434 !important;
    border: 1px solid #343434 !important;
}
.align_brn {
    background: #d82672 !important;
}
.align_brn:hover {
    background-color: #d82672 !important;
}
.action--button:hover {
    background: #d82672 !important;
}
#sidebar .thumbnail {
   margin-bottom: 20px;
   
}
.breadcrumb {
    background-color: #d82672 !important;
}
.me_btn {
    background: #d82672 !important;
}
.techSpecRow {
    background: #d82672 !important;
}
.btn.btn-line:hover {
    background: #d82672 !important;
    color: #fff !important;
}
.btn.btn-line {
    border: 1px solid #d82672 !important;
    color: #d82672 !important;
}
.username-head {
    color: #131313 !important;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: lato !important;
}
.compare-basket--active .action--compare:nth-child(4) {
    background-color: #494BC7 !important;
}
.product__price {
    color: #d82672 !important;
    font-size: 17px !important;
    font-weight: normal !important;
}
#searchbox {
    margin-left: 10px;
    box-shadow: 0 2px 0 #d82672;
    height: 30px;
    padding: 0px 5px;
}
.simple-form-button {
    background: #d82672 !important;
}
.panel-primary>.panel-heading {
    background: #d82672 !important;
    border-color: #d82672 !important;
}
.panel-primary {
    border-color: #d82672;
}
.navbar .nav>li:first-child>a {
    border-left: none !important;
}
.dolor_text {
    color: #d82672 !important;
    font-size: 17px !important;
    font-family: lato !important;
    font-weight: normal !important;
}
.menu-bgg {
    background: #131313;
    border-radius: 0px;
    overflow: hidden;
    border-bottom: 1px solid #D6D6D6;
    margin-bottom: 10px;
    border-top: 1px solid #D6D6D6
}
.side-menu-head {
    padding: 9px;
    font-family: lato;
    text-transform: uppercase;
    font-size: 13px;
    background: #d82672;
    color: white;
    -webkit-border-top-left-radius: 7px;
-webkit-border-top-right-radius: 7px;
-moz-border-radius-topleft: 7px;
-moz-border-radius-topright: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
}
.home-pro {
    background: #fff
}
.product:hover {
    box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.1);
    background: #f7f7f7;
   /* border: 1px solid #E0E0E0;*/
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
   
}
.jplist-panel button {
    background: #d82672;
}
ul#css3menu1 li:hover>a,
ul#css3menu1 li a.pressed {
    color: #d82672;
}
@media (max-width: 800px) {
    .adwlpvw {
        margin-bottom: 0;
        width: 40%;
    }
    span.out-of-stock.otstckpvw {
        margin-top: 0;
        width: 40%;
        padding: 19px 10px;
    }
}
@media (max-width: 1024px) {
    .span9.tab-land-wid {
        width: 68% !important;
    }
}
@media (max-width: 640px) {
    span.out-of-stock.otstckpvw {
        margin-top: 23px;
    }
}
@media (max-width: 480px) {
    .your-review .form-horizontal .control-label
    {
        display: block;width: 100%;
    }
    .review-page-title
    {
        width: 100%;
    }
    .jplist-drop-down
    {
        /*display: block;
        float: none !important;*/
    }
    .jplist-reset-btn
    {
        display: block;
        float: none !important;
    }
    .navbar .brand {
        margin-left: -44% !important;
    }
    #prdcontnr {
        width: 100%;
        margin-left: 50px;
    }
    .adwlpvw {
        width: 100%;
    }
    span.out-of-stock.otstckpvw {
        width: 100%;
        padding: 19px;
        float: left;
    }
}
@media only screen and (min-width: 430px) and (max-width: 767px) {
    .row-fluid .span6 {
        width: 48% !important;
        float: left !important;
        text-align: center;
    }
}
@media ( -width: 414px) {
    .navbar .brand {
        margin-left: -34% !important;
    }
    .befrlogwhbtn {
        padding: 7px 10px;
        margin-top: -155px;
    }
    .adwlpvw {
        position: relative;
        top: 122px;
    }
}
@media (max-width: 412px) {
    #myTab li
    {
        width: 50%;
    }
     .jplist-drop-down
     {
        display: block;clear: both;
     }
    .befrlogwhbtn {
        padding: 1px 10px;
        margin-top: -155px;
    }
}
@media (max-width: 375px) {
    .navbar .brand {
        margin-left: -27% !important;
    }
}
@media (max-width: 360px) {

    .navbar .brand {
        margin-left: -26% !important;
    }
    .befrlogwhbtn {
        padding: 1px 3px;
        margin-top: -153px;
    }
    .mob-cart {
        width: 100%;
        text-align: center;
    }
    .navbar-search {}
}
@media (max-width: 320px) {
    .navbar .brand {
        margin-left: -17% !important;
    }
    span.out-of-stock.otstckpvw {
        margin-top: 43px;
    }
}
@media (max-width: 429px) {
    .row-fluid .span6 {
        text-align: center;
    }
}
/*Micheal*/

.wish-but {} .productListing.deslListing {
    width: 31.8%!important;
}
.customCategories.products {
    margin-right: 20px;
}
.productListing {
    width: 30%!important;
}
.compare_product_fixedbtn {
    background-color: #d82672;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #d82672;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    width: 160px;
}
#comp_myprod {
    position: fixed;
    bottom: 15px;
    right: 10px;
    z-index: 99;
    display: none;
}
.compare_product_fixedbtn a {
    color: #fff;
    font-weight: normal;
    text-align: center;
}
.compare_product_fixedbtn a:focus {
    outline: none;
}
.compare_product_fixedbtn span {
    border: 2px solid #fff;
    padding: 2px 7px;
    margin-left: 6%;
}
.ui-group-buttons .or {
    position: relative;
    float: left;
    width: .3em;
    height: 2.3em;
    z-index: 3;
    font-size: 11px;
    background: #5a5a5a;
}
.ui-group-buttons .or:before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: 'or';
    background-color: #5a5a5a;
    margin-top: -.1em;
    margin-left: -.9em;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.55;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    border-radius: 500px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 9;
}
.ui-group-buttons .or:after {
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
    width: .3em;
    height: 2.64em;
    background-color: #5a5a5a;
    border-top: .6em solid #5a5a5a;
    border-bottom: .6em solid #5a5a5a
}
.ui-group-buttons {
    display: inline-block;
    vertical-align: middle
}
.ui-group-buttons:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
.ui-group-buttons .btn {
    float: left;
    border-radius: 0
}
.ui-group-buttons .btn:first-child {
    margin-left: 0;
    border-top-left-radius: .25em;
    border-bottom-left-radius: .25em;
    background: #d82672;
}
.ui-group-buttons .btn:last-child {
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
    padding-left: 15px;
    background: #d82672;
}
.compare_prod {
    color: #d82672 !important;
    border: 1px solid #d82672 !important;
    display: inline-block;
    font-size: 0.9em;
    white-space: nowrap;
    cursor: pointer;
    background: transparent;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 3px 7px 3px 7px;
}
.navbar-search input[type="text"]:focus {
    border: 1px solid #d82672 !important;
}
.selectboxSearch,
.searchFilter {
    /*line-height: normal;*/
}
.product-info {
    border: 1px solid #E9E9E9;
}
.srchTxt{
    /*  box-shadow: 0 2px 0 #d82672;*/
    border-bottom:2px solid #d82672;

    }
.navbar-search .srchTxt {
    border-radius: 0px;
    float: left;
    height: 32px;
}
.navbar-search select
{
    line-height:26px;
} 
.navbar-search select:focus {
    border: 1px solid #d82672;
}
.navbar-search select option {
    padding: 5px 0px;
    margin: 5px 0px;
}
.header-right .textDecoration:hover {
    text-decoration: underline;
}
.frontImg a {
    position: relative;
    /*width: 381px;*/
    
    height: 215px;
    display: block;
    overflow: hidden;
    background-color: #fff;
}
.frontImg a img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.newProduct a {} .marginHeading {
    margin: 30px 0px;
}
.navbarContainer form {
  width: auto;
}
.footer {
    width: 100%;
    margin: auto;
    text-align: center;
}
.mob-news h5
{
    text-transform: uppercase;
}
.mob-news {
    width: 19%;
    display: inline-block;
    text-align: left;
     height: 300px;
}
.mob-contact {
    width: 19%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
      height: 300px;

}
#footerSection  {
   
}
#socialMedia {
    width: 19%;
    display: inline-block;
    vertical-align: top;
    margin: 0px 5px;
    text-align: left;
    height: 300px;

}
#socialMedia ul li {
    list-style: none;
}
#footerSection .span1.mob-news {
    margin-left: 3%;
}
.customContainer .container {
    width: 1170px;
}
.topfirst b.OpenCat {
    display: none;
}
ul#css3menu1 li:hover>b.OpenCat {
    display: none;
}
#topMenu {
    width: 100%;
    margin: 0px;
}
.morePage {
    display: none;
}
.productViewCenter a {
    height: 200px;
    overflow: hidden;
    display: block;
    width: 73%;
    position: relative;
    margin: 0 auto;
}
.productViewCenter img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%!important;
    min-width: 0!important;
}
.product .product__title {
    padding: 5px 10px 0px;
    clear: both;
}
.newProduct a {
    /*  height: 200px;
	    overflow: hidden;
	    display: block;
	    width: 100%;
	    position: relative;*/
    
    height: 200px;
    overflow: hidden;
    display: block;
    width: 73%;
    position: relative;
    margin: 0 auto;
}
.newProduct .product__image {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: auto;
    width: auto;
    margin: auto;
}
.productViewPageF .thumbnail .sidebarImg {
    height: 200px;
    overflow: hidden;
    display: block;
    width: 100%;
    position: relative;
}
.productViewPageF .thumbnail .sidebarImg img {
    height: 200px;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: auto;
    width: auto;
    margin: auto;
}
#sidebar li a {
    background: #fff;
}
.productViewPageF .prev_text {
    font-size: 13px;
    line-height: 20px;
}
.dealListing a {
    height: 200px;
    overflow: hidden;
    display: block;
    width: 100%;
    position: relative;
}
.dealListing a img {
    position: absolute;
    min-width: auto!important;
    max-width: 100%!important;
    max-height: 100%!important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: auto;
    width: auto;
    margin: auto;
}
.customBlock {
    width: 21%;
    float: left;
    margin: 0 2% 20px;
    box-sizing: border-box;
    background:#ffffff;
    position: relative;
}
.customBlock h4
{
    padding-left: 5px;
}
.customBlock .imgRes {
    height: 200px;
    overflow: hidden;
    display: block;
    width: 100%;
    position: relative;
}
.customBlock .imgRes img {
    position: absolute;
    min-width: auto!important;
    max-width: 100%!important;
    max-height: 100%!important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: auto;
    width: auto;
    margin: auto;
}
.sold {
    z-index: 9;
}
.action__text--invisible {
    display: none;
}
.customProduct {
    margin-right: 5px!important;
}
.centered_img a {
 /*   display: block;
    position: relative;
    height: 200px;
    overflow: hidden;*/
}
.centered_img a img {
    max-width: 100%;
    max-height: 100%;
   /* position: absolute;*/
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    height: auto;
}
@media only screen and (max-width: 1200px) {
    .homeSlider {
        width: 650px;
    }
    .footerTopimg img {
        max-width: 100%;
    }
    .navbarContainer {
      
    }
    .productListing.span9 {
        width: 650px;
    }
    .viewGrid {
        display: none;
    }
    .jplist-thumbs-view .list-item .img img {
        vertical-align: bottom;
        height: auto;
        min-height: auto;
        width: auto;
        min-width: auto!important;
    }
    .productListing.span9 {
        width: auto!important;
        float: none!important;
        overflow: hidden;
        padding: 0px 20px;
        width: auto!important;
    }
    .product-info-cust {
        font-size: 10px;
    }
    .productListing .flexbox .product {
        width: 47%!important;
    }
    .dealListing.span9 {
        width: auto!important;
    }
    .center_banner .row {
        margin: 0px;
    }
    .center_banner .centered_img {
        width: 31.3%;
        margin: 0px 1%;
    }
    .productViewRight {
        float: none;
        overflow: hidden;
        width: inherit!important;
        padding-left: 20px;
    }
}
@media only screen and (max-width: 1024px) {
    .tab-land-wid {
        width: 100%!important;
    }
    .product {
        width: 170px!important;
        margin: 0 0.5em -0.2em;
    }
    .flexbox .product {
        width: 31%!important;
    }
    .view {
        float: none;
    }
    .customContainer .container {
        width: auto;
    }
    .tab-land-wid {
        width: 100%!important;
    }
    .productListing .product {
        width: 47%!important;
    }
    .productListing .product {
        width: 47%!important;
    }
    .productViewPageR {
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        /* optional */
        
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }
    .productViewPageF {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
        width: 100%!important;
    }
    .productViewPageR .productViewPageS {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
        width: 100%!important;
    }
    .productViewPageR,
    .productViewPageS {
        margin: 0px!important;
    }
    .productViewPageS .pull-left {
        float: none;
        margin: 0px;
    }
    .productViewPageF {
        margin: 0!important;
    }
    .marginZero {
        margin: 0!important;
    }
    .tab-land-wid.customProductListing {
        width: auto!important;
        margin-right: 0!important;
        float: none;
        overflow: hidden;
    }
    #prdblpg .tab-land-wid.customProductListing {
        width: auto!important;
        margin-right: 0!important;
        float: none;
        overflow: hidden;
    }
    .customProductListing .product {
        width: 30%!important;
    }
}
@media only screen and (max-width: 1080px) {
    #socialMedia.span2.mob-payment {
        clear: left;
    }
    .customContainer .container {
        text-align: center;
    }
    #topMenu {
        width: auto;
        float: none;
        /*display: inline-block;*/
        
        margin-left: 34px;
    }
    .menu-bgg {
        margin: 0px 0px 10px 0px;
    }
    .customContainer .container {
        width: auto;
    }
    .navbar .nav>li>a {
        padding: 10px 25px 10px;
    }
    .sold {
        height: 85px;
        width: 100px;
        margin-top: 20%;
        background-size: contain;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .customBlock h4 {
        font-size: 14px;
        padding: 0 10px;
        line-height: 20px;
    }
    /*My code*/
    
    [class*="span"],
    .row,
    .grid {
        margin-left: 0!important;
    }
    .span4.threeColumn {
        width: 31.3%;
        overflow-x: hidden;
        margin: 10px 1%!important;
        float: left;
    }
    section:nth-of-type(odd) {
        margin-right: 0;
    }
    .product.customProduct {
        width: 29%!important;
        margin: 2%!important;
        flex: inherit!important;
        left: 0!important;
        margin-bottom: 20px !important;
    }
    .tab-land-wid {
        margin-right: 0!important;
    }
    .footerTopimg .span6 {
       width: 48%;
    padding: 5px;
    }
    .homeSlider.span9 {
        float: none;
        width: auto;
        overflow: hidden;
    }
    .tab-land-wid.customProductListing {
      /*  width: inherit!important;*/
        margin-right: 0!important;
        float: none!important;
        overflow: hidden;
    }
}
@media only screen and (max-width: 979px) {
    .write-review
    {
        text-align: left;
    }
    .centered_img a {
       /* height: 160px;*/
    }
    .mob-news {} #footerSection .span3,
    #footerSection .span2,
    #footerSection .span4,
    #footerSection .span1 {
        width: 30.3%!important;
        margin-left: 3%;
    }
    #footerSection a {
       
    }
    #socialMedia.span2.mob-payment {
        clear: none;
        float: left;
    }
    #footerSection .span1 {
        clear: left;
    }
    .navbarContainer {
       
    }
    .cardItem .mob-cart {
        padding-right: 20px;
    }
    .navbarContainer .mob-cart.cardItem {
       
    }
    #logoArea #smallScreen {
        cursor: pointer;
    }
    #topMenu {
        width: auto;
        float: none;
        display: block;
        margin: 0px;
    }
    
    .productTab {
        clear: both;
        margin: 0;
    }
    .productTab h4 {
        font-size: 14px;
    }
    .customProductListing .product {
        width: 43%!important;
    }
    .navbar-search {}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .thumbnail {
        width: 100%;
        margin: auto;
    }
    .search-product {
        margin-left: 0px !important;
    }
    .search-product ul li {
      
    }
    .search-product ul {
        margin-left: 0px !important;
    }
    .search-list ul {
        margin-left: 0px !important;
    }
    .search-list {
        margin-left: 0px !important;
        text-align: center;
    }
    .search-list ul li {
        width: 70% !important;
        margin: 10px auto !important;
        text-align: center !important;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1199px) {
    .search-product {
        margin-left: 0px !important;
    }
    .search-list-item .item .thumbnails {
        margin-left: 25px !important;
    }
    .search-list ul li {
        margin-right: 2px !important;
    }
}
@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) {
    .mob-news {
       
    }
    .navbar .nav>li>a {
        padding: 10px 25px 10px!important;
    }
    .deal-wid {
        width: 448px!important;
        float: left;
        overflow: hidden;
        margin-left: 20px!important;
    }
    #countdown {
        font-size: 12px!important;
    }
}
@media only screen and (max-width: 979px) {
    .customContainer {
        position: absolute;
        top: 95px;
        right: 20px;
        z-index: 99999;
        width: 50%;
        text-align: center;
        border-radius: 4px;
        border-top-right-radius: 0;
    }
    .menu-bgg {
        border: none;
    }
    .navbar .btn-navbar {
        background-image: linear-gradient(to bottom, #d82672, #d82672);
    }
    .customMenu span:nth-child(1) {
        opacity: 0;
    }
    .customMenu span:nth-child(2) {
        -webkit-transform: rotate(-45deg) translate(0px, 0px);
        transform: rotate(-45deg) translate(0px, 0px);
        transition: all 0.2s;
    }
    .customMenu span:nth-child(3) {
        -webkit-transform: rotate(45deg) translate(-3px, -3px);
        transform: rotate(45deg) translate(-3px, -3px);
        transition: all 0.2s;
    }
    .navbar .btn-navbar:hover,
    .navbar .btn-navbar:active,
    .navbar .btn-navbar.active,
    .navbar .btn-navbar.disabled,
    .navbar .btn-navbar[disabled] {
        color: #fff;
        background-color: #d82672;
        cursor: pointer;
    }
    /*.tab-land-wid {
	    width: 500px!important;
	}*/
    
    .selectboxSearch {
        display: none;
    }
    .newProductView .grid {
        margin: 0px!important;
    }
    .newProductView .product {
        width: 100%!important;
        flex: inherit!important;
        margin: 20px;
    }
    .navbar-search {
        margin-bottom: 20px;
    }
}
@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: landscape) {
    .tab-add {
        width: auto!important;
    }
    .cart-res {
        padding-left: 18px!important;
        padding-right: 11px!important;
    }
}
@media only screen and (max-width: 979px) {
    #topMenu li {
        margin-left: 10px;
        margin: 0!important;
        text-align: center;
    }
}
@media only screen and (max-width: 768px) {
    #register_submit{
        margin-top: 10px;
    }
       .subsc
    {
        width: 90% !important;
        text-align: left;
        padding-left: 20px;
    }
    .subsc p
    {
        font-size: 20px;
    }
    .store-view-branch ul li
    {
        width: 47%;
    }
    .min_max_div
    {
        padding-left: 5px !important;
    }
.span4.threeColumn
{
    width: 100% !important;
    text-align: center;
}

.tab-land-wid.customProductListing {
    float: left !important;
}
#prdblpg .tab-land-wid.customProductListing {
    float: left !important;
}
    #myCarousel .item img {
        max-width: 100%;
    }
    #footerSection .span3,
    #footerSection .span2,
    #footerSection .span4,
    #footerSection .span1 {
        width: 30.3%!important;
        margin-left: 3%;
        float: left;
        min-height: 160px;
        clear: none;
    }
    #footerSection .row {
        margin: 20px!important;
    }
    .row {
        margin-left: 0!important;
    }
    .footerTopimg .span6 {
        box-sizing: border-box;
        margin: 0;
    }
    .homeSlider {
        width: 100%!important;
        margin: 0px!important;
    }
    .customCategories {
        width: 100%!important;
        margin: 0px!important;
    }
    body {
        padding: 0px!important;
    }
    .footerTopimg .span6 {
        float: left;
        width: 50%;
        padding: 3%;
    }
    .footerTopimg img {} #carouselBlk,
    #header {
        margin: 0px;
    }
    
    ul#css3menu1 li:hover > ul {
        display: none;
        position: relative;
    }
    .customCategories ul#css3menu1 > li {
        position: relative;
    }
    ul#css3menu1 li:hover>b.OpenCat {
        display: block;
    }
    .topfirst b.OpenCat {
        display: block;
        position: absolute;
        right: 10px;
        top: 5px;
        background-color: #d82672;
        color: #fff;
        width: 27px;
        text-align: center;
        border-radius: 5px;
        z-index: 9;
        font-size: 12px;
        height: 27px;
        line-height: 27px;
        cursor: pointer;
    }
    .customCategories .topfirst ul {
        z-index: 9;
    }
    .customCategories ul#css3menu1 ul {
        padding: 0px;
    }
    .customCategories ul .subfirst a {
        padding-left: 2%!important;
    }
    .customCategories ul .subsecond a {
        padding-left: 4%!important;
    }
    .customCategories ul .subthird a {
        padding-left: 6%!important;
    }
    .frontImg {
        float: left!important;
        width: 33.3%!important;
        padding: 0px 15px;
        box-sizing: border-box;
        margin: 0 !important;
    }
    /*.pageMenuContainer{
		width: 80%!important;
	}*/
    
    .pageMenuContainer #topMenu li {
        float: left;
        /*width: 20%;*/
        
        text-align: center;
    }
    .pageMenuContainer #topMenu li a {
        border: none;
    }
    .morePage {
        display: block;
    }
    #welcomeLine .header-right {
        margin-right: 20px;
    }
    #welcomeLine .header-left {
        margin-left: 20px;
    }
    .newProductView {
        float: none!important;
    }
    .flexbox .product {
        -webkit-flex: 0 0 18em!important;
        -ms-flex: 0 0 18em!important;
        flex: 0 0 18em!important;
    }
    .cashback {
        width: auto;
    }
    .pageMenuContainer #topMenu li {
        float: none;
    }
    #topMenu {
        height: 0;
        margin: 0;
        width: 100%!important;
        padding-left: 0px!important;
    }
    /*#topMenu {
		height: auto;
	}*/
    
    .currentPage {
        display: none;
    }
    .productViewPageR {
        padding: 20px;
    }
    #countdown {
        font-size: 12px!important;
    }
    .soldProducts {
        margin-left: 20px;
    }
    .productGrids {
        width: 100%!important;
    }
    .productTabs {
        width: 50%;
        float: left;
    }
    .productGrid .tab-pane {
        text-align: center;
    }
    #mainBody_contactus {
        padding: 20px;
    }
    ul#css3menu1 li > ul {
        left: 0!important;
    }
    .product.customProduct {
        width: 29%!important;
        margin: 11px !important;
        flex: inherit!important;
        left: 0!important;
    }
    .productListing.deslListing {
        width: 30.3%!important;
    }
}
@media only screen and (max-width: 767px) {

    .pgntn
    {
        padding: 0px !important;
    }
    .store-right-icon
    {
        padding-left: 0px;
    }
    .store-right-address
    {
        padding-left: 0px;
    }
    .store-right-address ul
    {
        padding-top: 0px;
        margin-top: 0px;
    }

    .MagicZoomBigImageCont {
        display: none !important;
    }
    #logoArea {
        margin-right: 0px !important;
    }
    .productViewRight {
        width: 100%!important;
    }
    .hide-mob.map {
        display: none;
    }
    .productViewRight.span6.tab-produ-view form {
        margin-bottom: 0px!important;
    }
    .productViewRight .cart-res {
        padding: 8px;
        font-size: 12px;
    }
    .productViewRight .wish-but {
        padding: 8px!important;
        font-size: 11px;
        /* position: absolute;
         right: 68px;*/
    }
    .productViewRight .customMargin {
        margin-top: 0px!important;
    }
    #addtocart_qty
    {
        width: 40%!important;
    }
    #addtocart_color,
    #addtocart_size
     {
        width: 80%!important;
    }
    .countNumStyle {
        float: none!important;
        clear: both;
        display: table-cell!important;
        text-align: right;
        left: 11px;
        position: relative;
    }
    .dealViewimgZoom {
        max-width: 50%;
    }
    .wishlist-page .row-fluid .span6 {
        width: 100% !important;
        display: block;
        text-align: left;
    }
}
@media only screen and (max-width: 600px) {
    .navbarContainer .brand {
        margin: 0!important;
    }
}
@media only screen and (max-width: 667px) {
    #socialMedia.span2.mob-payment {
        clear: both;
    }
    #footerSection .span3 {
        width: 35.3%!important;
    }
    .pageMenuContainer #topMenu li a {
        font-size: 10px;
    }
    /*.searchFilter{
		display: none;
	}*/
    
    #footerSection .span1 {
        clear: none;
    }
    .paymentMethod {
        width: 70%;
    }
}

@media only screen and (max-width: 667px) {
    .pageMenuContainer {
        width: 100%!important;
    }
    .pageMenuContainer #topMenu li a {
        font-size: 9px;
    }
    .newProductView .grid {
        margin: 0px;
    }
    .flexbox .product {
        -webkit-flex: 0 0 13em;
        -ms-flex: 0 0 13em;
        flex: 0 0 13em;
        margin: 0;
    }
   
    .flexbox .product {
        -webkit-flex: inherit!important;
        -ms-flex: inherit!important;
        flex: inherit!important;
    }
    #footerSection .fot {
        margin: 0px;
    }
    .mob-cart {
      
    }
    .tab-land-wid {
        width: auto!important;
    }
    .productTab h4 {
        font-size: 12px;
    }
}
@media only screen and (max-width: 535px) {
.home-log-left
{
width: 100% !important;
display: block;
text-align: center;
}
.home-log-right
{
width: 100% !important;
display: block;
text-align: center;
}

    #welcomeLine .header-left {
        display: none;
    }
}
@media only screen and (max-width: 640px) {
    .filterProduct {
        padding: 0 20px;
    }
}
@media only screen and (max-width: 500px) {
    .navbarContainer .pull-right {} .searBoxStyle {
        margin-top: 12px!important;
    }
}
@media only screen and (max-width: 480px) {
    /*.nextPage{
		width: 25%!important;
	}*/
    
    #footerSection .span3 {
        width: 44.3%!important;
    }
    #footerSection .span3,
    #footerSection .span2,
    #footerSection .span4,
    #footerSection .span1 {
        width: 43.3%!important;
        margin-left: 5%;
        float: left;
    }
    #footerSection a,
    .span1.mob-news {
       
    }
    h5 {
        font-size: 12px;
    }
    .alignR {
      
        padding: 20px;
        margin-bottom: 0px;
    }
    .brand {
        margin-left: 0%!important;
    }
    .flexbox .product {
        width: 91%!important;
        flex: inherit!important;
    }
    .newProductView .product {
        width: 100%!important;
        flex: inherit!important;
        margin: 20px;
    }
    .cardItem img {
       
    }
    .cardItem span a {
        
    }
    .productViewPageS .cart-res {
        margin-top: 0px;
    }
    .productViewPageS .wish-but {
        margin-top: 0;
    }
    .customBlock {
        width: 100%!important;
        margin-bottom: 20px;
    }
    .flexbox .product {
        width: 100%!important;
        margin-bottom: 30px !important;
    }
    #pdpg.productListing {
        min-width: inherit !important;
        width: 95%!important;
    }
    .productListing.deslListing {
        width: 95%!important;
        min-width: 0!important;
    }
}
@media only screen and (max-width: 420px) {
    #footerSection .fot {
        margin: 0px;
        float: none;
    }
    #footerSection .span3,
    #footerSection .span2,
    #footerSection .span4,
    #footerSection .span1 {
        width: 87.3%!important;
        margin-left: 5%;
        float: none;
        margin: 4% 7%;
    }
    .productTabs {
        width: auto;
        float: none;
    }
}
@media only screen and (max-width: 380px) {
    .navbarContainer .mob-cart.cardItem {
      
    }
    .navbarContainer .searchFilter {
        width: 140px;
    }
    .customBlock {
        width: 97%!important;
        margin: 10px 2%;
    }
}
** * Tooltip Styles */
/* Add this attribute to the element that needs a tooltip */

[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}
/* Hide the tooltip content by default */

[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}
/* Position tooltip above the element */

[data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 280%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 90px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
}
/* Triangle hack to make tooltip look like a speech bubble */

[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}
/* Show tooltip content on hover */

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
/*
#searchbox::-webkit-input-placeholder {
   padding-left: 20px;
}

#searchbox:-moz-placeholder { 
  padding-left: 20px;
}

#searchbox::-moz-placeholder {  
   padding-left: 20px;  
}

#searchbox:-ms-input-placeholder {  
 padding-left: 20px;
}
*/

.mob-payment img {
    padding-bottom: 10px;
}
.footerTopimg {
    margin-top: 30px;
}
.slide-store-name {
    padding: 10px 0px;
    display: block;
}
.commentlist {
    margin-top: 35px;
}
.pink-color {
    color: #d82672;
}
.input-append input[type="text"] {
    margin-bottom: 0px;
    font-weight: bold;
    color:#000000;
}
#addtocart_qty {
    width: 45%;
}
#addtocart_color {
    width: 50%;
}
#addtocart_size {
    width: 50%;
    margin-top: 10px;
}
@media only screen and (min-device-width: 361px) and (max-device-width: 425px) {
    .navbarContainer .mob-cart {
        
    }
    .navbarContainer .navbar-search {}
}
@media only screen and (max-width: 731px) and (min-width: 640px) {
    .header-lefts {
        display: none!important;
    }
    .header-rights {
        margin-right: 22%!important;
    }
}
#success {
    width: 25%;
    position: absolute;
    right: 35%;
    text-align: center;
    background: rgb(28, 185, 0);
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 3px;
    top: 20%;
    box-sizing: 999999;
    z-index: 999;
}
.pro-search {
  /*  float: right;*/
    border:none;
    border-bottom:3px solid #d82672;
    background: #d82672;
}
.pro-search i {
    padding: 5px 0px;
    color: #ffffff;
    font-size: 18px;
}
.navbar-search button:focus {
    outline: none;
}
@media only screen and (max-width: 567px) {
    .mob-contact
    {
         height: auto !important;
    }

#socialMedia
{
  height: auto !important;
}
.mob-news
{
     height: auto !important;
}
    .search-product ul li {
    width: 100% !important;
    margin: 0px 0px 30px !important;
}

    .review-product-left
    {
        width: 100%;
        float: none;
        display: block;
    }
    .review-product-mid
    {
         width: 100%;
        float: none;
        display: block;
    }
    .review-product-right
    {
         width: 100%;
        float: none;
        display: block;
    }
    .review-Price
    {
        margin-top: 20px;
    }
    .old-price
    {
            margin-bottom: 20px;
    }
    .search-inner input
    {
        padding: 5px;
    }
    .search-inner
    {
        display: inline-block;
        margin-top: 10px;
    }
    .pro-search
    {
        float: left;
        vertical-align: top;
        width: 17%;
        padding: 0px;
            border-bottom: 6px solid #d82672;
    }
    .navbar-search .srchTxt
    {
        display: block;
        width: 100%;
    margin: auto;
    padding: 7px 0px;
    height: auto;
    }
    #searchbox
    {
        margin-left: 0px;
        width: 83%;
        float: left;
      height: 32px;
    }
    .navbar-search
    {
        clear: both;
        margin-right: 0px;
            width: 100%;
            float: none;
            margin:auto;
            margin: auto;
    text-align: center;
    display: block;
    }
    .mob-contact {
        width: 100%;
        margin: auto;
    }
    #socialMedia {
        width: 100%;
        margin: auto;
    }
    .mob-news {
        width: 100%;
        margin: auto;
    }
    .compare_compprd {
        width: 100% !important;
    }
    .cardItem
    {
        margin-bottom: 10px;
        text-align: center;
    }
}
@media only screen and (min-width: 514px) and (max-width: 768px) {
.price-fil-max span
{
    display: block;
}
.price-fil-min span
{
  display: block;
}

    }
@media only screen and (min-width: 568px) and (max-width: 768px) {
    #sidebar {
    width: 100%;
}
    .search-product ul li
    {
            width: 45% !important;
    margin:10px !important;
    float: left;
    }

    .review-product-left img
    {
        width: 100% !important;

    }
    .mer-log-fot
    {
        margin-top: -80px !important;
    }
    .mob-payment
    {
        margin-top: -50px !important;
    }
    .mob-contact {
        width: 50%;
        margin: auto;
       float: left;
       height: auto;
    }
    #socialMedia {
        width: 50%;
        margin: auto;
        float: left;
        height: auto;
    }
    .mob-news {
        width: 50%;
        margin: auto;
        float: left;
        height: auto;
    }
    .sale-title {
        padding-bottom: 0px !important;
    }
}
.search-list {
    width: 100%;
    float: left;
    margin-left: 39px;
}
.search-product {
       display: block;
    width: 100%;
    overflow: hidden;
}
.search-product ul li {
    width: 30%;
    margin: 8px 8px;
    list-style: none;
    float: left;
        border: 1px solid #E0E0E0;
        border-bottom: 4px solid #d82672;
        border-radius: 5px;

}
.search-product ul li:hover
{
    box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.1);
    background: #f7f7f7;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1080px) and (-webkit-min-device-pixel-ratio: 2) {
.mob-contact
{
width: 30%;
float: left;
}
#socialMedia
{
width: 30%;
float: left;
}
.mob-news
{
width: 30%;
float: left;
margin-top:-65px;
}
.mob-payment
{
    padding-left: 10px;
}
}

@media only screen and (max-device-width: 662px) and (min-device-width: 481px) {

 .flexbox .product {
        width: 45%!important;
        margin-bottom: 20px !important;
    }
    }

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .details-left-label
    {
        width: 100%;
        text-align: left;
    }
    .details-left-select
    {
width: 80%;
    }
    #addtocart_color
    {
        width: 100%;
    }
    #addtocart_size
    {
        width: 100%;
    }
    .span9
    {
        width: 74%;
        float: left;
        margin-left:0px !important;
    }
    .span3
    {
        margin-left: 0px !important;
    }
    .search-product ul li {
    width: 45% !important; 
    margin:2% !important;
}
    .search-list ul li {
        width: 30% !important;
    }
}
.search-list ul {
    margin-left: -36px;
}
.search-list ul li {
    width: 270px;
    list-style: none;
    text-align: center;
    display: inline-block;
    margin: 20px 0px;
    margin-right: 30px;
    background: #ffffff;
}
@media only screen and (min-width: 320px) and (max-width: 412px) {
    .compare_product_fixedbtn {
        width: 110px !important;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /*#addtocart_qty {
        width: 100% !important;
    }
    #addtocart_color {
        width: 100% !important;
    }
    #addtocart_size {
        width: 100% !important;
    }*/
}
@media only screen and (min-device-width: 568px) and (max-device-width: 767px) {

.navbar-search
{
    margin-right: 0px;
}
 }

 @media only screen and (min-device-width: 768px) and (max-device-width: 979px) {
.cardItem
{
    margin-top: 8px;
 }
}
@media only screen and (min-device-width: 980px) and (max-device-width: 1058px) {
    .navbarContainer form
    {
         margin-bottom: 10px;
    }
.navbar-search
{
    margin-top: 10px;
   
    }
}
.row-fluid select {
    margin-bottom: 15px;
}
.policy-quest {
    cursor: pointer;
}
.policy-quest:hover {
    color: #d82672;
}
.policy-container {
    position: absolute;
    z-index: 999;
    width: 52%;
    padding: 10px;
    max-height: 300px;
    overflow: auto;
    background: #d82672;
    color: #ffffff;
}
.policy-title {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
}
.slide-product-title {
    margin-top: 10px;
    font-weight: bold;
}
.slide-product-title a:hover {
    color: #d82672;
}
/*radio button style for filter*/

.price-filter .inline {
    display: inline-block;
}
.price-filter .inline + .inline {
    margin-left: 10px;
}
.price-filter .radio {
    color: #999;
    font-size: 15px;
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.price-filter .radio span {
    position: relative;
    padding-left: 20px;
}
.price-filter .radio span:after {
    content: '';
    width: 15px;
    height: 15px;
    border: 3px solid;
    position: absolute;
    left: 0;
    top: 1px;
    border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.price-filter .radio input[type="radio"] {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}
.price-filter .radio input[type="radio"]:checked + span {
    color: #0B8;
}
.price-filter .radio input[type="radio"]:checked + span:before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    background: #0B8;
    left: 5px;
    top: 6px;
    border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}
/*radio button style for filter*/

.test {
    color: red;
}
.customCategories .thumbnail
{
    margin-bottom: 30px;
}

.customCategories label input[type="radio"]
{
    margin-bottom: 0px;
}

.deal-radio .inline{
  display:block;
}
.deal-radio .inline + .inline{
  margin-left:0px !important;
}
.deal-radio .radio{
  color:#999;
  font-size:15px;
  position:relative;
}
.deal-radio .radio span{
  position:relative;
   padding-left:20px;
}
.deal-radio .radio span:after{
  content:'';
  width:15px;
  height:15px;
  border:3px solid;
  position:absolute;
  left:0;
  top:1px;
  border-radius:100%;
  -ms-border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
  box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
.deal-radio .radio input[type="radio"]{
   cursor: pointer; 
  position:absolute;
  width:100%;
  height:100%;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}
.deal-radio .radio input[type="radio"]:checked + span{
  color:#0B8;  
}
.deal-radio .radio input[type="radio"]:checked + span:before{
    content:'';
  width:5px;
  height:5px;
  position:absolute;
  background:#0B8;
  left:5px;
  top:6px;
  border-radius:100%;
  -ms-border-radius:100%;
  -moz-border-radius:100%;
  -webkit-border-radius:100%;
}
.deal-radio .radio
{
    float: none;
    padding-left: 0px;
}
.home-log-right
{
width: 50%;
    float: left;
}
.home-log-left
{
    width: 50%;
    float: left;
}
.personal-data {
  float: left;
  padding: 0 20px;
  width: 100%;
}
.filter-height
{
    max-height:250px;
    overflow-y:scroll;
}
.fil-clear
{
    margin-top:10px;
}
.ship-pro-det
{
padding: 5px;
}
.ship-pro-det input[type="radio"]
{
    margin-bottom: 0px;
}

.productLoading{
    opacity: 0;
}
.loading_prnt{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(204, 204, 204, 0.7);
    z-index: 999;
}
.loadingGiff{
       border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #d82672;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0px;
    margin: auto;
    z-index: 9;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}