@media screen and (max-width:1400px){
.vendor_logo{padding-left:57px; text-align:left;}
.vendor_welc{padding-right:39px}
.common_navbar{padding-left:45px;}
.select_catg{padding-right:45px}
.vendor_header_right{ padding-top:31px;}
	
}


@media screen and (max-width:1300px){
.search-section{padding-left:15px; padding-right:15px;}
.nav_row{padding-left:20px; padding-right:20px}
.studio_captoion:before{left:32%}
.container-prise span:last-child, .container_total_price, .service_qunt_price{font-size:16pt;}
.addto_cart .form-btn{padding:11px 30px 6px; font-size:19pt;}
.container_total_price{padding-top:25px;}
.curns {right: 32px;}
.vendor_header_right {
  padding-right: 2px;
  padding-top: 48px;
}

} /*1300px*/

@media screen and (max-width:1230px){
#searchforbussiness .search-box3 {width: 15%;}
#searchforbussiness .search-box4 {width: 17%;}
#searchforbussiness .search-box5 { width: 15%;}
#searchforbussiness .search-box6 {width: 15%;}
#searchforbussiness .search-btn { float: left; margin: 23px 0 0;padding: 0; text-align: center;width: 100%;}
#searchforbussiness .search-btn .form-btn { display: inline-block;font-size: 18pt;  padding-left: 25px; padding-right: 25px; width: auto;}
#searchforbussiness .search-box { float: left; padding: 0 10px 0 0; width: 22%;}
#searchforbussiness .search-box2 { width: 16%;}

}

@media screen and (max-width:1200px){
.search-section{padding-left:15px; padding-right:15px;}
.middle_nav{left:50%; margin-left:-136px}
.service-display-right{width:75%}

} /*1300px*/



@media screen and (max-width:1100px){
.footer-info-box{padding-left:15px;}
.payment-options-box{padding-left:0px;}
.search-btn{width:100%!important; text-align:center!important;}
.search-btn .form-btn{width:auto; padding-left:25px; padding-right:25px;}
.search-box{width:16%!important}
.search-box.search-box1,.search-box.search-box2{width:17%!important}
.search-box6{padding-right:0;}
.search-box-field select{width:100%;}
.budget-product-area{padding:0px;}
.service_price{padding-left:3px;}
.table.desktp .table_heading{font-size:13pt}
.middle_nav a img{max-width:220px;}
.vendor_cart img{ width:35px; height:31px;}
.vendor_cart span {
  background-color: #d2c036;
  border-radius: 50%;
  color: #292929;
  display: block;
  font-size: 10pt;
  font-weight: 600;
  height: 19px;
  left: 9px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: -9px;
  width: 19px;
}

} /*1100*/

@media screen and (max-width:1000px){
.follow-box{width:18%;}
.address-box{width:27%;}
.secure-shopping-box{width:22%;}
.payment-options-box{width:31%;}
.search-box,.search-box.search-box1,.search-box.search-box2{width:49.3%!important; margin-bottom:20px;}
.search-btn{margin-top:0px;}
.customer-budget-section,.page-right-section{width:100%;}
.page-right-section{padding:20px 0 0 0;}
.customer-budget-section,.search-section{display:none;}
.mobile-filter-line{display:block; width:100%; float:left; margin:20px 0px 0px 0px; padding:0px; background:#f3f3f3}
.mobile-budget,.mobile-search{ float:left; margin:0px 0px 0px 0px; padding:0px; font-size:11pt; color:#95aeb3; width:100%; text-align:center; }
.mobile-budget span,.mobile-search span{padding:12px 15px; display:inline-block; cursor:pointer; position:relative;}
.mobile-search span::before {
  background: rgba(0, 0, 0, 0) url("../images/modify-serach.png") no-repeat scroll 0 0;
  content: "";
  height: 15px;
  left: -8px;
  position: absolute;
  top: 15px;
  width: 15px;
}
.search-section,.customer-budget-section{position:absolute; top:0px; left:2%; width:96%; z-index:100}
.mobile-back-arrow{display:block; float:left; padding:10px 20px 10px 6px; margin:-20px 0 10px }
.customer-budget-section .mobile-back-arrow{margin-top:-10px;}
.page-left-right-wrapper{margin:0 0 0px 0}
.diamond_box{padding:20px 0 0 0;}
.page-right-section {
  margin: 0;
  padding: 20px 0 0;
  float: left;
  width: 100%;
}

/* Harrry */
.outer_wrapper:before, .outer_wrapper:after{display:none}
.middle_nav img{max-height:125px; max-width:125px!important;}
.nav_row{ overflow:inherit; margin-top:0px;  background:#f3f3f3; padding:0px 0px;}
.inner_wrap{padding:0 10px}
.heamburger{display:inline-block; margin-left:10px; cursor:pointer; margin-top:10px;}
.left_nav{position:absolute; top:0; left:0px; background-color:#fff; width:100%; z-index:9; padding-bottom:6px; display:none}
.nav_row ul li{float:none; width:100%; border:0px; border-radius:0px; border-bottom:1px solid #ccc}
.nav_row ul li:last-child{border-bottom:0px}
.nav_row ul li a{border-radius:0px; background-color:transparent; color:#363636}
.nav_row .right_nav ul li{border:0px}
.right_nav{margin-right:12px; margin-top:0; width:70%; margin-top:3px;}
.middle_nav{height:auto; width:auto}
.middle_nav{transform:translate(-50%,-50%); margin-left:0px; left:50%; top:50%; margin-top:-25px}
.mobile_fields{display:inline-block;}	
.mobile_fields a{vertical-align: top;display: inline-block;color: #bf9e9d;text-decoration: none; padding:4px 0px 9px 13px; background-color:transparent; margin-right:0px; font-size:15pt;}
.mob_lang{background-color:#bf9e9d; padding:7px 13px 9px 13px; text-decoration:none; color:#fff; border-radius:5px; margin-right:8px;}
.right_nav ul{display:none}
.homepage_col2:before{display:none}
.flower_bg:before, .flower_bg:after, .flower_bg{display:none}
.homepage_category{padding-bottom:20px; padding-top:40px;}
.info_btn a{font-size:16pt; padding:19px 15px 10px 15px}
.info_btn{margin-top:-30px}
.homepage_col2{padding:50px 30px 90px 30px}
.homepage_img{vertical-align:top}
.wedding_category{width:47%}
.basket_icon{ background:url('../images/basket-mobile.png') no-repeat top left; width:26px; height:24px; margin-right:16px;}
.basket_icon .count {height: 19px;left: 10px;line-height: 17px;top: -6px;width: 19px;}

.table_heading,.table_heading_tr{display:none!important;}
.table{width: 100%; float:left; margin:0px; padding:0px;}  
.tr{width: 100%; float:left; margin:0px; padding:25px 0;}  
.table .td {width: 100%; border: 0; padding:0px 10px 0px 160px!important; float: left;   margin:0 0 10px 0; position: relative; text-align:left!important;}
.table .td:before{ position: absolute; left: 10px; font-weight: 600; width:150px; float:left; content: attr(data-title);}   
.table .td:last-child{  margin-bottom:0px;}






.tatal-services-area .tr{width: 100%; float:left; margin:0px; padding:15px 0 5px; border-bottom:0px solid #e0dfdf;}  
.tatal-services-area .td {width: 100%; border: 0; padding:0px 10px 0px 160px!important; float: left;   margin:0 0 5px 0; position: relative; text-align:left!important;}

.tatal-services-area .td:before{ position: absolute; left: 10px; font-weight: 600; width:150px; float:left; content: attr(data-title);}   
.tatal-services-area .td:last-child{  margin-bottom:0px;}
.tatal-services-area .td.sp-blank{display:none;}


  
.services-edit{top:-3px; left:250px;}
.total-prise .td1,.total-prise .td2,.total-prise .td3{display:none!important;}
 .tatal-services-heading{padding-left:0px;}
.mobile-search1row{width:100%;}
.service-video-area{padding:30px 50px 40px; margin-top:30px;}
.service-mid-wrapper .service_testimonial{margin-top:30px;}
.service-video{height:344px}
.service-display-right{width:100%;}
.service-display-left {
  margin-left: 19% !important;
  margin-top: 20px;
  padding-right: 40px !important;
  width: 60%;
}
.container-heading{margin:15px 0px 10px 0px}
.container-prise{margin-top:12px}
.service-display-section{margin-top:15px;}

.gallary_detail, .services_detail{width:100%; padding-right:0px;}
.service_detail, .services_listing{width:100%; float:left; padding-top:30px;}
.detail_hall_price{padding-left:0px;}
.service_container{padding-bottom:40px;}
.service_price{padding-left:10px}
.vendor_homepage .left_container .table .td:before{left:0px;}
.vendor_homepage .left_container .tr{padding:0px 0 20px 0; margin-bottom:0px;}
.vendor_homepage .left_container .table .tr:nth-child(2) .item_title{top:-50px;}
.vendor_homepage .left_container .item_title{top:-50px}
.vendor_homepage .left_container .table .td{margin-top:15px}
.vendor_homepage .left_container .table .tr:nth-child(2) .td{padding-top:0px;}
.vendor_homepage .left_container .tr{border-bottom:1px solid #c09e9d}
/*.vendor_homepage .left_container .tr:first-child{display:none}*/
.vendor_homepage .left_container .tr:nth-child(2n){padding-top:60px;}
.vendor_homepage .left_container{width:100%; padding-right:0px;}
.vendor_homepage .right_container{width:100%; padding-top:20px;}
.vendor_homepage .left_container .table .td{padding-left:300px}
.vendor_homepage .table .td:before{width:210px}
.container_list_row .food_container_txt{padding-left:30px}
.btn_row .addto_cartbtn{margin:0 auto; width:auto; text-align:center}
.table.desktp{display:none}
.total_food_cost{padding-top:10px}	
.mCustomScrollbar .table .tr .td1{width:100%;}
.mCustomScrollbar .table .tr .td2{width:100%;}
.mCustomScrollbar .table .tr .td3{width:100%;}
.mCustomScrollbar .table .tr .td4{width:100%; text-align:right}
.table.desktp .tr .th1{width:100%}
.table.desktp .tr .th2{width:100%}
.table.desktp .tr .th2{width:100%}
.table.desktp .tr .th4{width:100%}
.other_serviceinc .customer-budget-section{display:block; position:initial!important;}
.other_serviceinc .mobile-back-arrow{display:none}
.vendor_header_left{width:50%; text-align:right}
.vendor_header_right{width:50%; padding-top:0px;}
.vendor_welc{padding-right:0px;}
.select_catg{padding-right:0px; padding-top:0px;}
.vendor_header{padding-top:18px}
.vendor_heamburger{position:absolute; top:22px; display:block}
.vendor_navigation{width:100%; position:absolute; top:0px; left:0px; z-index:22; padding-left:0px; background-color:#fff; padding-bottom:6px; text-align:left; display:none}
.vendor_navigation ul li{float:none; width:100%; border-bottom:1px solid #ccc; padding:0px}
.vendor_navigation ul li:last-child{border-bottom:0px;}
.vendor_navigation ul li a{display:block; padding:15px;}
.common_navbar{padding-left:0; text-align:center}
.common_navbar li{text-align:center;}
.vendor_logo{padding-left:0px;}
/*.file-btn-area{max-width:340px;}	
.file-value{width:200px}*/
.container-box{margin:0px 30px 0px 0px; width:auto}
.container-box:nth-child(2n){float:left}
.service-radio-box{width:auto; margin:0px 20px 0px 0px}
.checkout-area{margin:0px;}
.checkout-left-area,.checkout-right-area{width:100%;}
.checkout-right-area{margin-bottom:50px;}
.checkout-left-area{margin-top:30px;}
.payment-option-left,.payment-option-right{width:100%;}
.payment-option-right{  margin:-5px 0 0 0;}
.payment-option-left ul li{width:33.3%;border-radius: 5px 5px 0 0px; text-align:center;}
 .payment-option-left ul li:last-child{float:right;}
 .checkout-box,.order-summary-box{padding:20px 15px 25px}
 .checkout-page-heading,.checkout-right-area .checkout-page-heading{padding-left:15px;}
  .payment-option-btn {text-align:center;}
 .payment-option-btn .form-btn{width:auto}
 .service_bdr::before, .service_bdr::after{display:none;}
 .service_line{padding:0px;}
 
 .kosha-select-area, .kosha-selections-area{width:100%}
 .kosha-selections-area{margin-top:40px;}
 .kosha-select-img{max-width:255px;}
 .rm-kosha-text{padding:0 10%}
 .singer-box{padding-right:15px;}
.inner_wrap.service-wrap{padding:0px;} 
.inner_wrap.service-wrap .service_detail_row,.inner_wrap.service-wrap .service-mid-wrapper,.kosha-area,.package-row{padding-left:10px; padding-right:10px;}
.service-display-left{border-radius:0px; padding:20px 10px}
.equipment-button .form-btn{width:auto} 
.package-row{margin-top:30px;}
.package-section{width:100%}
.package-section:last-child{margin:30px 0 0 0}
.footer-section{margin-top:45px;}
.usersign-socal-area{margin-top:0px;}
.secure-shopping-box{display:none}
.follow-box{width:40%;}
.mobile-footer-menu{margin-bottom:5px;}
/*.meeting_category::before, .wedding_category:before{display:none}*/
.foo-address-line{padding-bottom:5px;}
.mobile_logo_g{ display:block; width:100%; text-align:center; float:left; margin-top:10px;}
.mobile_logo_g img{ max-width:110px; max-height:110px;}
.middle_nav{ display:none;}
.welcome_message{ display:none;}
.nav_row.homepading {padding-bottom: 0px;}
.nav_row.loginpading{ padding-bottom:0px;}
.video_hall { margin-top:0px;}
.diamond-area{ margin-top:5px;}
.flexslider1 .flex-control-nav.flex-control-paging {
  bottom: -51px;

}
.curns {
  left: 64px;
  position: absolute;
  right: inherit;
  top: 8px; z-index:2
}
.currency_select select {
  border: 1px solid #d6d3c6;
  font-size: 10pt;
  height: 28px;
  width: 122px;
}
.sticky_other_service{ width:109px; height:91px;}
.sticky_serivce {
  font-size: 7.5pt;
  right: 53px;
  top: 403px;
  width: 82px;
}
.sticku_service_logo img {
  max-width: 70px;
}
.sticku_service_logo{ margin-top:15px;}
.table-cart .tr.total-prise{margin-top:-5px; padding-bottom:15px; border:0px;}
.cart-delete,.child-table .cart-delete{top:-2px; left:10px;}
.tatal-services-area .td1,.child-table .td:first-child{padding-left:160px!important}
.mobile-first-row{padding-top:0px!important; border:0!important;}
.vendor_logo{ margin-top:0px;}
.vendor_cart img{ width:25px; height:21px;}
.vendor_cart span {
  background-color: #d2c036;
  border-radius: 50%;
  color: #292929;
  display: block;
  font-size: 10pt;
  font-weight: 600;
  height: 19px;
  left: 9px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: -9px;
  width: 19px;
}



.hall-cart-td{padding:0; width:100%; float:left;}
.table-cart .hall-cart-td .td{margin:0px;}
.tatal-services-area .td.mo-td-full-width{padding-left:10px!important;}
.tatal-services-area .td.mo-td-full-width.delete-icon-td{padding-left:32px!important;}
.tatal-services-area .td.mo-td-full-width::before{display:none;}
.hall-info-tr{width:100%; float:left; position:relative; padding-right:130px!important;}
.hall-info-price{position:absolute!important;  right:0!important; text-align:right!important; width:auto!important}
.hall-cart-tr{padding:15px 0px 10px!important;}
.tatal-services-area .hall-sp.td::before{font-weight:normal}
.child-table tr{padding:13px 0 15px!important; float:left;}
.child-table .tr .td{padding-bottom:0!important}
.table-cart .hall-cart-td .hall-more-less .panel-collapse{border:0;}
.panel-collapse{margin-top:0px;}
.hall-cart-td .panel-collapse{margin-top:0px;}
.total-prise .td4{font-size:13pt; text-align:right!important}
.total-prise .td4 span{display:none;}
.total-prise .td4::before{text-align:left}
.table-cart .tr > td{width:100%; float:left;}
.quantity-box{padding-top:2px; padding-bottom:2px;}
.quantity-box #add{background-position:left 12px; height:32px;}
.quantity-box #sub{background-position:6px 15px; height:32px;}


.vendor_welc .mob_lang {
  background: transparent none repeat scroll 0 0;
  color: #bf9e9d;
  font-size: 14pt;
  padding: 0 4px 0 0;
  text-decoration: none;
}
.vendor_welc .lang{ padding-right:0px;}
.hashtag-occasions-gallery li{margin-right:3.5%!important; width:31%;}
.hashtag-occasions-gallery li:nth-child(3n){margin-right:0!important}
.hashtag-occasions-wrapper .form_title{width:100%; float:left; margin:45px 0}
.coupon-popup-area{ width:96%;}
.couponcode{ margin-top:28px;}
} /*1000*/




@media screen and (max-width:767px){
.address-box{float:left;}
.footer-section{padding:10px 0 15px}
.footer-menu{display:none;}
.footer-info-box{width:100%!important; padding:35px 0px 0px 25px!important}
.footer-menu.mobile-footer-menu{display:block;}
.footer-wrapper{padding:0 10px}
.footer-menu.mobile-footer-menu a, .footer-menu.mobile-footer-menu span{font-size:10pt;}
.search-section{padding-left:10px; padding-right:10px; padding-bottom:15px;}
.carousel-heading{ text-align:center; font-size:16pt;}

/* Harry */
.meeting_category{width:100%; margin-bottom:50px; float:none; text-align:center}
.wedding_category{width:100%;float:none; text-align:center}	
.homepage_col2{display:inline-block; text-align:center; border-radius:5px; padding:15px 15px 60px 15px}
.budget-carousel-area{padding:0px;}
.budget-carousel-area .flex-control-nav{display:none;}
.budget-carousel-area .flex-direction-nav{display:none;}
.tatal-services-inner-area{margin:35px 0 0px}
.tatal-services-heading{font-size:20pt; padding-bottom:17px;}
.budget-product-box{width:33.33%}
.carousel-product-img img{width:100%;}
.detail_title{font-size:23pt;}
.service-video-cont br{display:none}
.testimonial_slider .flexslider1{padding:0 0px}	
.testimonial_slider{padding:30px 15px 14px; margin-bottom:10px;}
.service_catagory li{width:100%; float:left; margin-bottom:15px;}
.common_title, .detail_hall_price,.singer-heading{font-size:16pt;}
.services_popup{padding:15px 15px 5px 15px}
.serv_popup_row{padding-bottom:6px}
.service_popup_title{font-size:17pt;}
.heading{font-size:23pt}
.vendor_navbar{margin-top:15px}
.btn_row .addto_cartbtn{font-size:18pt}
.vendor_navbar ul li{padding:2px 15px}
.vendor_navbar{overflow:hidden}
.select_lbl{font-size:13pt; padding-bottom:7px;}
.vendor_logo img{max-width:120px;}
.vendor_logo{padding-bottom:0px;}
.select_catg{width:234px}
.common_navbar li{padding-bottom:5px;}
.usersign-box{width:100%; padding:0px 20px;}
.usersign-form-button{ margin-top:0px; width:auto;}
.forgot-password{ width:auto; margin-top:15px;}
.form-btn{ padding-left:35px; padding-right:35px;}
.forgot-password a{ font-size:10pt;}


.sign-clear{display:block; clear:both;}
.usersign-box-area{margin:20px 0 0}
.usersign-form{ max-width:450px;}
.usersign-box{margin-bottom:0px;}
.usersign-box:last-child {
  margin: 15px 0 0;
  border-top: solid 2px #c5ac84;
  padding-top: 24px;
}
.usersign-divder{height:4px; width:350px; margin:auto; float:none; display:none}
.usersign-divder:before,.usersign-divder:after{top:-13px; }
.usersign-divder:before{transform: rotate(180deg); left:-62px;}
.usersign-divder:after{transform: rotate(0deg);  right:-62px; left:inherit}
.login-or{font-size:15pt;}
.usersign-socal-area{margin:35px 0 25px}
 
.forgot-password-area .form_title{margin-top:35px;}
.common_row .col2{width:100%}	
/*.file-value{width:225px}
.file-btn-area{max-width:365px}*/
.studio_captoion:before{left:28%}
.review_comment_row textarea{width:100%}
.review_comment_row input[type="submit"]{width:auto}
.review_popup{padding:20px 15px 20px 20px}

.checkout-page-heading,.checkout-right-area .checkout-page-heading{font-size:16pt; padding-bottom:10px;padding-left:0px;}
.payment-option-left ul li br{display:block;}
.payment-expiry, .payment-cvv{width:100%;}
.payment-cvv{padding:0px;}
.scl1-img{display:none;}
.scl1{padding-left:28px;}
 .order-summary-heading{font-size:14pt;}

.kosha-box{padding:15px;}
.selection-name,.kosha-select-name{font-size:12pt;}
.kosha-select-prise, .selection-prise,.kosha-tolat-prise{font-size:15pt;}
.selection-box{margin-bottom:25px;}
.kosha-button-area{margin-bottom:15px;}
.rm-kosha-text{padding:0}
.photographi-right-area{padding-left:15px;}
.singer-box{padding:25px 15px 30px}
.singer-image-area,.singer-form-area{width:100%;}
.singer-image-area,.singer-name{text-align:center;}
.singer-name{margin-top:10px;} 
.singer-form-area{padding:0px;}
.singer-area{margin:5px 0 0px;}
.acoustic-button-line{margin-bottom:15px;}
.package-form{margin-top:0px;}
.close_popup_btn{ z-index:10;}
.budget-menu{ text-align:left;}
.service-video-cont{ text-align:left;}
.vendor_homepage{ margin-top:15px;}
.form_title::after{ bottom:4px;}
.currency_text{ display:none;}
.pck {
  width: 48% !important;
}
.sizechart-popup,.measurement-popup-outer{width:94%; left:3%!important}
.vendor_logo{ margin-top:0px;}
.shipping-companies-line.rds{ width:100%!important;}
.equipment-button{ text-align:center;}
.equipment-button a{ padding-left:20px; padding-right:20px;}
.tatal-services-pay-area{text-align:center;}
.contact_left{ width:100%; padding:20px 0px;}
.contact_right {
  padding: 14px 0;
  width: 100%;
}
.contact_left .address-box {

  margin-top: 0 !important;
  padding-left: 0;
  padding-top: 15px!important;
}
.hashtag-occasions-wrapper .form_title{ margin:35px 0}
.occasions-shorting-line span{display:none;}
.occasions-shorting-line select{width:100%;}
.diamond-ancar-btn{display:block}
.couponcode{ margin-top:28px;}
.check_shipping_area {padding: 0px 0px 5px;}


} /*767*/


@media screen and (max-width:600px){
.gallary_col3{width:100%; margin-right:0px; text-align:center}
.studio_captoion:before{left:-7px;}
.studio_captoion{display:inline-block}
.top_spacing_margin_occas .types_ocs_left{width:100%;}
.types_ocs_right{width:100%; padding-left:0px;}
/*.middle_nav {left:75px;top:120px; margin-top:0px;}*/
.measurement-popup-img,.measurement-form{width:100%; float:left}
.measurement-popup-img{margin:0 0 15px 0; text-align:center}
.measurement-form{margin-top:0px;}

.measurement-divder{display:none;}
 
.common_popup.measurement-outer{width:90%; margin:0px; left:5%;}
 
.measurement-popup{width:100%; padding: 25px 15px 35px;}
.measurement-popup .main_title{margin-bottom:15px;}
.measurement-popup-img img{max-height:275px;}
.measurement-form-line{width:48%; margin-right:4%;}
.measurement-form-line:nth-child(2n){margin-right:0px;}
.parametar{margin-left:8px;}
.measurement-form-line:last-child{width:100%;}
.measurement-radio-line{width:30%; margin-right:3%;}
.measurement-radio-line:last-child{margin-right:0px;}
.measurement-btn-area .form-btn.big-btn{padding-left:0; padding-right:0px; width:100%; font-size:15pt;}
.measurement-form{ width:320px;}
.arabic .gallary_detail{ padding-left:0px;}
.wee_mobile{ display:block; width:100%; text-align:center;}
.well_desk{ display:none;}
.wee_mobile .welcome_message{ right:0px;}
.ops_img{ width:100%; text-align:center;}
.ops_right_text {
  float: left;
  margin: 40px 0 0;
  padding: 5px 0 0 0px;
  text-align: center;
  width: 100%;
}
.op{ font-size:30pt; }
.ops_text {

  line-height: 31px;

  padding: 13px 0 0;

}
.ops{ font-size:18pt;}

.hashtag-info-left-section,.hashtag-info-right-section{width:100%; text-align:left;}
.hashtag-info-right-section{margin-top:10px;}
.hashtag-occasions-box{padding:15px 10px 5px; margin-bottom:25px;}
.hashtag-occasions-gallery{margin-top:22px;}
.hashtag-occasions-gallery li,.hashtag-occasions-gallery li:nth-child(3n){margin-right:2%!important; width:49%; margin-bottom:15px;}
.hashtag-occasions-gallery li:nth-child(2n){margin-right:0!important}
.hashtag-occasions-wrapper .form_title{ margin:25px 0}

}

@media screen and (max-width:500px){
.footer-info-box{width:100%!important; padding:30px 0px 0px 0px!important}
.search-box,.search-box.search-box1,.search-box.search-box2{width:100%!important; padding:0 5px!important}
.search-form .search-box{margin-bottom:15px;}
.search-form .search-box .search-box-label{margin-bottom:0px; font-size:10pt; font-weight:500}

.budget-menu{margin-bottom:30px; margin-top:5px;}
.search_popup{position:fixed; margin-top:0px;}
/* Harry */



.form_title{font-size:19pt; line-height:36px; margin-bottom:20px}
.search_popup .search-btn{padding-top:15px}
.search_popup{padding-top:25px; padding-bottom:25px; height:500px; overflow:auto;}
.budget-product-box{width:50%; padding:0 7px 20px;}
.service-video-area{padding:20px 20px 30px; margin-top:20px;}
.service-video{height:230px;}
.service-product-name{font-size:16pt;}
.container-prise span:last-child{font-size:15pt;}
.container-heading{font-size:13pt;}
.detail_title{font-size:18pt;}	
.reserve_now{padding:12px 30px 10px; font-size:17pt;}
.testim_img{margin:0 auto}	
.testim_left{margin-bottom:20px; float:none; width:100%}
.testim_right{padding-left:0px; width:100%}
.common_title, .detail_hall_price,.singer-heading{font-size:15pt;}	
.service_list_row{padding-bottom:25px}
.service_catagory{padding-bottom:3px; padding-top:12px}
.service_testimonial.service_list_row{padding-top:6px;}
.services_popup{width:90%}
.serv_detail_link, .serv_price{font-size:11pt;}
.vendor_homepage .left_container .table .td{padding-left:150px}
.vendor_homepage .table .td:before{width:150px}
.container_list_row .food_container_txt{padding-left:20px;}
.total_food_cost{padding-top:10px}
.subheading{font-size:15pt;}
.service_inner_wrap{padding-top:15px;}
.food_catg_next{font-size:15pt}
.heading{font-size:20pt}
.vendor_navbar{margin-top:10px}
.item_listing a{font-size:11pt;}
.vendor_navbar ul li{border:0px; width:50%; float:left; display:block; padding-bottom:12px}
.vendor_navbar{padding-bottom:5px;}
.vendor_header_left{width:100%; clear:both; margin-top:-7px;}
.vendor_header_right{width:100%; float:left}
.vendor_header{position:relative;}
.vendor_welc{position:absolute; top:0px; right:11px;}
.vendor_name{width:100%; text-align:right; padding-right:0px;}
.vendor_cart{float:right; text-align:right; margin-right:0px; margin-top:25px;}
.select_catg{width:100%; margin-top:10px;}
.vendor_logo{padding-bottom:0px;}
.vendor_header{padding-bottom:0px;}
.common_navbar li{padding-bottom:8px; padding-left:10px; padding-right:10px;}
.common_navbar { margin-top: 16px; float: left; padding-bottom:0px; margin-bottom:10px;}
.usersign-divder {width:190px;}
.forgot-password-box{padding:25px 15px 35px}
.col2.browse_row{height:160px;}
.file-btn{position:absolute; top:0px; right:0px;}
.field_group.security_wrap, .field_group.studio_wrapper{margin-top:20px;}
.payment-option-left ul li{ font-size: 10pt; font-weight: 500; line-height: 18px; padding: 11px 5px;}
.payment-option-box{padding:25px 10px 20px}
.payment-option-prise{font-size:15pt;}
.scl1{width:45%}
.scl2{width:30%}
.scl3{width:25%}
.checkout-form-cell{width:100%}
.checkout-form-cell.address-cell{margin-bottom:20px!important;}
.checkout-page-heading,.checkout-right-area .checkout-page-heading{font-size:14pt; line-height:28px;}
.checkout-box{margin-bottom:30px;}
.order-summary-heading{font-size:13pt;}
.os-cell2{width:40%}
.os-cell3{width:29%}
.os-down-payment{width:70%}
.payment-option-btn .form-btn{width:100%}

.kosha-select-img{max-width:100%; width:100%}
.kosha-select-cont{width:100%; padding:20px 0px 0px 0px}

.kosha-select-line{margin-bottom:20px; padding-bottom:20px;}
.kosha-select-prise{  margin-top:10px;}
.kosha-select-description{margin-top:5px;}
.kosha-heading{font-size:15pt; margin-bottom:15px;}
.kosha-selections-area{margin-top:30px;}
.selection-prise{margin-top:5px;}
.kosha-button-area .form-btn,.form-button-line .form-btn{font-size:20pt;}
.selection-box{width:100%;}
.selection-img img{width:auto}
.kosha-tab-line{margin-bottom:20px;}
.kosha-tab-line .mCSB_horizontal.mCSB_inside > .mCSB_container{margin-bottom:0}
.photographi-left-area,.photographi-right-area{width:100%}
.photographi-right-area{margin:15px 0 0 0; padding:0px;}
.photographi-qty-line{margin-top:5px;}
.photographi-area .kosha-tolat-area{margin-top:20px;}
.add-more-area{margin-top:0px;}
.recording-area .kosha-box{margin: 35px 0 0px;}
.rent-pop-up{width:100%;}
.package-box{width:32%; margin-left:.6%; margin-right:.6%}
.package-form .checkout-form-row:last-child .checkout-form-cell{margin-bottom:20px;}
.package-form{margin-bottom:10px;}
.hp-left{width:35%;}
.hp-right{width:65%}
.hp-row-heading .hp-left, .hp-row-heading .hp-right{font-size:11.5pt;}
.middle_nav{margin-top:-15px;}
.item_listing a{ margin-right:4px;}
.menu_internal_img{float: left;margin: 0 20px 16px 0;width: 100%;}
.mCustomScrollbar .table .tr:first-child .td{ padding-top:0px;}
.vendor_homepage .left_container .tr{ padding-top:40px;}
.mCustomScrollbar .table .tr:first-child .td .item_title {top: -40px;}
.vendor_welc{ width:100%;}
.vendor_name span{ display:initial;}
.vendor_name.username span:after{ right:-6px;}
.vendor_header_navbar li{ padding:10px 0px;}
.selection-box-area span {margin-right: 0;width: 100%;}
.selection-box-area.reception .selection-box {float: left;margin: 0 padding: 0;width: 100%;}
.meeting_category:before, .wedding_category:before{background-position: center center;position: absolute;top: -24px;left: auto;right: auto;bottom: auto;text-align: center; margin:0px; background-size:90%}
.category_title_inner {margin: 0 auto;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 50px;}
.service-display-left {margin-left: 2%!important;margin-right: 2%!important;margin-top: 20px;padding-right: 40px !important;width: 96%;}
.diamond_fullwidth .diamond_main_wrapper, .diamond_fullwidth .main_category .diamond_main_wrapper, .diamond_fullwidth .main_subcategory .diamond_main_wrapper{width:100%!important; height:auto!important}
.content{max-height:350px}
.vendor_welc .lang {
  border-right: 1px solid #ccc;
  left: 272px;
  padding-right: 10px;
  position: absolute;
  top: 51px;
}
.ops {
  font-size: 15pt;
}
.ops_text {
  line-height: 27px;
  padding: 8px 0 0;
}
.hashtag-multi-occasions{margin-top:10px; padding-top:10px;}
.coupon-beauty {width: calc(100% / 1); text-align:right;}
.couponcode{ margin-top:3px;}
.coupon-beauty:nth-child(2) {text-align: right; margin-top:10px; margin-bottom:10px;}
.coupon-sar {text-align:right;}
.couponlisting ul li {padding: 10px 0px 10px;}
.coupon-popup-area {padding: 30px 10px 0px;}
.coupon-heading {font-size: 20pt;margin-bottom: 18px;}
.appliedcoupons {font-size: 15pt; padding-bottom:12px;}
.coupon_apply {padding-bottom: 20px;}
.coupon-popup-apply input[type="button"] {font-size: 20pt;padding: 10px 40px 5px;}
.coupon-remove { float:left;}
} /*500*/