input:focus, a:foucs, area:foucs{outline:none!important;-webkit-outline:none!important;-moz-outline:none!important}

.clear{clear: both;}
.form-btn{display:inline-block; margin:0px 0px 0px 0px; border:1px solid transparent; padding:13px 40px 9px; background:#c09e9d; color:#fff; font-size:16.5pt; text-transform:uppercase; width:auto; font-family: 'morva'; text-align:center; cursor:pointer; transition: all 0.5s ease-in-out 0s;}
.form-btn:hover{background:transparent; border:1px solid #c09e9d; color:#c09e9d;}
.big-btn{font-size:22.5pt;}
.footer-section{width:100%; float:left; margin:70px 0px 0px 0px; padding:34px 0; background:#f3f3f3;}
.footer-wrapper{width:100%; margin:auto; max-width:1050px; padding:0 15px;}
.footer-menu{width:100%; float:left; margin:0px 0px 40px 0px; padding:0px; text-align:center; }
.footer-menu a,.footer-menu span{display:inline-block; color:#363636; text-decoration:none; font-size:10.5pt;}
.footer-menu span{margin:0 4px}
.footer-menu a:hover{text-decoration:underline}

.footer-info-section{width:100%; float:left; margin:0px 0px 30px 0px; padding:0px;}
.footer-info-box{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px 0 0 35px;}
.address-box{float:right;width:22%;}
.payment-options-box{width:28%;}
.secure-shopping-box{width:21%;}
.follow-box{width:29%;}
.diamond_box{ max-width:933px; margin:0px auto; padding:0px; width:100%;}
.notpadding{ padding-left: 35px!important;}

input[type='number'] {
    -moz-appearance:textfield!important;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.footer-info-heading{font-family: 'morva'; width:100%; float:left; margin:0px 0px 8px 0px; padding:0px; color:#363636; font-size:13.5pt; text-transform:uppercase}
.payment-option{width:210px; height:70px; display:inline-block; background:url(../../themes/images/sprite-image.png) no-repeat; background-position:0px 0px; margin:2px 0 0 0;}
.footer-so-line{width:100%; float:left; margin:2px 0px 0px 0px; padding:0px;}
.so-icon{width:31px; height:31px; display:inline-block; background:url(../../themes/images/sprite-image.png) no-repeat; text-decoration:none; margin:0 3px 7px 0}
.facebook-icon{background-position:0px -95px;}
.twitter-icon{background-position:-37px -95px;}
.google-plus-icon{background-position:-73px -95px;}
.instagram-icon{background-position:-114px -95px;}
.pinterest-icon{background-position:-148px -95px;}
.youtube-icon{background-position:-184px -95px;}
.so-icon:last-child{margin-right:0px;}

.footer-norton{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px;}
.foo-address-line{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px 0 15px 0; font-size:10pt; color:#363636; position:relative; word-wrap:break-word}
.foo-address-line a{color:#363636; }
.foo-address-line:before{display:inline-block; background:url(../../themes/images/sprite-image.png) no-repeat; width:20px; height:16px; content:''; position:absolute; top:4px; left:0px;}

.foo-address-line.foo-address{margin-top:-5px}

.foo-address-line.foo-phone, .foo-address-line.foo-mail{padding:0 0 5px 26px;}
.foo-address-line.foo-address:before{display:none;}
.foo-address-line.foo-phone:before{background-position:-47px -160px;}
.foo-address-line.foo-mail:before{background-position:-0px -159px;}
.foo-address-line.foo-mail{padding-bottom:0px;}
.footer-copyright{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px; text-align:center; color:#747474; font-size:10pt;}
.mobile-footer-menu{display:none; margin:0px 0px 20px 0px;}
.search-section{width:100%; float:left; background:#f3f3f3; border:1px solid #c2c2c2; border-radius:5px; margin:0px; padding:19px 25px 25px;}
.search-form{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px 0px 0 0;}

.search-box{width:19%; float:left; margin:0px 0px 0px 0px; padding:0px 10px 0 0;}

.search-box-label{width:100%; float:left; margin:0px 0px 7px 0px; padding:0px; color:#95aeb3; font-size:10.5pt; font-weight:500;}
.search-box-field{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px;}
.search-t-box,.search-box-field select,.t-box,.usersign-form-bottom select,select{border:1px solid #a69373; width:100%; float:left; margin:0px 0px 0px 0px; padding:0px 10px; height:40px; line-height:38px; font-size:10.5pt; color:#737373}
.cal-t{background-image:url(../../themes/images/calendar-icon.png); background-repeat:no-repeat; background-position:right 10px bottom 45%; cursor:pointer;}
.search-box-field select,.usersign-form-bottom select,select{background:url("../../themes/images/search-select-arrow.png") no-repeat; background-color:#fff; background-repeat:no-repeat; background-position:right 10px bottom 45%; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;appearance:none; padding-left:7px; padding-right:25px; width:100%}
.search-box-field select::-ms-expand,.usersign-form-bottom select::-ms-expand,select::-ms-expand{display:none;}
.sel-time{background:url(../../themes/images/watch.png) no-repeat; background-position:right 10px bottom 45%; background-color:#fff; max-width:130px; }
 
.search_popup .search-box1{width:18%}
.search-box2{width:15%}
.search_popup .search-box3{width:14%}
.search-box4{width:15%}
/*.search-box5{width:14%; padding-right:0px;}*/
.search-box6{width:14%}
.search-btn{width:14%; text-align:right;  float:right; margin:23px 0px 0px 0px; padding:0px; }
.search-btn .form-btn{padding-left:0px; padding-right:0px; width:100%; font-size:18pt;}

.page-left-right-wrapper{width:100%; float:left; margin:40px 0px 0px 0px; padding:0px;}
.customer-budget-section{width:23.5%; float:left; margin:0px 0px 0px 0px; padding:20px 20px; background:#f3f3f3; border:1px solid #d7d7d7; border-radius:5px;}
.customer-budget-box{width:100%; float:left; margin:0px 0px 31px 0px; padding:0px; position:relative;}

.budget-box-divder{position:relative; background:url(../../themes/images/budget-divder-line.png) repeat-x; width:80%; height:4px; float:left; margin:15px 0 0 10%; padding:0px}
.budget-box-divder:after{content:''; position:absolute; left:50%; margin-left:-6px; bottom:-2px; background:url(../../themes/images/budget-divder-round.png) no-repeat; width:12px; height:8px;}


.customer-product-name{width:100%; float:left; margin:0px 0px 16px 0px; padding:0px; font-size:13.5pt; color:#95aeb3; font-weight:500;}

.customer-budget-line{width:100%; float:left; margin:0px 0px 19px 0px; padding:0px;}
.customer-subproduct-name{width:100%; float:left; margin:0px 0px 7px 0px; padding:0px; font-size:10.5pt; position:relative; font-weight:500}
.customer-subproduct-name:after{position:absolute; top:-14px; right:0px; content:'+'; color:#000000; font-size:30pt; font-weight:100;}
.customer-subproduct-name.budgetopen:after{ content:''; font-size:13pt; font-weight:300;top:5px; background:url("../images/close_btn.png") no-repeat top right; width:10px; height:10px;}
.budget-range-line{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px; position:relative; min-height:25px;}
.budget-range-box1,.budget-range-box2{ float:left; margin:0px 0px 0px 0px; padding:0px; position:absolute; top:0; background:#f3f3f3;}
.budget-range-divder{width:100%; float:left; margin:12px 0px 0px 0px; padding:0px; height:1px; background:#ccbfaa;}
.budget-range-box2{right:0; max-width:100px; padding-left:5px;}
.budget-range-box1{left:0; max-width:45px; padding-right:5px;}
.budget-t{border:1px solid #d0cdc0; background:#fff; float:left; font-size:10pt; height:25px; line-height:22px; width:100%; margin:0px; padding:0px 5px}


.page-right-section{max-width:933px; margin:0px auto; padding:0px;}
.mobile-filter-line,.mobile-back-arrow{display:none;}


.after-modify-search{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px; position:relative;}
 
.modify-search-form{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px;}
.search-noneedit{width:100%; float:left; margin:-4px 0px 0px 0px; padding:0px; font-size:13pt; font-weight:600;}
.modify-search-form .search-box1{width:19%}
.modify-search-form .search-box2{width:16%}
.modify-search-form .search-box3{width:13%}
.modify-search-form .search-box4{width:12%}
.modify-search-form .search-box5{width:13%}
.modify-search-form .search-box6{width:11%}
.modify-search-form .search-btn{width:16%; text-align:right;  float:right; margin:4px 0px 0px 0px; padding:0px; }
.modify-search-form .search-btn a{text-decoration:none}

.budget-carousel-area{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px 0px;}
.carousel-product-box{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px; text-align:center}
.carousel-product-img,.carousel-product-name,.carousel-product-prise,.carousel-product-view,.carousel-product-cont{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px;}
.carousel-product-cont{padding:9px 0px 0px; text-align:left}
.carousel-product-name{color: #737373;font-size: 13pt;font-weight: 600;margin-bottom: 4px;}
.carousel-product-name a{color:#737373; text-decoration:none;}
.carousel-product-prise{font-size:10.5pt; margin-bottom:3px; color:#737373}
.carousel-product-view{color:#c09e9d; font-size:9pt;}
.carousel-product-view a{color:#737373; font-weight:600}


.budget-carousel-area .flex-direction-nav a{opacity: inherit;width:35px; height:70px; text-indent:-9999px!important; background-image:url(../../themes/images/slider-arrow.png); background-repeat:no-repeat; background-position:center}
.budget-carousel-area .flex-direction-nav .flex-nav-prev a{opacity: inherit;width:35px; height:70px; text-indent:-9999px!important; background-image:url(../../themes/images/slider-arrow-p.png); background-repeat:no-repeat; background-position:center}
.flexslider .flex-nav-prev .flex-prev{background-color:#f3f3f3!important}
.flexslider .flex-nav-next .flex-next{background-color:#c09e9d!important}
.budget-carousel-area .flex-direction-nav .flex-next{ text-indent:100000000px!important;right:-44px;}
.budget-carousel-area .flex-direction-nav a.flex-prev{transform: rotate(180deg);left:-44px;}
.budget-carousel-area .flexslider:hover .flex-direction-nav .flex-next{right:-44px;opacity: inherit;}
.budget-carousel-area .flexslider:hover .flex-direction-nav .flex-prev{left:-44px;opacity: inherit}
.budget-carousel-area .flex-control-nav{display:none;}

.budget-menu-outer{max-width:755px; width:100%; margin:auto; }
.budget-menu{width:100%; float:left; margin:25px 0px 60px 0px; padding:0px 0 0px 0; text-align:center; background:url(../../themes/images/budget-menu-line.png) repeat-x; background-position:bottom}

.budget-menu-box{display:inline-block; margin:0 25px 11px 0}
.budget-menu-box label{color:#95aeb3;}



.budget-carousel-area .form_title,.budget-product-area .form_title{margin-bottom:28px;}
.diamond-area{width:100%; float:left; margin:30px 0px 0px -10px; padding:0px 0px;}


/* Start For table */
.table{border-radius: 5px; display: table; margin: 0px 0; padding:0; width: 100%; background:#f3f3f3; border:1px solid #e6e6e6; overflow:hidden}
.tr{ display: table-row;}
.tr:nth-child(2n){background:#ffffff;}
.td{ display: table-cell; padding: 25px 20px; vertical-align: top;  word-wrap:break-word; }
.table_heading{display: table-cell; font-size: 14pt; font-weight: 600; margin: 0; padding: 20px 20px 20px;}
.tr.total-prise{background:#f3f3f3;}
/* End For table */

/* Start For Cart table */
.table-cart-wrapper{border-radius: 5px; width:100%; float:left; overflow:hidden;border:1px solid #e6e6e6;}
.table-cart,.serviceorder-det-table {border-radius: 5px; display: table; margin: 0px 0; padding:0; width: 100%; background:#f3f3f3;  overflow:hidden}
.table-cart .tr{ display: table-row;}
.table-cart .tr:nth-child(2n){background:#ffffff;}
.table-cart .td{ display: table-cell; padding: 25px 20px!important; vertical-align: top;  word-wrap:break-word; line-height:24px; }
.table-cart .table_heading,.serviceorder-det-table .table_heading{display: table-cell; font-size: 14pt; font-weight: 600; margin: 0; padding: 20px 20px 20px!important;}
.table-cart .tr.total-prise{background:#f3f3f3; border-top:1px solid #e0dfdf}
.table-cart .child-tr-even{background:#fff;}
.table-cart .child-tr-odd{background:#f3f3f3;}
.child-table .tr{background:transparent!important}
.child-table .td{border-top:0px solid #e0dfdf; padding-top:10px!important; padding-bottom:10px!important;} 
.child-table .td:first-child{padding-left:63px!important;}
/*.child-table .tr:last-child .td{padding-bottom:30px!important;}*/
.table-cart .child-tr-odd .td{border-color: #fff;}
.goldencartitems{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px;}
/*.goldencartitems:nth-child(2n){background:#f3f3f3;}*/
.panel-collapse{margin-top:-15px;}
.child-table tr:last-child .td{border-bottom:0px;}
.cart-delete{background:url(../images/delete.png) no-repeat; background-size:100%; display:inline-block; width:13px; height:16px; text-decoration:none; margin:6px 0 0 0; position:absolute; top:0; left:20px;}
.child-table .cart-delete{top:10px; left:40px}
.quantity-box{width: 84px;position: relative;display: block;text-align: center;border: 1px solid #a69373;padding: 7px 9px; font-size:12pt; background:#fff;}
.quantity-box input{width:100%; text-align:center}
.quantity-box #sub{  background-attachment: scroll;background-clip: border-box;background-color: transparent !important;background-image: url("../images/minus.png");background-origin: padding-box;background-position: 6px 21px;background-repeat: no-repeat;background-size: auto auto;border: 0 none !important;box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;content: "";display: block;height: 40px !important;left: 0;overflow: hidden;position: absolute;top: 0;width: 20px !important;z-index: 999;}
.quantity-box #add{   background-attachment: scroll;background-clip: border-box;background-color: transparent !important;background-image: url("../images/plus.png");background-origin: padding-box;background-position: left 17px;background-repeat: no-repeat;background-size: auto auto;border: 0 none !important;box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;content: "";display: block;height: 41px !important;overflow: hidden;position: absolute;right: -3px;top: 0;width: 20px !important;z-index: 1; outline:none; webkit-appearance:none;}
.hall-cart-tr .quantity-box #sub{ z-index:2} 

.hall-cart-td{padding:25px 0 20px}
.cast-hall{font-weight:600; color:#c09e9d; font-size:13pt;}
.table-cart .hall-cart-td .td{padding-top:0px!important; padding-bottom:10px!important;}
.table-cart .hall-cart-td .hall-more-less .td {padding-top:10px!important;}
.table-cart .hall-cart-td .hall-more-less .panel-collapse{border-bottom:0px solid #e0dfdf; margin-bottom:15px;}
.bks {
  display: inline-block;
  float: none !important;
  width: auto;
  padding-top: 16px;
}
.ja{ line-height:57px;}
.bks .t-box{ width:100%!important;}
/* End For Cart table */



.tatal-services-area{max-width:1070px; margin:auto; width:100%;}
.tatal-services-inner-area{width:100%; float:left; margin:50px 0px 0px 0px; padding:0px 0 0 0px;}
.tatal-services-heading{font-family: 'morva'; width:100%; float:left; margin:0px 0px; padding:0px 0 25px 22px; color:#95aeb3; font-size:27pt; text-transform:uppercase}
.total-prise .td4{font-size:15pt; font-weight:600;}
.tatal-services-table .td4,.table_heading:last-child{text-align:right}
.tatal-services-table .td2{position:relative;}
.services-edit{background:url(../../themes/images/edit-icon.png) no-repeat; width:25px; height:25px; text-decoration:none; float:left; margin:0px; padding:0px; top:23px; left:120px; position:absolute; background-position:center center}
 
.tatal-services-area .td1{width:40%; padding-left:43px!important; position:relative;}
.tatal-services-area .td2{width:20%;}
.tatal-services-area .td3{width:23%;}
.tatal-services-area .td4{width:20%;}
 

.tatal-services-pay-area{width:100%; float:left; margin:30px 0px 0px 0px; padding:0px; text-align:right;}
.tatal-services-pay-area .form-btn{min-width:290px; font-size:22.5pt; padding-top:15px;}
.event-result-form{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px;}
.event-result-form .search-box1{width:24%}
.event-result-form .search-box2{width:18%}
.event-result-form .search-box3{width:18%}
.event-result-form .search-box4{width:15%}
.event-result-form .search-box5{width:16%}
.event-result-form .search-box6{width:12%; padding-right:0px;}


.budget-product-area{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px 50px;}
.budget-product-box-wrapper{width:100%; float:left; margin:2px 0px 0px 0px; padding:0px;}
.budget-product-box{margin:0px 0px 0px 0px; padding:0px 7px 30px; width:25%; float:left;}
.carousel-row{width:100%; float:left; margin:0px 0px 37px 0px; padding:30px 50px; border-radius:7px!important}
.carousel-heading{width:100%; float:left; margin:0px 0px; padding:0px 0 13px 0px; font-weight:500; color:#737373; font-size:18pt;  }
#withinmybuget{background-color:#c6fbcb;}
#outofmybuget{background-color:#fdc8c8;}
#offermybuget{background-color:#fbf8bd;}

.service-mid-wrapper{width:100%; max-width:865px; margin:auto;}
.service-video-area{width:100%; float:left; margin:56px 0px 30px 0px;padding:50px 100px 60px; border:1px solid #d9d9d9; background:#f3f3f3; border-radius:5px;}
.service-video-cont{width:100%; float:left; margin:0px 0px 23px 0px;padding:0px; text-align:center; word-wrap:break-word;}
.service-video-box{width:100%; float:left; margin:0px 0px 0px 0px;padding:0px;}
.service-video{width:100%; height:395px; float:left}
.service-mid-wrapper .service_testimonial{/*margin-top:41px;*/ float:left;}
.service-display-section{width:100%; float:left; margin:45px 0px 0px 0px; padding:0px 0px;}
.service-display-left{width:23.5%; float:left; margin:0px 0px 20px 0px;  padding:20px 20px 30px 20px; border:1px solid #d9d9d9; background:#f3f3f3; border-radius:5px; position:relative;}
.service-display-left:last-child{margin-bottom:0px;}
.service-left-display-img{width:100%; float:left; margin:0px 0px 18px 0px; padding:0px; text-align:center; max-height:200px; overflow:hidden}

.service-product-name{width:100%; float:left; margin:0px 0px 13px 0px; padding:0px; color:#95aeb3; font-size:16pt; font-weight:600; word-wrap:break-word;}
.service-product-description{width:100%; float:left; margin:0px 0px 20px 0px; padding:0px;}
.service-radio-line{width:100%; float:left; margin:0px 0px 30px 0px; padding:0px;}
.service-radio-box{width:auto; float:left; margin:0px 0px 0px 0px; padding:0 20px 0 0;}
.service-display-right{width:73%; float:right; margin:0px 0px 0px 0px; padding:0px 0px; }
.service-display-right .form_title{margin:5px 0 25px 0;}
.service-videso{width:100%;  float:left;}


/* Start For Sign In & Sign Up */
.header-page-divder{width:100%; height:2px; float:left; margin:0; padding:0px; background:url(../../themes/images/header-page-divder.png) repeat-x; display:none;}
.usersign-area{max-width:800px; margin:auto; width:100%;}
.usersign-socal-area{width:100%; float:left; margin:65px 0px 50px 0px; padding:0px 0px; text-align: center}
.usersign-socal-area .form_title{margin-bottom:35px;}
.usersign-socal-link{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px 0px;}

.login-or{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px 0px; font-size:20pt; font-weight:600; text-align:center; text-transform:uppercase}

.usersign-box-area{width:100%; float:left; margin:60px 0px 0px 0px; padding:0px 0px;}
.usersign-box{width:40%; float:left; margin:0px 0px 0px 0px; padding:0px 0px;}
.usersign-box:last-child{float:right;}
.usersign-box-heading{width:100%; float:left; margin:0px 0px 30px 0px; padding:0px 0px; font-size:18pt; font-weight:600; color:#95aeb3;}
.usersign-form{width:100%; float:left; margin:0px 0px 20px 0px; padding:0px 0px;}
.usersign-form-line{width:100%; float:left; margin:0px 0px 20px 0px; padding:0px 0px;}
.usersign-form-top{width:100%; float:left; margin:0px 0px 5px 0px; padding:0px 0px; font-size:12pt; font-weight:500;}
.usersign-form-bottom{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px 0px;}
.usersign-form-button{width:100%; float:left; margin:10px 0px 0px 0px; padding:0px 0px;}
.usersign-form-button .form-btn{float:left;}
.gender-radio-box{width:110px; float:left; margin:0px 0px 0px 0px; padding:0px; font-size:10.5pt;} 
.usersign-form-bottom .t-box.cal-t{max-width:200px;}
.usersign-divder{width:4px; height:445px; float:left; margin:60px 0px 0px 9.8%; padding:0px; background:#c5ac84; position:relative;}
.usersign-divder:before,.usersign-divder:after{position:absolute; left:-27px; background:url(../../themes/images/divder-icon.png) no-repeat; width:58px; height:31px; content:'';}
.usersign-divder:before{transform: rotate(270deg); top:-50px;}
.usersign-divder:after{transform: rotate(90deg); bottom:-50px;}
.login-rememberme-div{margin:14px 0 0 20px; padding:0px; float:left}
.forgot-password{width:100%; float:left; margin:20px 0px 0px 0px; padding:0px;}
.usersign-form-bottom select{width:auto; margin-right:10px;}
.frg{ margin-bottom:5px!important;}
.sign-clear{display:none;}

.forgot-password-area{max-width:500px; margin:auto; width:100%;}
.forgot-password-box{width:100%; float:left; margin:20px 0px 0px 0px;  padding:35px 45px 40px; border:1px solid #d9d9d9; background:#f3f3f3; border-radius:5px;}
.forgot-password-box .usersign-form{margin:10px 0 0px; max-width:325px}
.forgot-password-area .form_title{margin:0px 0 25px 0;}
/* End For Sign In & Sign Up */

/* Start For Checkout */
.checkout-area{width:100%; float:left; margin:45px 0px 0px 0px; padding:0px 0px;}
.checkout-left-area{width:60%; float:left; margin:0px 0px 0px 0px; padding:0px 0px;}
.checkout-page-heading{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px 0px 17px 30px; font-size:18pt; color:#95aeb3; font-weight:500;}
.checkout-box{width:100%; float:left; margin:0px 0px 45px 0px; padding:24px 30px 30px; border:1px solid #d9d9d9; background:#fff; border-radius:10px;}
.po-checkout{margin-bottom:0px;}
.checkout-form{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px 0px;}
.checkout-form-row{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px 0px;}
.checkout-form-cell{width:49%; float:left; margin:0px 2% 20px 0px; padding:0px 0px;}
.checkout-form-cell:last-child{margin-right:0px;}
/*.checkout-form-row:last-child .checkout-form-cell{margin-bottom:0px;}*/
.checkout-form-top{width:100%; float:left; margin:0px 0px 5px 0px; padding:0px 0px; color:#95aeb3; font-weight:500; }
.checkout-form-bottom{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px 0px;}
.checkout-dob select{width:auto; margin-right:10px;}
.checkout-small-box{max-width:200px;}
.address-cell .t-box{margin-bottom:15px;}
.address-cell .t-box:last-child{margin-bottom:0px;}

.shipping-companies-wrapper{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px 0px;}
.shipping-companies-wrapper:last-child{margin-bottom:0px;}
.shipping-companies-heading{width:100%; float:left; margin:0px 0px 13px 0px; padding:0px 0px; color:#95aeb3; font-weight:500;}
.shipping-companies-line{width:100%; float:left; margin:0px 0px 20px 0px; padding:0px 0px;}
.shipping-companies-line:last-child{margin-bottom:0px;}
.scl1,.scl2,.scl3{float:left; margin:0px 0px 0px 0px; padding:0px 0px; font-size:9pt;}
.scl1{position:relative; padding-left:145px; width:50%}
.scl1-radio{position:absolute; top:0; left:0px; width:25px;}
.scl1-img{position:absolute; top:2px; left:30px; width:85px;}
.scl1-name{float:left; margin:0px 0px 0px 0px; padding:0px 0px; width:100%; font-size:11pt;}
.scl2{width:30%}
.scl3{width:20%}

.payment-option-area{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px;}
.payment-option-left{width:27%; float:left; margin:0px 0px 0px 0px; padding:0px;}
.payment-option-left ul{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px;}
.payment-option-left ul li{width:100%; float:left; margin:0px 0px 0px 0px; padding:11px 17px; list-style:none; border-radius:5px 0 0px 5px}
.payment-option-left ul li br{display:none;}
.payment-option-left ul li a{color:#737373; text-decoration:none;}
.current-payment{background:#f3f3f3;}
.shipping-companies-line.rds{ width:33%!important;}
.rds .scl1{width: 72%;}


.payment-option-right{width:73%; float:left; margin:0px 0px 0px -2px; padding:0px;}
.payment-option-box{width:100%; float:left; margin:0px 0px 0px 0px; padding:20px 20px 30px; background:#f3f3f3;  border-radius:5px 5px 5px 5px}
.payment-card-line{width:100%; float:left; margin:0px 0px 18px 0px; padding:0px;}
.payment-form-line{width:100%; float:left; margin:0px 0px 22px 0px; padding:0px;}
.payment-form-top{width:100%; float:left; margin:0px 0px 6px 0px; padding:0px; font-weight:500; color:#95aeb3;}
.payment-form-bottom{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px;}
.payment-form-bottom .t-box{max-width:300px;}
.save-card-line{width:100%; float:left; margin:3px 0px 0px 0px; padding:0px; font-size:9pt;}
.t-cvv{width:70px;}
.what-cvv{width:175px; float:left; margin:7px 0px 0px 10px; padding:0px 0 0 50px; position:relative; font-size:8.25pt; line-height:15px;}
.cvv-icon{position:absolute; width:42px; height:27px; top:0px; left:0px;}
.payment-expiry{width:42%;}
.payment-cvv{width:58%; padding-left:20px;}
.payment-expiry select{width:90px; margin-right:11px;}
.payment-expiry select:last-child{margin-right:0px;}
.payment-option-prise{color:#95aeb3; font-weight:500; width:100%; float:left; margin:17px 0px 0px 0px; padding:0px; font-size:18pt; text-align:center;}
.payment-option-btn{width:100%; float:left; margin:17px 0px 0px 0px; padding:0px; text-align:center;}
.payment-option-btn .form-btn{ font-size:22.5pt; display:inline-block;}


.checkout-right-area{width:36%; float:right; margin:0px 0px 0px 0px; padding:0px 0px;}
.checkout-right-area .checkout-page-heading{padding-left:21px;}
.order-summary-box{width:100%; float:left; margin:0px 0px 0px 0px; padding:20px 20px 25px; background:#f8f8f8; border:1px solid #d9d9d9; border-radius:5px;}
.order-summary-heading{width:100%; float:left; margin:0px 0px 20px 0px; padding:0px 0 10px 0; font-size:16pt; line-height:normal; font-weight:500; border-bottom:1px solid #d9d9d9;}

.os-row-area{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px;}
.os-row{width:100%; float:left; margin:0px 0px 13px 0px; padding:0px 0 13px 17px; border-bottom:1px solid #d9d9d9; position:relative}
.os-row-no{position:absolute; width:17px; top:0px; left:0px;}
.os-cell1,.os-cell2,.os-cell3,.os-down-payment{float:left; margin:0; padding:0px 10px 0px 0px;}
.os-cell1{width:31%}
.os-cell2{width:43%}
.os-cell3{width:26%; text-align:right; font-weight:500; padding-right:0px;}
.os-down-payment{width:76%;font-weight:500;}
.os-shipping-fess-row{width:100%; float:left; margin:7px 0px 0px 0px; padding:0px;}
.os-shipping-fess-row .os-cell1{font-weight:500;}

.os-total-line{width:100%; float:left; margin:0px 0px 0px 0px; padding:15px 0px 0; font-weight:600; font-size:13.5pt;}
.os-total-left,.os-total-right{width:48%; float:left; margin:0px 0px 0px 0px; padding:0px;}
.os-total-right{float:right; text-align:right;}
.order-summary-box.pay-now-os{margin-top:0px; background-color:#f3f3f3}
.payment-option-inner-box{display:none;}
.payment-option-inner-box:first-child{display:block}
/* End For Checkout */



.service_tabs .mCS_no_scrollbar_x,.kosha-tab-line .mCS_no_scrollbar_x{margin:auto!important;}
.service_tabs .mCustomScrollBox,.service_tabs .mCSB_container{overflow:inherit}
/*.service_tabs .mCSB_scrollTools,.kosha-tab-line .mCSB_scrollTools{visibility:hidden}*/
.service_tabs .mCSB_scrollTools{opacity:1}
.service_tabs .mCSB_scrollTools .mCSB_draggerContainer{top:71px;}


.kosha-area{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px;}
.kosha-heading{width:100%; float:left; margin:0px 0px 17px 0px; padding:0px; color:#95aeb3; font-size:18pt; font-weight:600;}
.kosha-select-area,.kosha-selections-area{width:48%; float:left; margin:0px 0px 0px 0px; padding:0px;}
.kosha-selections-area{ float:right;}
.kosha-tab-area{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px;}
.kosha-box{width:100%; float:left; margin:0px 0px 0px 0px; padding:30px 30px; background:#f3f3f3; border:1px solid #d6d7d7; border-radius:5px;}
.kosha-select-line{width:100%; float:left; margin:0px 0 30px 0; padding:0px 0 30px 0; border-bottom:1px solid #d9d9d9;}
.kosha-select-line:last-child{border:0px; padding-bottom:0px; margin-bottom:0px;}
.kosha-select-img{width:41%; float:left; margin:5px 0px 0px 0px; padding:0px;}
.kosha-select-img img{float:left;}
.kosha-select-cont{width:59%; float:left; margin:0px 0px 0px 0px; padding:0px 0 0 20px;}
.kosha-select-name{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px; font-size:13.5pt; font-weight:600;}
.kosha-select-description{width:100%; float:left; margin:9px 0px 0px 0px; padding:0px; word-wrap:break-word;}
.kosha-select-prise{width:100%; float:left; margin:15px 0px 0px 0px; padding:0px; color:#95aeb3; font-size:16pt; font-weight:600;}
.kosha-select-radieo{width:100%; float:left; margin:13px 0px 0px 0px; padding:0px;}
.kosha-select-radieo input[type="radio"]:not(old) + label{padding-bottom:0px;}
.selection-box-area{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px;}
.selection-box{width:100%; float:left; margin:0px 0px 45px 0px; padding:0px;}

.selection-box-area span{ width:47%; float:left; margin-right:3%;}
.selection-img{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px;   min-height: 170px;}
/*.selection-img img{width:100%;}*/
.selection-name{width:100%; float:left; margin:5px 0px 0px 0px; padding:0px; font-size:13.5pt; font-weight:600;}
.selection-prise{width:100%; float:left; margin:8px 0px 0px 0px; padding:0px; color:#95aeb3; font-size:18pt; font-weight:600;}

.kosha-tolat-area{width:100%; float:left; margin:5px 0px 0px 0px; padding:0px; text-align:center;}
.kosha-tolat-prise{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px; font-size:18pt; font-weight:600;}
.kosha-tolat-prise span{color:#95aeb3;}
.kosha-button-area{width:100%; float:left; margin:15px 0px 0px 0px; padding:0px;}
.kosha-button-area .form-btn,.form-button-line .form-btn{font-size:22.5pt; }

.kosha-tab-line{width:100%; float:left; margin:20px 0px 32px 0px; padding:0px; text-align:center;}
.rm-kosha-outer{width:100%; max-width:1030px; margin:auto;}
.rm-kosha-area{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px;}
.rm-kosha-name{width:100%; float:left; margin:0px 0px 17px 0px; padding:0px;color:#95aeb3; font-size:18pt; font-weight:600; text-align:center;}
.rm-kosha-img,.rm-kosha-text{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px; text-align:center;}
.rm-kosha-img{margin-bottom:15px;}
.rm-kosha-text{margin-bottom:15px; padding:0 15%}
.rm-kosha-text ul{margin-top:10px; width:100%; float:left;}
.rm-kosha-text li{margin-bottom:10px;}
/*==================Start For Tab========================*/
span.sat{ margin:10px 0px 0px 0px; padding:0px 0px 0px 0px; width:100%; float:left; border:0px solid #00FF00;}
span.sat ul{margin:0px;padding:0px;list-style:none;}
span.sat ul li{padding: 0px 0px 0px 0px; display:inline-block; margin:0px 5px;  background:#f3f3f3; border:1px solid #d6d7d7; border-radius:5px}
span.sat ul li a{padding:0px 21px; text-align:right; color:#737373; text-decoration:none; float:left; outline:none; height:37px; line-height:38px;}
span.sat ul li a.select{color:#c09e9d;} 
/*==================End For Tab========================*/
 

.photographi-area{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px;}
.photographi-left-area{width:49.5%; float:left; margin:0px 0px 0px 0px; padding:0px;}
.photographi-right-area{width:50.5%; float:left; margin:-4px 0px 0px 0px; padding:0px 0 0 30px;}
.photographi-name{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px; color:#95aeb3; font-size:13.5pt; font-weight:600;}
.photographi-description{width:100%; float:left; margin:9px 0px 10px 0px; padding:0px;}
.photographi-qty-line{width:100%; float:left; margin:8px 0px 0px 0px; padding:0px; font-weight:600; color:#95aeb3}
.photographi-qty-line span{color:#737373; padding-left:0px; float:left; width:100%;}
.photographi-area .kosha-tolat-area,.photographi-heading {text-align:left;}
.photographi-area .kosha-tolat-area{margin-top:35px;}


.singer-area{width:100%; float:left; margin:20px 0px 0px 0px; padding:0px 0px;}
.singer-heading{width:100%; float:left; margin:0px 0px 18px 0px; padding:0px 0px; color:#95aeb3; font-size:18pt; font-weight:600;}
.singer-box{width:100%; float:left; margin:0px 0px 0px 0px; padding:30px 30px; background:#f3f3f3; border:1px solid #d6d7d7; border-radius:5px;}
.singer-image-area{width:21%; float:left; margin:0px 0px 0px 0px; padding:0px 0px;}
.singer-form-area{width:79%; float:left; margin:-5px 0px 0px 0px; padding:0px 0px 0 15px;}
.singer-name{width:100%; float:left; margin:0px 0px 20px 0px; padding:0px 0px; font-size:13.5pt; font-weight:600;}
.form-cell-date{width:50%; float:left}
.form-cell-time{width:40%; float:right;}
.cell-full-width{width:100%;}
.form-button-line{width:100%; float:left; margin:10px 0px 0px 0px; padding:0px 0px;} 
.recording-area{width:100%; max-width:585px; margin:auto; }
.add-more-area{width:100%; float:left; margin:28px 0px 0px 0px; padding:0px 0px;} 
.add-more-btn{display:inline-block; margin:0px 0px 0px 0px; border:1px solid transparent; padding:9px 25px 6px; background:#95aeb3; color:#fff; font-size:15pt; text-transform:uppercase; width:auto; font-family: 'morva'; text-align:center; cursor:pointer; transition: all 0.5s ease-in-out 0s; text-decoration:none;}
.add-more-btn:hover{background:transparent; border:1px solid #95aeb3; color:#95aeb3;  }

.acoustic-total-area{width:100%; float:left; margin:10px 0px 0px 0px; padding:0px 0px; text-align:center; color:#95aeb3; font-size:18pt; font-weight:600; } 
.acoustic-button-line{width:100%; float:left; margin:12px 0px 0px 0px; padding:0px 0px; text-align:center;}
.acoustic-button-line .form-btn{font-size:22.5pt;}
.recording-area .kosha-box{margin:45px 0 0px 0;}
.equipment p{margin-bottom:15px;}
.equipment p:last-child{margin-bottom:0px;}
.equipment-redio-line{width:100%; float:left; margin:5px 0px 0px 0px; padding:0px 0px;} 
.equipment-redio-box{  float:left; margin:0px 20px 0px 0px; padding:0px 0px;} 
.equipment-redio-box:last-child{margin-right:0px;}
.equipment-prise{width:100%; float:left; margin:13px 0px 0px 0px; padding:0px 0px; color:#95aeb3; font-size:18pt; font-weight:600; } 
.equipment-prise span{color:#737373; font-size:10.5pt;}
.equipment-button{width:100%; float:left; margin:27px 0px 0px 0px; padding:0px 0px;}
.equipment-button .form-btn{width:100%;}
.equipment-button a{text-decoration:none; padding:19px 0 14px}
.rent-pop-up{width:360px; padding:32px 15px 40px; margin:auto; overflow:hidden;}
.rent-form-prise{width:100%; float:left; margin:5px 0px 0px 0px; padding:0px 0px; color:#95aeb3; font-size:18pt; font-weight:600; text-align:center;} 
.rent-form-btn{width:100%; float:left; text-align:center; margin:12px 0 0 0; padding:0px 0px;}
.rent-form{width:260px; margin:auto;}
.rent-form-line{width:100%;  float:left; margin:0px 0px 22px 0px; padding:0px 35px;} 
.rent-form-top{width:100%;  float:left; margin:0px 0px 6px 0px; padding:0px 0px; color:#95aeb3; font-weight:600;}
.rent-form-bottom{width:100%;  float:left; margin:0px 0px 0px 0px; padding:0px 0px;}
.hall-extra-class .service_testimonial.service_list_row{padding-bottom:0px;}

.abaya-l .container_total_price.abaya_price{padding-bottom:1px;}
.abaya-l .akaya_bodymesurment{padding-bottom:15px;}

.choose-line-section{width:100%; float:left; margin:0px 0px 7px 0px; padding:0px; }
.choose-line{width:100%; float:left; margin:0px 0px 15px 0px; padding:0px 0 15px 0px; position:relative; border-bottom:1px solid #d5d6d6;}
.choose-line:last-child{border:0px; margin-bottom:0px; padding-bottom:0px}
.choose-line-img{ top:0px; left:0px; width:30%; float:left}
.choose-line-cont {
  float: left;
  font-size: 10.5pt;
  margin: -6px 0 0;
  padding: 0px 0px 0px 13px;
  width: 70%;
}
.choose-line-neme,.choose-line-experience,.choose-line-review,.choose-line-radio{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px;}
 
.choose-line-experience span{color: #95aeb3;}
.choose-line-review{margin-top:5px;}
.choose-line-review span{font-size:9pt; font-weight:600; float:left; margin:-3px 0 0 5px}
.choose-line-review img{float:left;}
.choose-line-radio{margin-top:7px; text-align:left}

.makeup_l .packge_numb{padding-top:0px;}
.makeup_l .total_price{padding-top:30px;}
.makeup_l .service_quantity_box{padding-top:5px;}
.event-l .packge_numb{padding-top:10px;}
.event-l .total_food_cost{padding-top:30px;}

/*.common_popup.measurement-outer{position:absolute; transform: inherit; top:20px; left:50%; margin-left:-272px;}*/
.measurement-popup {
  float: left;
  height: 900px;
  margin: 0;
  overflow-y: scroll;
  padding: 32px 35px 40px;
  width: 545px;
}
.measurement-form{width:145px; float:left; margin:0px 0px 0px 0px; padding:0px;}
.measurement-form-line{width:100%; float:left; margin:0px 0px 16px 0px; padding:0px;}
.measurement-form-top{width:100%; font-size:10.5pt; color:#95aeb3; font-weight:500; float:left; margin:0px 0px 3px 0px; padding:0px;}
.measurement-form-bottom{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px; position:relative;}
.measurement-form-bottom .t-box {
  margin-right: 5px;
  max-width: 55px;
}
.parametar{float:left; margin:10px 0px 0px 15px; padding:0px; font-size:10.5pt;}
.measurement-radio-line{width:100%;  float:left; margin:0px 0px 6px 0px; padding:0px;}
.measurement-popup-img{width:260px; float:right; margin:80px 0px 0px 0px; padding:0px;}
.measurement-btn-area{width:100%;  float:left; margin:10px 0px 0px 0px; padding:0px;}

.measurement-form-bottom .parametar {
  float: left;
  font-size: 10.5pt;
  margin: 10px 0 0 15px;
  padding: 0;
  position: absolute;
  right: 29px;
}
.measurement-form-bottom .error {
  color: red;
  float: left;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  margin-top: 5px;
  width: 100% !important;
}
.vendor_header_navbar a{ color:#737373;}
.vendor_header_navbar a:hover{ color:#c09e9d;}
.measurement-divder{width:4px; height:560px; float:right; margin:65px 36px 0px 0px; padding:0px; background:#c5ac84; position:relative;}
.measurement-divder:before,.measurement-divder:after{position:absolute; left:-27px; background:url(../../themes/images/divder-icon.png) no-repeat; width:58px; height:31px; content:'';}
.measurement-divder:before{transform: rotate(270deg); top:-50px;}
.measurement-divder:after{transform: rotate(90deg); bottom:-50px;}
.tailors-l .akaya_bodymesurment{padding-bottom:15px;} 
.car_text_type.packagedates {
  font-weight: 500;
  margin-top: 9px;
  width: 195px;
}



.package-row{width:100%; float:left; margin:40px 0px 0px 0px; padding:0px;}
.package-section{width:48%; float:left; margin:0px 0px 0px 0px; padding:0px}
.package-section:last-child{float:right;}
.package-line{width:100%; float:left; margin:0px 0px 23px 0px; padding:0px; border-bottom:1px solid #d9d9d9;}
.package-line:last-child{border:0; margin-bottom:0px;}
.package-line-heading{width:100%; float:left; margin:0px 0px 14px 0px; padding:0px; font-size:13.5pt; font-weight:600;}
.package-box{width:15%; float:left; margin:0px 2% 25px 0px; padding:0px; text-align:center;}
.package-box img{max-width:150px;}
.package-box input[type="radio"]:not(old) + label{background-position:bottom center; padding:0 0 27px;}
.package-name,.package-price{width:100%; float:left; margin:0px 0px 5px 0px; padding:0px; line-height:16px;}
.package-name{margin:6px 0 5px 0; color:#737373}
.package-price{color:#95aeb3; font-weight:500;}
.package-box:last-child{margin-right:0px;}
.package-section:first-child .kosha-box{padding-bottom:5px; padding-top:25px;}
.package-section .cal-t{max-width:175px;}
.qty-box{width:85px; text-align:center; position:relative; border:1px solid #a69373; background:#fff; float: left; font-size: 10.5pt; height: 40px; line-height: 38px; margin: 0;  padding: 0 10px;}
.qty-box:after,.qty-box:before{position:absolute; cursor:pointer; top:0px; font-size:27pt; font-weight:300; color:#c09e9d; }
.qty-box:after{content:'-'; left:10px; top:-3px}
.qty-box:before{content:'+'; right:10px;}
.package-form{margin:-15px 0 35px 0}
.package-outer{width:100%; max-width:600px; margin:auto;}
.hp-row{width:100%; float:left; margin:0px 0px 15px 0px; padding:0px;}
.hp-left{width:25%; float:left; margin:0px 0px 0px 0px; padding:0px; color:#95aeb3; font-weight:500}
.hp-right{width:75%; float:left; margin:0px 0px 0px 0px; padding:0px 0 0 20px;}
.hp-display-box{width:85px; float:left; margin:0px 0px 0px 0px; padding:0px; text-align:center;}
.hp-display-img{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px;}
.hp-bottom-section{width:100%; float:left; margin:0px 0px 20px 0px; padding:0px;} 
.hp-row.hp-row-heading{margin-top:10px}
.hp-row-heading .hp-left, .hp-row-heading .hp-right{font-size:13.5pt; font-weight:600; color:#737373}

.child-td{padding:0px!important;}
.child-table{width:100%; }
.child-table .tr:nth-child(2n){background-color:#f3f3f3}
.add-more-link{ position:relative; color:#000; display:inline-block; padding:0 0 0 30px;}
.add-more-link:before { background: rgba(0, 0, 0, 0) url("../images/add.png") no-repeat scroll 0 0; content: "";  float: left; height: 21px; left: 0; margin: 0; padding: 0 20px; position: absolute; top: 0px; width: 21px; }

.add-more-btn-line{width:100%; float:left; margin:10px 0px 0px 0px; padding:0px;}

.myac-file-box{width:100%; min-height:42px; float:left; margin:0px 0px 6px 0px; padding:0px 45px 0 0; position:relative;}
.myac-file-box .file-btn-area{top:0}
#remove_button{position:absolute; top:9px; right:15px;}
#remove_button a {background: url("../images/delete.png") no-repeat scroll center center; cursor: pointer; display: inline-block; height: 25px; margin: 0; padding: 0; width: 25px; text-decoration:none;}
#img_upload{width:50%; float:left; clear:both}
.stud #img_upload{width:100%;} 
 
.myac-file-box .info-file{height:auto;}
.myac-file-box .error{margin-top:40px;}
.plus-service{background:url(../../themes/images/plus.png) no-repeat; width:10px; height:11px; display:inline-block; position:absolute; margin:7px 0 0 10px; cursor:pointer}
.minus-service{background:url(../../themes/images/minus.png) no-repeat; width:10px; height:11px; display:inline-block; position:absolute; margin:11px 0 0 10px; cursor:pointer}



/* diamon bg chagne */
.diamond_wrapper_main{background-color:#fff!important}

/* 06-07-2018 Acoustic*/
.acoustic-left{ float:left!important;}
.date-time {max-width:190px; width:100%;}
.checkout-form-row:last-child .checkout-form-cell.singer-bottom-space{margin-bottom:20px;}


/* 06-07-2018 Acoustic END*/
.message_alert{text-align:center; color:green; font-size:13pt; font-weight:600; padding-bottom:10px;}
.service-display-left .td .quantity{ background:#fff;}
.selection-box-area.reception span{ width:100%!important; margin-right:0px!important;}
.selection-box-area.reception .selection-box {
  float: left;
  margin: 0 3% 45px 0px;
  padding: 0;
  width: 47%;
}
.checkout-form-bottom .quantity {
  border: 1px solid #a69373;
  display: block;
  font-size: 12pt;
  padding: 7px 9px;
  position: relative;
  text-align: center;
  width: 84px; background:#fff;
}
.checkout-form-bottom .quantity #sub {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent !important;
  background-image: url("../images/minus.png");
  background-origin: padding-box;
  background-position: 6px 21px;
  background-repeat: no-repeat;
  background-size: auto auto;
  border: 0 none !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  content: "";
  display: block;
  height: 40px !important;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 20px !important;
  z-index: 999;
}

.checkout-form-bottom  .quantity #add {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent !important;
  background-image: url("../images/plus.png");
  background-origin: padding-box;
  background-position: left 17px;
  background-repeat: no-repeat;
  background-size: auto auto;
  border: 0 none !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  content: "";
  display: block;
  height: 41px !important;
  outline: medium none;
  overflow: hidden;
  position: absolute;
  right: -3px;
  top: 0;
  width: 20px !important;
  z-index: 9999;
}
.checkout-form-bottom .quantity input {
  text-align: center;
  width: 100%;
}
.vds{ margin-top:25px;}
.curns{
  position: absolute;
  right: 0;
  top: 140px;
}
.curns_area{width:100%; margin:0px; padding:0px; float:left;}
.currency_text{float:left; margin:0px; padding:4px 10px 0px 0px; font-size:11pt; color:#95aeb3;}
.currency_select{float:left; margin:0px; padding:0px; font-size:11pt;}
.currency_select select{ height:34px; border:solid 1px #d6d3c6; width:132px;}
 .modify-bussiness .search-box2 { width: 13%;}
 .modify-bussiness .search-box3 { width: 13%;}
 .modify-bussiness .search-box4 {width: 15%;}
.modify-bussiness .search-box5 {width: 13%;}
 .modify-bussiness  .search-box6 {
  width: 13%;
}
.remove{ margin-top:10px;}

.package_qty.quantity {
  border: 1px solid #a69373;
  display: block;
  font-size: 12pt;
  padding: 7px 9px;
  position: relative;
  text-align: center;
  width: 84px; background:#fff;
}
.package_qty .quantity #sub {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent !important;
  background-image: url("../images/minus.png");
  background-origin: padding-box;
  background-position: 6px 21px;
  background-repeat: no-repeat;
  background-size: auto auto;
  border: 0 none !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  content: "";
  display: block;
  height: 40px !important;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 20px !important;
  z-index: 999;
}
.package_qty{ width:100%; margin:0px 0px 20px 0px; padding:0px; float:left;}
.package_qty .service_qunt{ text-align:center;}
.package_qty .service_quantity_box {
  clear: both;
  margin: 0 auto;
  max-width: 100px;
  overflow: hidden;
  padding-top: 9px;
}
.package_qty .td .quantity{ background:#fff;}

.package_qty  .quantity #add {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent !important;
  background-image: url("../images/plus.png");
  background-origin: padding-box;
  background-position: left 17px;
  background-repeat: no-repeat;
  background-size: auto auto;
  border: 0 none !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  content: "";
  display: block;
  height: 41px !important;
  outline: medium none;
  overflow: hidden;
  position: absolute;
  right: -3px;
  top: 0;
  width: 20px !important;
  z-index: 9999;
}
.checkout-form-bottom .quantity input {
  text-align: center;
  width: 100%;
}
#package_sechedule.error, #product_size.error{color:#737373;}
.trd .action_popup{ width:440px;}
.travel-sucss {
  color: #059109;
  float: left;
  font-weight: 700;
  margin: 0px 0px 10px 0px;
  padding: 0;
  text-align: center;
  width: 100%;
}
.pck{ width:27%!important;}







.photo-gallery-area{width:100%; float:left; margin:0px; padding:0px; border:0px solid #f00;}
.photo-gallery-area .content{overflow: auto; position: relative; padding: 0px; background:transparent!important;  margin: 0px; width: 100%; height: auto; float: left;}
.photo-gallery-area .content li{margin: 0 10px 0 0; overflow: hidden; }
.slideTwo{ float:left; margin:0px 0px; padding:0px; width:100%; position:relative; height:153px; border:solid 0px #000; overflow:hidden;}


.new-popup{background-color:#f9f7f5; border:1px solid #a38c6d; border-radius:5px; margin:0px 0 0 0px; position:relative;}
.new-popup .table{margin:0px;}
.b-close{position:absolute; top:-10px; right:-10px; width:25px; height:25px; text-align:center; font-size:10pt; font-weight:600; line-height:22px; border-radius:100%; background-color:#f9f7f5; border:1px solid #a38c6d; text-align:center; text-decoration:none;}
.new-popup .table .td{padding:10px 20px}
.table_heading{font-size: 12pt; font-weight: 500;  margin: 0; padding: 15px 20px;}
.size-chart-line{width:100%; float:left; margin:5px 0 10px 0; padding:0px; font-size:10pt;}
.user_not{ margin-bottom:15px!important; padding:0px 0px 0px!important;}
.hall_terms_conditions{ margin:15px 0px 0px 0px; padding:0px; float:left; width:100%; text-align:center;}
.message {
  color: #c09e9d;
  font-size: 12pt;
  font-weight: 600;
  margin: 0;
  padding: 0 0 18px;
  text-align: center;
  width: 100%;
}
#ptattrsizeenone.dress_selecrrow{ padding-top:6px;}
.occ .pagination{ float:right!important; clear:both}
.table_heading.td1{padding-left:20px!important}
.ops{ width:100%; margin:0px; padding:0px; float:left; font-size:22pt; color:#ad8b8b; font-weight:600;}
.ops_text{width:100%; margin:0px; padding:20px 0px 0px 0px; float:left; font-size:14pt;}
.ops_img{ width:24%; margin:0px; padding:0px; float:left;}
.ops_area{ max-width:790px; margin:0px auto; padding:0px; }

.ops_right_text {
  float: left;
  margin: 89px 0 0;
  padding: 5px 0 0 26px;
  text-align: center;
  width: 100%;
}
.op {
  font-size: 45pt;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 10px;
}
.thank_you{ width:100%; margin:0px; padding:0px; float:left; text-align:center;}
.thank_you_header {
  color: #ad8b8b;
  font-size: 16pt;
  font-weight: 600;
  margin: 0;
  padding: 0;
  width: 100%;
}
.thank_you_text{ width:100%; margin:0px; padding:14px 0px 0px; float:left; font-size:11pt;}
.beauty-prise{ float:left; margin-top:5px;
}
#shophomevisitcharges{ float:left; font-weight:600; margin:0px 0px 18px 0px;}
.tft .choose-line-img{ position:inherit;}
.tft .choose-line{ padding-left:0px;}

/*.ops_text i{ color:#ed3533;}*/
.review-submit-msg{width:100%; float:left; margin:0px 0; background:#f3f3f3; padding:25px 0 0; color:#00CC00; font-weight:600; text-align:center; }
.review-status{width:100%; float:left; margin:0px 0;  padding:25px 0 0; font-weight:600;}
.packagetitle {
  color: #95aeb3;
  float: left;
  font-size: 10.5pt;
  font-weight: 600;
  margin: 5px 0 2px;
  padding: 0;
  width: 100%;
}
.hair_box{ width:100%; margin:5px 0px 0px; padding:0px; float:left;}
.prs{ margin-top:20px!important;}
.added {
  margin: 0;
  padding: 0px 0 10px;
  text-align: center;
  width: 100%;
  float: left;
}
.rts {
  float: left;
  margin: 10px 0px 0px 0px;
  padding: 0;
  width: 100%;
}
.choose-line-neme li {
  margin: 8px 10px 0 16px;
  padding: 0 10px;
}
.already{ width:100%; margin:0px; padding:0px; float:left; color:#95aeb3; font-size:10.5pt; font-weight:500;}
.slot {
  color: #c09e9d;
  float: left;
  font-size: 11pt;
  font-weight: 500;
  margin: 10px 0 0;
  padding: 0;
  text-align: left;
  width: 100%;
}
.check_count {max-width:80px!important;}
.check_input {
  margin-left: 15px !important;
  max-width: 150px;
}
.pay_great {
  float: left;
  margin: 0;
  padding: 0 0 15px;
  text-align: center;
  width: 100%;
  font-size: 20pt;
}
#searchweddingoccasion .search-box6{ width:13%;}
#searchweddingoccasion .search-btn{ width:12%;}
.chosestaffheading{font-size:14pt; font-weight:bold;}
.internalerror{ width:100%; margin:0px; padding:0px; float:left; text-align:center;}
.style {
  color: #b3802b;
  float: left;
  font-size: 24pt;
  font-weight: 600;
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
  width: 100%;
}
.dmd{ clear:left;}
.body_btn {
  background: #c09e9d none repeat scroll 0 0;
  color: #fff !important;
  padding: 10px 20px;
  text-decoration: none;
}
.fabs_op {
  float: left;
  margin: 0px 0 0;
  padding: 0;
  width: 100%;
}
.fabric_block {
  float: left;
  margin: 0 7% 15px 0;
  padding: 0;
  width: 46%;
}
.fabric_title_block{ color:#c09e9d; margin:0px; padding:0px; width:100%; font-size:11pt; font-weight:600;}
.fabric_img_block {
  float: left;
  height: 100px;
  line-height: 100px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  vertical-align: middle;
  width: 100%;
}
#ptattrsizeenone{ margin:10px 0px 20px 0px; padding:0px; float:left; width:100%;}
.fabric_block:nth-child(2n){ margin-right:0px;}

 .abayaqty .quantity {

  display: block;
  font-size: 12pt;
  padding: 7px 9px;
  position: relative;
  text-align: center;
  width: 84px; background:#fff;
}
.abayaqty .quantity #sub {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent !important;
  background-image: url("../images/minus.png");
  background-origin: padding-box;
  background-position: 6px 21px;
  background-repeat: no-repeat;
  background-size: auto auto;
  border: 0 none !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  content: "";
  display: block;
  height: 40px !important;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 20px !important;
  z-index: 999;
}

 .abayaqty .quantity #add {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent !important;
  background-image: url("../images/plus.png");
  background-origin: padding-box;
  background-position: left 17px;
  background-repeat: no-repeat;
  background-size: auto auto;
  border: 0 none !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  content: "";
  display: block;
  height: 41px !important;
  outline: medium none;
  overflow: hidden;
  position: absolute;
  right: -3px;
  top: 0;
  width: 20px !important;
  z-index: 9998;
}
 .abayaqty .quantity input {
  text-align: center;
  width: 100%;
}
.photographi-left-area .flex-control-nav{display:none!important}
.recp{ width:auto;}
.recp_spc{ margin-bottom:10px!important;}
.small_oty{ width:100%; margin:0px; padding:0px; float:left;}
.contact_left{ width:40%; margin:0px; padding:0px; float:left;}

.golden{ width:100%; margin:0px; padding:0px; float:left; font-size:18pt; font-family: "morva";}
.contact_left .address-box {
  float: left;
  width: 100%;
  margin-top: 20px;
  padding-left: 0px;
}
.contact_right {
 
  float: right;
  margin: 0;
  padding: 14px 20px 20px 40px;
  width: 60%;
}
.inquiry {
  background: rgba(0, 0, 0, 0) url("../images/form-line.jpg") repeat-x scroll left bottom;
  float: left;
  font-size: 16pt;
  margin: 0 0 25px;
  padding: 0 0 14px;
  width: 100%; 
}
.contact_form_box{ width:100%; margin:0px; padding:0px; float:left;}
.contact_form_row{width:100%; margin:0px 0px 20px 0px; padding:0px; float:left;}
.contact_form_row textarea{ width:100%;}
.cont{ width:100%; margin:0px; padding:0px; float:left;}
.map_area{ width:100%; margin:20px 0px 0px 0px; padding:0px; float:left;}
.cont_form_spc{ background: #f3f3f3 none repeat scroll 0 0; margin:30px 0px 0px 0px; padding:14px 20px; float:left;}
.contact_left .foo-address-line{ font-size:12pt;}
.soldout {
  

  margin: 20px 0 0!important;
  padding: 13px 20px 9px!important;
 
}

/* Start For #Occasions */
.hashtag-occasions-wrapper{width:100%; max-width:1100px; margin:0px auto; padding:45px 0 0 0; }
.occasions-shorting-line{max-width:500px; width:100%; float:right; margin:0px 0 20px 0; padding:0px;}
.occasions-shorting-line span,.occasions-shorting-line select{float:right; width:auto}
.occasions-shorting-line span{margin:8px 10px 0 0}
.hashtag-occasions-wrapper .form_title{margin-bottom:50px;}
.hashtag-occasions-box{width:100%; float:left; margin:0px 0 40px 0; padding:25px 25px 15px; border:1px solid #d7d7d7;border-radius: 6px; background:#fff}
.hashtag-occasions-box:last-child{margin-bottom:0px;}
.hashtag-info-section{width:100%; float:left; margin:0px; padding:0px; }
.hashtag-info-left-section{width:50%; float:left; margin:0px; padding:0px 0px 0px 90px; position:relative; min-height:75px;}
.hashtag-info-img{width:75px; height:75px; float:left; overflow:hidden; border-radius: 100%; position:absolute; top:0; left:0px; }
.hashtag-info-name{width:100%; float:left; margin:20px 0 0 0; padding:0px; font-size:12pt; font-weight:600;}
.hashtag-info-right-section{width:50%; float:right; margin:0px; padding:0px; text-align:right}
.hashtag-occasion-name{width:100%; float:left; margin:0px; padding:0px;}
.hashtag-occasion-det{width:100%; float:left; margin:0px; padding:0px;}
.hashtag-occasion-det span{font-size:18pt; line-height:10px;}
.hashtag-occasions-gallery{width:100%; float:left; margin:25px 0 0 0; padding:0px;}
.hashtag-occasions-gallery ul{width:100%; float:left; margin:0px; padding:0px; list-style:none; }
.hashtag-occasions-gallery li{width:23.5%; float:left; margin:0px 2% 20px 0; padding:5px; align-items: center; display:flex; background:#f3f3f3; border:1px solid #d9d9d9;  }
.hashtag-occasions-gallery li:nth-child(4n){margin-right:0px;}
.hashtag-multi-occasions{width:100%; float:left; margin:20px 0 0 0; padding:25px 0 0 0; border-top:1px solid #d7d7d7;}
.hashtag-multi-occasions:first-child{margin-top:0; padding-top:0; border:0;}
.hashtag-occasions-box .viewall{width:100%; float:left; margin:5px 0 10px 0; padding:0px 0 0 0; text-align:center;}
/* End For #Occasions */
.diamond-ancar-btn{position:absolute; right:10px; bottom:20px;  padding:8px 15px; text-decoration:none; background:#9bb5ba; color:#fff; border-radius:5px; display:none; }
#updateinfo .thumbnail_wrap{padding-top:0px;}
.paginate{ float:left; margin:0px 0 0 0; padding:0px; text-align:center;}

/* Start For Apply Coupon */
.couponcode{ float:left; margin:0px 0px 28px 0px; padding:0px; width:100%;}
.couponcode .form-btn {background:#fff;	border: 1px solid #c09e9d;color: #737373; width:100%; text-align:center;font-family: 'Raleway', sans-serif; font-size:13pt; font-weight:500; line-height:1; padding-top:14px; padding-bottom:15px;}
.couponcode .form-btn:hover {background:#c09e9d;	border: 1px solid #c09e9d;color: #fff;}
.coupon-popup-area{ width:100%; max-width:800px; padding:48px 30px 0px; margin-top:0px; border:0px; background:#f9f7f5;}
.coupon-heading{ float:left;width:100%; text-align:center; font-size:24pt;font-family: 'morva'; color:#95aeb3;margin-bottom:28px; position:relative;}
.coupon_apply{ margin:0px auto; padding:0px; width:100%; max-width:450px; clear:both; padding-bottom:45px; overflow:hidden;}
.coupon_apply input[type=text]{ width:calc(100% - 107px); height:46px;}
.coupon_apply input[type=button]{ float:right; background:#d4dcdd; line-height:1; padding:15px 22px 13px; border:solid 1px #94aeb3; color:#000; font-size:12pt; font-weight:500;transition: all 0.5s ease-in-out 0s;}
.coupon_apply input[type=button]:hover{ background:transparent;}
#couponerror{ color:#ff0000; font-size:10pt;float: left;width: 100%;}
.arabic #couponerror{ text-align:right;}
.arabic .coupon_apply input[type="text"] {width:calc(100% - 88px);}
.arabic .coupon_apply input[type=button]{ float:left;}
.appliedcoupons{ float:left; margin:0px; padding:0px 0 23px; width:100%; text-transform:capitalize; text-align:center; font-size:17pt;color: #737373;font-weight:500;}
.couponlisting{ float:left; margin:0px; padding:0px; width:100%; max-height:220px;}
.couponlisting ul{ float:left; margin:0px; padding:0px; width:100%; list-style-type:none;}
 .couponlisting ul li:nth-child(1){border-top:solid 1px #d9d9d9;}
.couponlisting ul li{ float:left; margin:0px; padding:20px 0px 20px; width:100%; list-style-type:none;border-bottom:solid 1px #d9d9d9;overflow:hidden;}
.coupon-popup-apply{ float:left; margin:20px 0px 30px; padding:0px; width:100%; text-align:center;}
.coupon-popup-apply input[type=button]{font-size:23pt; line-height:1; padding:15px 60px 10px;}
.coupon-beauty{ float:left; margin:0px; padding:0px; width:calc(100% / 3);}
.coupon-beauty:nth-child(2){ text-align:center;}
.coupon-beauty:nth-child(2) span{color:#737373; background:#fff; display:inline-block; padding:5px 22px 7px; border: dashed 1px #737373; line-height:1;}
.coupon-sar{ color:#95aeb3;font-weight: 500;}
.closecpn{ display:inline-block; cursor:pointer;font-family: 'Raleway', sans-serif; font-size:14pt; color:#b5a589; position:absolute;right:0;top:-24px;}
.closecpn:hover{color:#a28b6b;transition: all 0.5s ease-in-out 0s;}
.coupon-remove{float:right; color:#ff0000; font-weight:400; text-decoration:underline; cursor:pointer;}
.coupon-remove:hover{text-decoration:none;}
/* End For Apply Coupon */
.addto_cartbtn{ margin-top:20px!important;}
.package_box_top{width:100%; max-width:500px; margin:0px auto; padding:50px 0px 0px 0px;}
.package_box_top .checkout-form-top{ text-align:left;}

.check_shipping_area{ float:left; margin: 0px 0px 25px;padding: 0px 0px 21px; width:100%; border-bottom:1px solid #d9d9d9;}
.check_shipping_area:last-child{ border-bottom:0px; margin-bottom:0px; padding-bottom:0px;}
.check_shipping_area .shipping-companies-heading{ font-size:13pt; margin-bottom:3px;}
.check_shipping_area .shipping-companies-wrapper .shipping-companies-heading{ font-size:11pt; margin-top:10px;margin-bottom:13px;}
.hospitalityimg{ float:left; margin:0px; padding:0px; width:100%; text-align:center; height:112px; overflow:hidden; position:relative;}
.hospitalityimg img{display: block;max-width: 100%;max-height: 100%;position: absolute;top:0%;left: 50%;transform: translate(-50%,0%);}
.bar-code-area{ max-width:600px; margin:0px auto; padding:0px; width:100%;}
.bar-code-img{ float:left; margin:20px 0px 20px; padding:0px; width:100%; text-align:center;}
.bar-code-invition{ float:left; margin:0px 0px 5px; padding:0px; width:100%;}
.bar-code-we{ float:left; margin:0px 0px 5px; padding:0px; width:100%;}

.arabic .checkout-page-heading,.arabic .checkout-box .scl1-name,.arabic #shipbox1 .shipping-companies-heading,.arabic .order-summary-heading{text-align:right;}
.arabic .checkout-page-heading{padding:0px 30px 17px 0px}
.arabic .shipping-companies-line.rds,.arabic .order-summary-box .os-cell1,.arabic .order-summary-box .os-cell2,.arabic .order-summary-box .os-cell3{float:right}
.arabic .order-summary-box .os-cell3{text-align:left}
.arabic .checkout-box .notpadding{padding:0 35px 0 0!important; float:right;} 
.arabic .checkout-box .scl1-radio{left:inherit; right:0px;}
.arabic #shipbox1 .scl1{float:right; padding-right: 145px; padding-left:0px;}
.arabic #shipbox1 .scl1-img{left:inherit; right:30px}
.arabic #shipbox1 .scl2{text-align:right; float:right}
.arabic .gender-radio-box input[type=radio]:not(old):checked + label,.arabic .gender-radio-box input[type=radio]:not(old) + label{background-position:100% 1px; padding:0 28px 0 0}

.arabic #chekoutinfo .checkout-form-cell.country_row .checkout-form-bottom{padding:0 85px 0 0}
.arabic #chekoutinfo .country_row .countrycode,.arabic .os-row-no{right: 0; left: auto;}


.arabic .order-summary-box .os-total-left, .arabic .order-summary-box .os-total-right{float:right}
.arabic .order-summary-box .os-total-left{text-align:right;}
 .arabic .order-summary-box .os-total-right{text-align:left}