ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:none;border-width:0px;border-style:solid;border-color:#FFF-webkit-border-bottom-right-radius: 7px;
-webkit-border-bottom-left-radius: 7px;
-moz-border-radius-bottomright: 7px;
-moz-border-radius-bottomleft: 7px;
border-bottom-right-radius: 7px;
border-bottom-left-radius: 7px;;}
ul#css3menu1 ul{
	display:none;width:100%;position:absolute;left:100%;top:0;-moz-box-shadow:0 4px 17px 0 rgba(0,0,0,0.1);-webkit-box-shadow:0 4px 17px 0 rgba(0,0,0,0.1);box-shadow: 0 4px 17px 0 rgba(0,0,0,0.1);border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:0px;padding:0 3px 3px; max-width:100%;background:#fff;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;}
ul#css3menu1 li:hover{
	z-index:99;}
ul#css3menu1 ul ul{
	position:absolute;left:100%;top:0;}
ul#css3menu1{
	font-size:0;z-index:9;position:relative;display:block;float:left;padding:0 0px 3px;width: 100%;background: #fff;
    box-shadow: 0 4px 17px 0 rgba(0,0,0,0.1);}
ul#css3menu1>li{
	margin:3px 0 0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:13px lato;color:#484848;cursor:pointer;padding:10px;background-color:transparent;background-image:none;background-repeat:repeat;border-width:1px 0 0 0;border-style:solid;border-color:transparent;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
ul#css3menu1 ul li{
	float:none;}
ul#css3menu1 ul a{
	text-align:left;color:#5a5a5a;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	    background-color: #f5f5f5;
    border-color: transparent;
    border-style: solid;
    text-decoration:none;}
ul#css3menu1 span{
	display:block;overflow:visible;background-image:url("../images/arrowsub.png");background-position:right center;background-repeat:no-repeat;padding-right:14px;}
ul#css3menu1 ul span{
	background-image:url("../images/arrowsub.png");padding-right:14px;}
ul#css3menu1 > label.switch{
	display:none;cursor:pointer;width:25px;height:20px;padding:10px;}
ul#css3menu1 > label.switch:before{
	content:"";position:absolute;display:block;height:4px;width:25px;border-radius:4px;background:#FFF;-moz-box-shadow:0 8px #FFF, 0 16px #FFF;-webkit-box-shadow:0 8px #FFF, 0 16px #FFF;box-shadow:0 8px #FFF, 0 16px #FFF;}
ul#css3menu1 > label.switch:hover:before{
	background:#FFF;-moz-box-shadow:0 8px #FFF, 0 16px #FFF;-webkit-box-shadow:0 8px #FFF, 0 16px #FFF;box-shadow:0 8px #FFF, 0 16px #FFF;}
ul#css3menu1 > .switchbox{
	display:none;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	color:#484848;text-decoration:none;}
ul#css3menu1 li.topfirst>a{
	border-width:0;}
	ul#css3menu1 li:hover.topfirst{
border-left: 3px solid #e40046 !important;
    color: #37474e;
	}
ul#css3menu1 li.subfirst>a{
	border-width:0;}
@media screen and (max-width: 768px) {
	ul#css3menu1 > li {
		position: initial;}
	ul#css3menu1 ul .submenu {
		left: 0; right:auto; top: 100%;}
	ul#css3menu1 .submenu,ul#css3menu1 ul,ul#css3menu1 .column {
		-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;padding-right: 0;width: 100% !important;}
	ul#css3menu1 li > ul{left: 163px; right: auto; top: 0%;}	
}
@media screen and (max-width: 220px) {
	ul#css3menu1 {
		width: 100%;}
	ul#css3menu1 > li {
		display: none !important;		position: relative;		width: 100% !important;}
	ul#css3menu1 > label.switch,ul#css3menu1 .switchbox:checked ~ li {
		display: block !important;}
}  

.color-filter
{
	margin: 20px 0px;
}
.color-filter .checkbox
{
padding-left: 0px !important;
}
.checkbox
{
	margin: 5px 0px;
	
}
.color-box
{
	width: 16px;
	height: 16px;
	border-radius: 30px;
	display:inline-block;
}
.checkbox input[type="checkbox"] {
  visibility: hidden;
}
.checkbox input[type="checkbox"]:checked + label {
  background-color: #d82672;
  border: none;
  height: 18px;
  width: 18px;
}
.checkbox input[type="checkbox"]:checked + label:hover {
  background-color: #d82672;
}
.checkbox input[type="checkbox"]:checked + label:before {
  opacity: 1;
}
.checkbox label {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
 /* position: absolute;*/
  cursor: pointer;
  display: inline-block;
    margin-bottom: 0px;
    position: relative;
}
.checkbox label:before {
  content: '';
  width: 9px;
  height: 4px;
  border: 3px solid white;
  position: absolute;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  top: 4px;
  left: 4px;
  opacity: 0;
  border-radius: 1px;
}
.price-filter  input[type="number"]
{
width:75%;
}
.price-go 
{
	width: 15%; float: left;
	background:#d82672;
	color:#ffffff;
	border-radius: 5px;
	text-align: center;
	margin-top: 20px;
}
.price-go p:hover
{
cursor: pointer;
color:#000000;
}
.price-go p
{
	margin: 5px 0px;
}
.price-fil-max
{
width: 35%; float: left;
}
.price-fil-min
{
	width: 35%; float: left;
}