@charset "utf-8";
/* CSS Document */

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
*{box-sizing:border-box!important;-moz-box-sizing:border-box!important;-webkit-box-sizing:border-box!important}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:23px; font-size:11pt; color:#737373
}
@font-face {
    font-family: 'morva';
    src: url('../fonts/MORVA.eot');
    src: url('../fonts/MORVA.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MORVA.woff2') format('woff2'),
        url('../fonts/MORVA.woff') format('woff'),
        url('../fonts/MORVA.ttf') format('truetype'),
        url('../fonts/MORVA.svg#MORVA') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*@font-face{font-family: 'morva';
src:url('../fonts/MORVA.eot');
url('../fonts/MORVA.ttf') format('truetype'), 
url('../fonts/MORVA.woff') format('woff');
}*/



article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
	text-decoration:underline;
    vertical-align:baseline;
    background:transparent; 
	color:#c09e9d;
}
a:hover{text-decoration:none}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through; font-size:13pt; color:#afafaf;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle; border:0px;
}

img{max-width:100%}