a:focus{outline:none!important}
input, select, textarea{box-shadow:0 0 0 0 rgba(0,0,0,0)!important;-webkit-box-shadow:0 0 0 0 rgba(0,0,0,0)!important;-moz-box-shadow:0 0 0 0 rgba(0,0,0,0)!important;-webkit-appearance: none!important; border-radius:0px!important;-webkit-border-radius:0px!important;-moz-border-radius:0px!important}
/* CSS Document */
body{transition:all 0.5s ease-in-out;}
/* Start For checkbox & radio button */
input[type=checkbox]:not(old){
width   : 20px;
margin  : 0;
padding : 0;
opacity : 0;
position:absolute;
height:20px; cursor:pointer
}
input[type=checkbox]:not(old) + label{
display      : inline-block;
margin-left  : 0px;
padding-left : 28px;  
background   : url('../images/uncheck-box.png') no-repeat 0 2px;
min-height:21px; cursor:pointer
}
input[type=checkbox]:not(old):checked + label{
background   : url('../images/checkbox.png') no-repeat 0 2px; 
}

input[type=radio   ]:not(old){
width   : 28px;
margin  : 0;
padding : 0;
opacity : 0;
position:absolute; height:20px;
}

input[type=radio]:not(old) + label{
display      : inline-block;
margin-left  : 0px;
padding-left : 28px;
padding-bottom:2px;
background   : url('../images/unchecked-radio-button.png') no-repeat 0 1px; cursor:pointer 
}

input[type=radio]:not(old):checked + label{
background   : url('../images/checked-radio-button.png') no-repeat 0 1px;}
/* End For checkbox & radio button */

.lgs{ margin-right:13px;}
.nav_row.homepading{ padding-bottom:34px;}
.nav_row.loginpading{ padding-bottom:15px;}
.pagnation-area{ width:100%; margin:0px; padding:0px; float:left; text-align:center;}

/* Navigation */
.nav_row{clear:both;overflow:hidden; position:relative; padding-top:207px; padding-bottom:68px; max-width:1280px; margin:0 auto 0; width:100%}
.left_nav{float:left; width:50%; text-align:left}
.right_nav{float:right; width:50%; text-align:right; position:relative}
.middle_nav{position:absolute; top:26px; left:50%; width:295px; height:305px; margin-left:-147px}
.middle_nav a img{max-width:270px}
.nav_row ul{margin:0px; padding:0px;}
.nav_row ul li{display:block; border:1px solid #d6d3c6; float:left; overflow:hidden}
.nav_row .left_nav ul li:first-child{border-radius:7px 0 0 7px;}
.nav_row .left_nav ul li:nth-child(2), .nav_row .left_nav ul li:first-child, .nav_row .right_nav ul li:nth-child(2){border-right:0px;}
.nav_row ul li:last-child{border-radius:0 7px 7px 0}
.nav_row .right_nav ul li{float:right}
.nav_row .right_nav ul li:first-child{border-radius:0px 7px 7px 0px; }
.nav_row .right_nav ul li:last-child{border-radius:7px 0px 0px 7px;border-right:0px}
.nav_row ul li a{display:block; padding:15px; background-color:#f7f7f7; color:#95aeb3; font-size:11pt; text-decoration:none}
.nav_row ul li a:hover{color:#c09e9d}
.basket_icon{float:right; display:inline-block; background:url('../images/basket.png') no-repeat top left; width:50px; height:50px; margin-left:15px; position:relative; margin-top:6px}
.basket_icon .count{background-color: #d2c036;border-radius: 50%;color: #292929;font-size: 10pt;width: 29px;height: 29px;display: block;position: absolute;top: -15px;left: 14px;text-align: center;line-height: 25px;font-weight: 600;}
.heamburger, .vendor_heamburger{width:33px; display:none; transition:all 0.5s ease-in-out}
.heamburger span, .vendor_heamburger span{width:100%; height:4px; background-color:#c49c9d; display:block; margin-bottom:5px; border-radius:50px}
.overlay, .othrserv_overl{background-color:rgba(0,0,0,0.5); position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:8; display:none}
.mobile_fields{display:none}
.fds .item_listing { width:61%!important; float:left;}


/* Vendor navigation */
.vendor_header{width:100%; clear:both; padding-top:0px; padding-bottom:15px; float:left}
.vendor_header_left{width:65%; float:left;}
.vendor_header_right{width:35%; float:right; padding-top:24px}
.vendor_navigation ul{margin:0px; padding:0px;}
.vendor_navigation ul li{float:left; padding:0 25px}
.vendor_navigation ul li:first-child{padding-left:0px;}
.vendor_navigation ul li a{text-decoration:none; color:#95aeb3}
.vendor_navigation ul li a.active{color:#c09e9d!important}
.vendor_logo{padding-bottom:0px; margin-top:20px;}
.vendor_logo img{ max-height:168px;}
.vendor_name{float:left; padding-right:15px; padding-top:7px; font-weight:600}
.vendor_cart span{background-color: #d2c036;border-radius:50%;color:#292929;font-size:11pt;width: 29px;height: 29px;display: block;position: absolute;top: -11px;left: 14px;text-align: center;line-height: 25px;font-weight: 600;}
.vendor_name span{color:#95aeb3; font-weight:500; position:relative}
.vendor_name.username span{cursor:pointer; padding-right:13px; padding-bottom:5px;}
.vendor_name.username span:hover .vendor_header_navbar{display:block;}
.vendor_name.username span:after{content:''; position:absolute; top:0px; right:-13px; z-index:999; display:inline-block;background:url('../images/arrow_profile.png') no-repeat left 3px; width:12px; height:17px;}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    .vendor_name.username span:after{ right:-19px;}
}
.vendor_cart{float:left; position:relative; margin-top:2px}
.vendor_header_navbar{background-color: #fff;box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.4);height: auto;right:-15px;padding:10px 18px;position: absolute;top:20px;width: 170px;z-index: 9999; display:none}
.vendor_header_navbar li {
  border-bottom: 1px solid #f4f4f4;
  padding: 5px 0;
  text-align: left; font-size:10pt;
}
.vendor_header_navbar li a{text-decoration:none}
.vendor_welc{float:right; position:relative;}
.select_catg{width:290px; clear:both; float:right; padding-top:10px;}
.select_lbl{color:#95aeb3; font-size:15pt; font-weight:500; padding-bottom:10px;}
.select_drp{border:1px solid #a69373; width:290px; height:38px; line-height:38px;}
.select_catg .search-box-field select{width:100%}
.vendor_welc .lang {
  border-right: 1px solid #ccc;
  left: -61px;
  padding-right: 10px;
  position: absolute;
  top: 4px;
}
.vendor_welc .mob_lang {
  font-size: 14pt;
  text-decoration: none;
}

/* Vendor Tab */
.common_navbar{width:100%; clear:both; margin:-34px auto 26px; text-align:left; padding-bottom:15px; border-bottom:1px solid #ccbfaa;}
.common_navbar li{padding-right:22px; display:inline-block; text-align:left; padding-left:22px;}
.common_navbar li a{text-decoration:none; color:#95aeb3; font-weight:500}
.common_navbar li a.active{color:#c09e9d}


/* home page section */
.homepage_category{width:100%; clear:both; padding:60px 0 0 0px; position:relative; overflow:hidden}
.meeting_category{float:left; width:47%; position:relative}
.meeting_category:before{background:url(../images/top_bg.png) no-repeat top left; width:100%; height:47px; content:''; position:absolute; top:-25px; left:50%; margin-left:-210px; z-index:0}
.wedding_category:before{background:url(../images/top_bg.png) no-repeat top left; width:100%; height:47px; content:''; position:absolute; top:-25px; left:50%; margin-left:-210px; z-index:0}
.wedding_category{float:right; width:44%; position:relative}
.homepage_col2{border:1px solid #a89575; border-radius:50px; position:relative; display:table;padding:60px 30px 110px 30px;background-color:rgba(239, 236, 229, 0.5)}
/*.homepage_col2:before{background:url(../images/top_bg.png) no-repeat top left; width:100%; height:47px; content:''; position:absolute; top:-25px; left:50%; margin-left:-210px}*/
.homepage_img{display:table-cell; vertical-align:middle;}
.info_btn{width:100%; clear:both; overflow:hidden; position:relative; margin-top:-31px; text-align:center;z-index:1;}
.info_btn a{background-color:#bf9e9d; display:inline-block; font-family:'morva'; font-size:22pt; color:#fff; text-transform:uppercase; padding:19px 20px 10px 20px; text-decoration:none}
.flower_bg{position:relative; padding-bottom:200px; clear:both; margin-bottom:0px;}
.flower_bg:before{content:''; background:url(../images/bg_flower.png) no-repeat top left; width:270px; height:270px; position:absolute; bottom:0px; left:0px;transform:rotate(-90deg);-moz-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);}
.flower_bg:after{content:''; background:url(../images/bg_flower.png) no-repeat top right; width:270px; height:270px; position:absolute; bottom:0px; right:0px; transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);}
.search_popup{background-color:#f9f7f5;padding:42px 20px;border:0px solid #a38c6d;overflow:hidden;width:100%;position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);max-width:1120px;width:100%;margin:0 auto;z-index:101;display:none}
.popup_overlay{background-color:rgba(0,0,0,0.5); position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:1; display:none}
.search_popup .search-box{width:16.66%}
.search_popup .search-box.search-box6{padding-right:0px;}
.search_popup .search-btn{margin:0px auto 0;text-align:center;float:none;padding-top:30px; clear:both}
.form_title{font-size: 27pt;color: #95aeb3;text-align: center;text-transform: uppercase;font-family: 'morva';display: block;position: relative;padding-bottom: 15px;margin-bottom: 38px;}
.form_title:after{background:url('../images/divider.png') no-repeat bottom center; content:''; width:261px; height:8px; position:absolute; bottom:-7px; left:50%; margin-left:-130px}

/* Detail Page */
.detail_page{width:100%; clear:both; overflow:hidden}
.service_detail_row{width:100%; clear:bot; overflow:hidden}
.gallary_detail{float:left; width:62%; padding-right:30px; margin-top:-4px;}
.service_detail{width:38%; float:right}
.detail_title{font-size:27pt;text-transform: uppercase;font-family: 'morva'; color:#95aeb3; line-height:normal; margin-top:2px}
.detail_hall_description {color: #b3b3b3;font-size: 10.5pt;padding-top:2px;padding-bottom: 14px;}
.detail_hall_subtitle{font-size:11pt; font-weight:600; padding-bottom:6px;}
.detail_about_hall{font-size:11pt;}
.detail_about_hall a{color:#c09e9d; text-transform:capitalize; text-decoration:underline!important}
.detail_hall_dimention{padding:15px 0 18px 0;color: #737373;font-weight: 600;}
.detail_hall_price{color:#95aeb3; font-size:18pt; font-weight:600; padding-left:0; padding-bottom:35px; width:100%; text-align:left; float:left}
.detail_hall_price strike{color: #ccc;font-size: 14pt;}
.reserve_btn_row{text-align:center; margin-top:20px; clear:both}
.reserve_now{font-size:22pt; color:#fff; background-color:#c09e9d; text-align:center; padding:15px 50px 13px 50px;font-family: 'morva';cursor:pointer}
.common_title{color: #95aeb3;font-size:18pt;font-weight: 600; clear:both}
.detail_facilites_list{width:100%; clear:both; overflow:hidden; padding-top:16px;}
.detail_facilites_list li {list-style-type: none;float: left;background: url(../images/bullets.png) no-repeat left 7px;padding-left: 18px;margin-right: 41px;}
.service_container{width:100%; clear:both; overflow:hidden; padding-top:35px;}
.service_list_row{width:100%; clear:both; padding-bottom:37px}
.service_title{font-size:18pt; color:#95aeb3; font-weight:600}
.services_detail{float:left; width:62%; padding-right:40px}
.services_listing{width:38%; float:right}
.service_catagory{width:100%; clear:both; padding-top:18px; border-bottom:1px solid #ccbfaa;overflow:hidden}
.service_catagory li{font-weight:600; width:33%; float:left; padding-bottom:12px}



.service_price{padding-left:12px}
.service_testimonial.service_list_row{padding-top:16px;}
.testimonial_slider{background-color:#f3f3f3; padding:40px 25px 32px 25px; border:1px solid #d9d9d9; border-radius:5px;width:100%; clear:both; overflow:hidden; margin-top:18px;}
testimonial_row{width:100%; clear:both}
.testim_left{float:left; width:18%; display:none;}
.testim_right{float:left; width:80%; padding-left:0px;}
.testim_img{border-radius:50%; max-width:103px; max-height:103px; overflow:hidden}
.testimonial_slider .flexslider1{background-color:transparent; border:0px;}

.testim_name{color:#272727; font-weight:600; padding-top:10px;}
.testim_star{padding-top:10px;}
.testimonial_slider .flexslider1{padding:0 52px;}
.testimonial_slider .flexslider1 .flex-next{background:url('../images/next.png') no-repeat top right; text-indent:-99999999px!important; text-align:left; opacity:1!important; right:0px!important}
.testimonial_slider .flexslider1 .flex-next:before{display:none;}
.testimonial_slider .flexslider1 .flex-prev{background:url('../images/prev.png') no-repeat top left; text-indent:-99999999px!important; text-align:left; opacity:1!important; left:0px!important}
.testimonial_slider .flexslider1 .flex-prev:before{display:none;}
.flexslider1 .flex-control-nav.flex-control-paging{display:none}
.services_listing ul{border-radius:10px 10px 0 0; background-color:#f3f3f3; padding:5px 20px; border:1px solid #d7d7d7; overflow:hidden; border-bottom:0px}
.service_name{float:left;}
.service_price{float:right; font-weight:600}
.services_listing ul li{border-bottom:1px solid #d9d9d9; padding-bottom:10px; clear:both; overflow:hidden; padding-top:22px;}
.services_listing ul.total_price_ul li{border-bottom:0px}
.services_listing ul .row li:last-child{border-bottom:1px solid #d9d9d9}
.services_listing ul li.total_cost{padding-top:22px; width:100%}
li.total_cost .service_name{font-size:15pt; font-weight:bold}
.gallary_detail .flex-direction-nav{display:block!important}
.gallary_detail .flexslider .flex-nav-next .flex-next {
  background-color: transparent !important;
}
.gallary_detail .flex-direction-nav a{top:65%;}
.gallary_detail .flexslider .flex-nav-prev .flex-prev {
  background-color: transparent !important;
}

.gallary_detail .flex-direction-nav a.flex-next:before {
  color: #fff;
  content: ">"!important;
  display: inline-block;
  font-family: "flexslider-icon";
  font-size: 27px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.gallary_detail .flex-direction-nav a.flex-prev::before{
  color: #fff;
  content: "<"!important;
  display: inline-block;
  font-family: "flexslider-icon";
  font-size: 27px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.gallary_detail .flex-direction-nav a.flex-prev {
  font-size: 0 !important;
} 

.sticky_other_service{position: fixed;top: 370px;right: 0;z-index:0;background-color: #fff;width:170px;overflow: hidden;height:140px; border:1px solid #ded5c9;}
.sticky_serivce{background-color: #292929;color: #fff;cursor: pointer;display: inline-block;font-size: 10.5pt;padding: 2px 0;position: fixed;right:86px;text-align: center;top:427px;transform: rotate(-91deg);width:125px;}

.sticku_service_logo{float:right;margin-right:7px;margin-top:12px;max-width:120px;}
.sticku_service_logo img{max-width:120px;}
.other_serviceinc{position:fixed; top:0px; right:-300px; height:100vh; width:300px; z-index:99;transition:all 0.5s ease-in-out}
.other_serviceinc .customer-budget-section{width:100%; border-radius:0px;}

.other_serviceinc .content{max-height:100vh; padding-bottom:110px}
body .page-left-right-wrapper .content{height:100%; max-height:100%}
.other_serviceinc .customer-budget-section{padding-right:0px;}
.other_servrow{width:100%; clear:both; background-color:#f3f3f3; overflow:hidden; padding:35px 15px 0 15px; border:1px solid #d7d7d7; border-bottom:0px;}
.other_serviceinc .customer-budget-section{border-top:0px; padding-top:15px}
.serv_title{font-size:18pt; color:#95aeb3;font-family: 'morva'; float:left}
.serv_delete{float:right; text-align:right; text-decoration:none; font-size:20pt; color:#818181; line-height:normal}

/* Oops Popup */
.oops_popup{width:100%; max-width:540px; height:233px; border-radius:5px; background-color:#fff; box-shadow:1px 2px 19px -2px rgba(0,0,0,0.5); padding:22px 30px 30px 30px; text-align:center; position:fixed; top:50%; left:50%; transform:translate(-50%,-50%); display:none; z-index:9}
.oops_title{font-size:36pt; color:#95aeb3;font-family: 'morva'; line-height:normal}
.ooops_desciption {text-align: center;font-size: 15pt;line-height: 29px;padding-top: 11px;}
.oops_btn{background-color: #c09e9d;color: #fff;font-size: 15pt;font-family: 'morva';padding:10px 32px 8px 32px;display: inline-block;text-decoration: none;margin-top: 20px;}

/* Service Popup */
.services_popup{background-color:#fff; border:1px solid #a38c6d; padding:24px 30px 10px 30px; position:fixed; top:50%; z-index:101; width:auto; transform:translate(-50%,-50%); left:50%; border-radius:8px; box-shadow:1px 2px 19px -2px rgba(0,0,0,0.5); display:none}
.serv_popup_row{width:100%; clear:both; overflow:hidden; padding-bottom:12px;}
.service_popup_title{color:#95aeb3; font-size:22pt;font-family: 'morva'; float:left; width:50%;}
.serv_pop_close{font-size:14pt; color:#b5a488; float:right; text-decoration:none}
.serv_popupimg{clear:both}
.serv_price{width:50%; float:left; font-weight:600}
.serv_detail_link{float:right; width:50%; text-align:right; font-weight:600}

/* Vendor Home Page */
.vendor_homepage{width:100%; clear:both; overflow:hidden;}
.heading{color:#95aeb3; font-size:27pt;font-family: 'morva'; line-height:normal}
.vendor_navbar{width:100%; background-color:#f3f3f3; border-radius:5px; border:1px solid #d7d7d7; padding:12px; margin-top:20px;}
.vendor_navbar ul{margin:0px; padding:0px; text-align:center}
.vendor_navbar ul li{display: inline-block;padding: 2px 25px;border-right: 1px solid #d7d7d7;text-align: left;}
.vendor_navbar ul li:last-child{border-right:0px;}
.vendor_navbar ul li a{color:#95aeb3; text-decoration:none; display:block; font-weight:500}
.vendor_navbar ul li a.venor_active{color:#c09e9d}
.vendor_container{width:100%; clear:both; overflow:hidden; padding-top:34px;}
.left_container{float:left; width:56%; padding-right:30px;}
.right_container{float:left; width:24%; padding-right:30px;}
.order_summary_bar{width:20%; float:left}
.order_sum_list{width:100%; border:1px solid #d6d7d7; background-color:#f3f3f3; padding:18px 15px 0px 15px; border-radius:10px; margin-top:20px;}
.order_sumrow{border-bottom:1px solid #d6d7d7; width:100%; clear:both; overflow:hidden; padding-bottom:9px; margin-bottom:9px; position:relative;}
.order_sumrow:last-child{border-bottom:0px;}
.order_sum_title{font-weight:600; width:100%; clear:both; overflow:hidden}
.order_subcol2{float:left;}
.order_subcol2:last-child{float:right}
.subheading{color:#95aeb3; font-size:18pt; font-weight:600}
.item_title{font-weight:500; position:absolute; top:34px; left:0px; font-size:12.5pt;}
.item_listing{width:100%;}
.item_listing a{border:1px solid #d3bbba; padding:6px 11px; font-size:15pt; color:#d3bbba; font-weight:600; text-decoration:none; display:inline-block; margin-right:16px;}
.right_click{ width:37px;  float:left; margin:0px; padding:0px; position:absolute; text-align:center;}
.rigt_cont_tick{ position:relative; float:left; margin-bottom:22px;}
.menu_internal_img{float:left; width:70px; margin:0px 20px 0px 0px;}
.item_listing a.listing_active{background-color:#d3bbba; color:#fff}
.left_container .td{position:relative;border-bottom:1px solid #ccbfaa; padding:72px 20px 40px 0px; vertical-align:top!important;}
.left_container .table{background-color:transparent; border:0px;}
.left_container .tr:nth-child(2n){background-color:transparent}
.left_container .table_heading, .left_container .td{padding-left:0px;}
.td .quantity {width: 84px;position: relative;display: block;text-align: center;border: 1px solid #a69373;padding: 7px 9px; font-size:12pt}
.td .quantity input{width:100%; text-align:center}

/* detail page type dish
.left_container .table .tr:first-child .quantity #sub, .left_container .quantity #sub, .service-radio-line .quantity #sub{background-attachment: scroll;background-clip: border-box;background-color: transparent !important;background-image: url("../images/minus.png");background-origin: padding-box; background-position: left top;background-repeat: no-repeat;background-size: auto auto;border: 0 none !important;box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;content: "";display: block;height: 5px !important; left:8px;overflow: hidden;position: absolute;top:20px;width: 0 !important; z-index:999}

.left_container .table .tr:first-child .quantity #add, .left_container .quantity #add, .service-radio-line .quantity #add{background-attachment: scroll;background-clip: border-box;background-color: transparent !important;background-image: url("../images/plus.png");background-origin: padding-box; background-position: left top;background-repeat: no-repeat;background-size: auto auto;border: 0 none !important;box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;content: "";display: block;height:16px !important; right:7px;overflow: hidden;position: absolute;top:16px;width: 0 !important;}
img.map, map area{outline: none!important;}

*/

.order_sum_row_area{clear:both}
.left_container .table .tr:first-child .quantity #sub, .left_container .quantity #sub, .service-radio-line .quantity #sub{  background-attachment: scroll;background-clip: border-box;background-color: transparent !important;background-image: url("../images/minus.png");background-origin: padding-box;background-position: 6px 21px;background-repeat: no-repeat;background-size: auto auto;border: 0 none !important;box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;content: "";display: block;height: 40px !important;left: 0;overflow: hidden;position: absolute;top: 0;width: 20px !important;z-index: 0;}

.left_container .table .tr:first-child .quantity #add, .left_container .quantity #add, .service-radio-line .quantity #add{   background-attachment: scroll;background-clip: border-box;background-color: transparent !important;background-image: url("../images/plus.png");background-origin: padding-box;background-position: left 17px;background-repeat: no-repeat;background-size: auto auto;border: 0 none !important;box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;content: "";display: block;height: 41px !important;overflow: hidden;position: absolute;right: -3px;top: 0;width: 20px !important;z-index: 0; outline:none;}
	
	
img.map, map area{outline: none!important;}


/*
.left_container .quantity #sub{background-attachment: scroll;background-clip: border-box;background-color: transparent !important;background-image: url("../images/minus.png");background-origin: padding-box; background-position: left top;background-repeat: no-repeat;background-size: auto auto;border: 0 none !important;box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;content: "";display: block;height: 5px !important; left:8px;overflow: hidden;position: absolute;top:20px;width: 0 !important; z-index:999}

.left_container .quantity #add{background-attachment: scroll;background-clip: border-box;background-color: transparent !important;background-image: url("../images/plus.png");background-origin: padding-box; background-position: left top;background-repeat: no-repeat;background-size: auto auto;border: 0 none !important;box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;content: "";display: block;height:16px !important; right:60px;overflow: hidden;position: absolute;top:86px;width: 0 !important;}

*/
.catg_price{font-weight:600}
.left_container .td3{text-align:right}
.left_container .table_heading{padding-top:23px; padding-bottom:0px}
.left_container .tr:last-child .td{border-bottom:0px;}
.service_inner_wrap{width:100%; clear:both; padding-top:20px;}
.container_list_row{width:100%; clear:both; margin-bottom:20px; background-color:#f3f3f3; padding:20px; border-radius:10px; border:1px solid #d9d9d9; margin-bottom:20px; overflow:hidden}
.container_list_row .food_container_listimg{float:left}
.container_list_row .food_container_listimg img{max-width:80px;}
.container_list_row .food_container_txt{float:left; padding-left:10px;}
.container_list_row .food_container_txt span{display:block; clear:both; padding-bottom:3px}
.container_list_row .fodd_cont_catg{float:right; text-align:right; font-size:18pt;}
.total_food_cost{width:100%; clear:both; padding-top:20px; text-align:center; overflow:hidden}
.total_price{font-weight:700; font-size:17pt; line-height:28px}
.total_price span{display:inline-block;color:#95aeb3; font-weight:600}
.total_cost{float:right; font-size:13.5pt; font-weight:600}
.btn_row{clear:both; width:100%; text-align:center; padding-top:15px;}
.btn_row .addto_cartbtn{font-size:22.5pt; color:#fff; display:block; width:100%; padding:14px 40px 10px}
.food_catg_next{display:inline-block; float:right; text-align:right; color:#c09e9d; font-size:18pt; text-decoration:none;font-family: 'morva'; margin-top:25px;}
.pag_next{float:right; text-align:right; padding-right:30px;}
.content {height: auto;max-height:600px;width: 100%;}
.add_categ a{color: #fff;background-color: #95aeb3;font-family: 'morva';padding:13px 25px 10px 25px;font-size: 14pt;text-decoration: none;line-height: normal; display:inline-block;}
.table.desktp{display:table}
.mCustomScrollbar .table .tr:first-child .td{padding-top:37px;}
.mCustomScrollbar .table .tr .td:last-child, .table.desktp .table_heading.th4{padding-right:34px!important}
.mCustomScrollbar .table .tr:first-child .td .item_title{top:0px}
.mCustomScrollbar .table .tr .td1{width:43%;}
.mCustomScrollbar .table .tr .td2{width:20%;}
.mCustomScrollbar .table .tr .td3{width:20%;}
.mCustomScrollbar .table .tr .td4{width:20%; text-align:left;}
.table.desktp .tr .th1{width:43%}
.table.desktp .tr .th2{width:20%}
.table.desktp .tr .th3{width:20%}
.table.desktp .tr .th4{width:15%}

/* Dessert */
.linking{line-height: 0px!important;height: 0px;width: 0px;display: block; visibility:hidden}
.leftbar_title{font-size:13.5pt; font-weight:600; padding-bottom:14px;}
.service_quantity_box{width:100%; clear:both; overflow:hidden; padding-top:9px;}
.service_qunt{color:#95aeb3; font-weight:600; padding-bottom:6px;}

.qunatity_row{width:100%; padding-top:5px;}
.service_quantity_box .service_qunatity_row{width:100%}
.service_quantity_box .service_qunt_txt{float:left;width: 82px;height: 38px;border: 1px solid #a69373;text-align: center;position: relative;background-color: #fff;padding: 10px;line-height:16px;font-size: 12pt;}
.service_quantity_box .service_qunt_txt:before{position: absolute;top: 9px;left: 10px;content: '-';font-size: 22pt;color: #a69373;}
.service_quantity_box .service_qunt_txt:after{position: absolute;top:11px;right: 10px;content: '+';font-size: 22pt;color: #a69373;}
.service_qunt_price{color:#95aeb3; font-size:16pt; font-weight:600; float:left; padding-top:8px; width:100%; display:block}

/* My Account */
.studio_subtitle{font-size:13.5pt; font-weight:600}
.studio_wrap{padding:20px; overflow:hidden}
.studio_form{width:100%; clear:both}
.common_row{width:100%; clear:both; overflow:hidden}
.common_row .col2{width:50%; float:left; padding-top:22px;}
.studio_form input, .studio_form select{color:#737373; font-weight:500; max-width:245px;}
.checkout-form-cell select{color:#737373; font-size:10.5pt;}
.studio_form .search-box-label{font-weight:600}

/* Browse */
.info-box100, .info-box50{position:relative;}

.file-btn-area{position:relative; padding:0 135px 0 0; float:left; width:100%;/* max-width:395px;  border:0px solid #f00;*/ }	
.file-btn{background:#95aeb3;border:0;height:40px;float:right; width:130px; text-align:center; line-height:44px; font-size:15.5pt; cursor:pointer;font-family: 'morva'; color:#fff; position:absolute; top:0; right:0px;}
.file-value{width:100%; float:left; margin:0px; padding:0px 0 0 10px; border:1px solid #a69373; background:#fff; height:40px; line-height:38px; font-size:10.5pt; color:#404040; cursor:pointer; overflow:hidden} 
.info-file{float:left;height:0.1px;opacity:0;overflow:hidden;position:absolute;width:auto;z-index:-1;}


.col2.browse_row{height:100px;}
.common_row .form-btn{color:#fff}
.studio_gallary{background-color:#f3f3f3; padding:10px 25px 25px 25px; margin-top:20px; overflow:hidden}
.select_gallary_city{width:100%; max-width:245px;}
.studio_gallary_row{width:100%; clear:both; margin-top:0px;}
.gallary_col3{float:left; width:32%; margin-right:2%; padding-top:30px; padding-bottom:15px;}
.gallary_col3:nth-child(3n){margin-right:0px;}
.studio_gallary_img{position:relative}
.total_imgcount{background-color: #95aeb3;bottom: 0;color: #fff;display: block;font-size: 12pt;height: 39px;line-height: 38px;position: absolute;right: 0;text-align: center;width: 40px;z-index: 99;}
.total_imgcount_plus{ display: inline-block;font-size: 18pt;line-height: 38px;vertical-align: middle;}
.studio_captoion{text-align:center; margin-top:5px; padding-left:15px; clear:both; position:relative; cursor:pointer}
.studio_captoion:before{background:url(../images/delete.png) no-repeat center top; content:''; width:50px; height:30px; position:absolute; left:50%; top:2px; margin-left:-25px}
.field_group.studio_wrapper{margin-top:40px}
.col2 .cal-t{max-width:170px;}

.field_group.security_wrap{margin-top:40px; width:100%}
.top_spacing_margin_occas .types_ocs_left{width:50%}
/*.review_popup{max-width:800px; width:100%; height:auto; background-color:#f3f3f3; padding:25px 25px 30px 25px; position:fixed; top:50%; left:50%; transform:translate(-50%,-50%); z-index:101; border:1px solid #e1e1e1; display:none}*/
.top_spacing_margin_occas{position:relative;}
.review_icon{width:100%; clear:both}
.review_commentbox{width:100%; clear:both;padding-top:10px;}
.review_label{color:#95aeb3; font-weight:600; padding-bottom:5px;}
.review_comment_row{width:100%;}
.text-area{border:1px solid #a69373; resize:none; height:90px; float:left; width:100%; padding:5px 11px; font-family:'Raleway', sans-serif; color:#737373; line-height:none}
.review_comment_row input[type="submit"]{display:inline-block; vertical-align:middle;float:left; margin-top:20px;}

.container-section{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px 0px;}
.container-heading{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px 0px; font-weight:500; font-size:14pt;}
.container-box-line{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px 0px;}
.container-box{width:37%; float:left; margin:0px 0px 0px 0px; padding:0px 0px;}
.container-box:nth-child(2n){float:right}
.container-box input[type=radio]:not(old) + label{background-position:bottom center; padding:0 0 25px 0}

.invitaion_cardrow input[type=radio]:not(old) + label {
    background-position: bottom center;
    padding: 0 0 25px 0;
}

.container-prise{width:100%; float:left; margin:18px 0px 0px 0px; padding:0px 0px; }
.container-prise span{font-size:11pt; color:#737373; font-weight:normal; float:left}
.container-prise span:last-child{float:left;font-size:18pt; color:#95aeb3; font-weight:500; margin:0px 0px 0px 9px}
.container_total_price{font-size:14pt;font-weight: 700;padding-top: 32px; padding-bottom:1px; clear: both;overflow: hidden; text-align:center}
.container_total_price span{color:#95aeb3; font-weight:600; font-size:16pt;}
.addto_cart{text-align:center;}
.addto_cart .form-btn{color:#fff; font-size:22pt; margin-top:12px}
.field_group .checkout-box{border:0px; margin-bottom:0px}
.field_group.top_spacing_margin_occas.myprofile_page{width:100%; max-width:780px}
/*.checkout-form-row .file-value{width:200px}
.checkout-form-row .file-btn-area{max-width:348px}*/
.checkout-form-row .col2.browse_row{height:74px;}
.myprf_btn{width:100%; clear:both; margin-top:20px; float:left; text-align:right; max-width:780px}
.confirmandpay{ max-width:auto!important; width:auto!important; clear:none!important;}
.deny{ max-width:auto!important; width:auto!important; clear:none!important; padding-left:10px;}

/* Roses Package  */
.roses_row{width:100%; clear:both; overflow:hidden; margin-bottom:20px;}
.marB0{margin-bottom:0px!important}
.roses_thumail{float:left; margin-right:10px; width:30%;}
.roses_thumail:last-child{margin-right:0px;}
.packge_numb{color: #95aeb3;padding-top: 17px;clear: both;overflow: hidden;width: 100%;font-weight: 600;}
.packge_numb span{color:#737373; padding-left:5px;}
.thumbnail_wrap{width:100%; clear:both; padding-top:25px;}
.select_price{color:#95aeb3; font-weight:600; text-align:center}
/*.choose_staf_box.choose_roses{padding-bottom:17px;}*/
.koshaqty {
  display: inline-block !important;
  float: none !important;
}
.kos_prc{ line-height:34px;}

/* Evens */
.service_prod_description {padding-top: 12px;clear: both;}

/* Electronic Invitaion */
.service_form_wrap{width:100%; max-width:650px; margin:0 auto 0px; clear:both; padding-top:20px;}
.form_subtitle{color:#95aeb3; font-weight:600; font-size:18pt; padding-bottom:15px}
.service_form{width:100%; clear:both; background-color:#f3f3f3; border:1px solid #d6d7d7; border-radius:10px; padding:30px; overflow:hidden}
.checkout-form-cell.full_width{width:100%;}
.checkout-form-bottom.select_date{width:170px;}
.checkout-small-box.select_time{width:123px!important}
.checkout-form-row .full_width .file-value{width:282px}
.checkout-form-row .full_width .file-btn-area{max-width:425px}
.full_width .gender-radio-box{width:auto; padding-right:28px; position:relative;}
.full_width .checkout-form-bottom{margin-top:9px; margin-bottom:3px}
.service_form_wrap .btn_row .addto_cartbtn{width:auto;display:inline-block}
.service_form_wrap .total_food_cost{padding-top:10px}
.invitaion_cardrow .gender-radio-box{padding-right:10px; margin-top:10px}
.invitaion_card img{display:block; margin-bottom:10px}
.checkout-form-bottom.invitaion_cardrow{margin-top:0px;}
.common_navbar .mCSB_scrollTools {visibility:hidden}
.common_navbar .mCSB_horizontal.mCSB_inside > .mCSB_container{margin-bottom:0px!important}
.common_navbar .mCSB_container{text-align:left}
.form_textarea{border: 1px solid #a69373;width: 100%;float: left;background: #fff;margin: 0px 0px 0px 0px;padding: 0px 10px;height: 90px;line-height: 28px;font-size: 10.5pt;color: #737373; resize:none}
.left_container #mCSB_1_container{width:100%!important;}
.add_btnrow{width:100%; clear:both; padding-top:16px}
.add_btnrow a{font-size:22pt; color:#fff;font-family: 'morva'; background-color:#aabdc1; padding:19px 28px 13px 28px; display:inline-block; text-decoration:none}
.marT20{margin-top:20px!important; margin-bottom:0px!important;}
.akaya_selection_row{width:100%; clear:both; overflow:hidden; padding-top:17px; padding-bottom:25px; border-bottom:1px solid #d9d9d9; margin-bottom:10px}
.akaya_selection_img{float:left}
.akaya_selection_txt{float:left; padding-left:12px; margin-top:-5px}
.akaya_selc_delete{display:inline-block; margin-top:7px;}
.akaya_selection_row:last-child{margin-bottom:0px;}
.container_total_price.abaya_price{padding-top:10px;}
.akaya_bodymesurment{color:#95aeb3; font-size:13.5pt; text-align:center; padding-top:24px;width:100%; text-align:center}
.akaya_bodymesurment a{color:#95aeb3}
.service_selecrrow{width:100%; float:left; text-align:left; margin-bottom:10px}
.service_selecrrow select{max-width:145px; width:100%; cursor:pointer;}
.service_selecrrow select{font-size:11pt}
.dress_selecrrow{padding-top:18px;}
.discount_price{width:100%; padding-top:0px; font-weight:600; text-align:center; padding-bottom:5px;}
.discount_price .strike{font-weight:400}
.buy_rent{width:100%; padding-top:0px; float:left; margin-bottom:5px}
.padT0{padding-top:0px!important}
.buy_rent .books_male_left{width:auto;padding-right:20px}
.write_review{width:100%; text-align:center; margin-top:23px; margin-bottom:10px;}
.write_review a{font-size:13.5pt; color:#95aeb3; text-decoration:underline; display:inline-block}

/* Review Popup */
.ring_review_popup{width:100%; width:540px; padding:45px;}
.close_popup_btn {float: right;display: inline-block;font-size:15pt;color: #a69373;position: absolute;top: 11px;right: 15px;text-decoration: none;}
.main_title{color:#737373; font-family: 'Raleway', sans-serif; font-size:18pt; font-weight:600;position: relative;padding-bottom: 15px;margin-bottom: 38px; text-align:center}
.main_title:after{background:url('../images/divider.png') no-repeat bottom center; content:''; width:261px; height:8px; position:absolute; bottom:-7px; left:50%; margin-left:-130px}
.review_box{width:100%; text-align:center; padding-top:5px; margin-bottom:20px; overflow:hidden}
.review_box .text-area{border:2px solid #a69373; background-color:#fff; height:150px;}
.ring_review_popup .form-btn{display:inline-block; width:auto}
.service_sidebar_list{width:100%; clear:both; width:100%; padding-top:4px}
.service_sidebar_list .service_sidebar_list_title{font-size:13.5pt; font-weight:600}
.service_sidebar_list ul{margin-top:8px; padding:0px;}
.service_sidebar_list ul li{position:relative; padding-bottom:3px; padding-left:15px}
.service_sidebar_list ul li:before{position:absolute; top:-2px; left:0px; z-index:1; content:'-'; font-size:16pt;}
.service_skin.btn_row .addto_cartbtn{padding:14px 15px 10px}
.appointment_title{color:#737373;font-family: 'Raleway', sans-serif; font-size:18pt; font-weight:600;position: relative;padding-bottom:9px;text-align:center}
.appointment_name{color:#95aeb3; font-size:14pt; font-weight:600;position: relative;padding-bottom: 10px;text-align:center}
.appointment_wrap{width:100%; clear:both; overflow:hidden;}
.appointment_row{width:100%; clear:both; padding-top:12px; overflow:hidden}
.appoint_col2{float:left; width:50%;}
.appointment_row .checkout-form-cell{width:35%;}
.appointment_row .checkout-form-cell:first-child{width:43%}
.appointment_row.appointment_row_radio .checkout-form-cell{width:100%;}
.appointment_row.appointment_row_radio{padding-top:3px;}

.common_popup.book_appointmentpopup{position:fixed}
.common_popup{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); background-color:#f9f7f5; border:1px solid #a38c6d; border-radius:5px; z-index:9999; height:auto;box-shadow:-1px 2px 15px -1px rgba(0,0,0,0.5); display:none}

.car_rent_section .car_model:last-child{margin-bottom:0px;}
.diamond_space .service-display-section{margin-top:23px}
.browse_img{margin-top:5px;}

/* Shopping catogory */
.marT0{margin-top:0px!important}
.marT15{margin-top:14px!important;}
#qty.error{ color:#737373;}


/* Design changes */
#searchweddingoccasion .search-form{text-align:left}
#searchweddingoccasion .search-box{text-align:left; display:inline-block; float:none; vertical-align:top}
#searchweddingoccasion .search-box:nth-last-child(2){padding-right:0px}
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;background-color:transparent
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; background-color:transparent
}
#change_password .checkout-form-cell:last-child{float: left}
/*.checkout-form-row .profile_page.col2.browse_row{height:auto;}*/
.total_price_ul{border-radius: 0 0 10px 10px !important; border-top:0px!important;border-bottom:1px solid #d7d7d7!important;}
.error{color:#f00; font-size:10pt; width:100%; float:left; text-align:left}
.arabic .error{text-align:right;}
.itemadded{display: block;position: relative;top: -30px;}
.dish_cart{float:right;}
.dish_cart input[type="button"]{margin-left:12px}
.signup_page.usersign-box-area{margin-bottom:70px}
.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover{background-color:#c09e9d!important; color:#fff!important}
.flex-next{font-size:0px!important;}
.datepicker-dropdown{padding:4px!important}
.your_rating{padding-bottom:5px;}
.review_txtarea{width:100%; clear:both}
.review_txtarea textarea{ background: #fff none repeat scroll 0 0;border: 1px solid #a69373;color: #737373;float: left;font-size: 10.5pt;min-height:90px;line-height: 22px;margin: 0;padding: 7px 10px;width: 100%; resize:none; max-width: 500px}
/*.dashb_review_popup.review_popup{max-width:600px; width:100%}*/
.dashb_review_popup.review_popup{width: 100%; float: left;background-color: #f3f3f3; padding: 25px 25px 30px 25px; border: 0px solid #e1e1e1; border-radius:5px;}
.checkout-box .myprf_btn{float:left; text-align:left}

.close_search{position: absolute;top:10px;right:13px;z-index: 999;font-size:14pt;font-weight: 700;text-decoration: none;}
.testimonial_slider .flexslider1 .flex-prev:hover, .testimonial_slider .flexslider1 .flex-next:hover{opacity:0.3!important}
.no-record-area{font-size: 12pt;font-weight: 600;padding:30px 0; text-align:center}

/* Studio Details 05-07-2018 */
.studio_gallary_white_box{float:left; margin:0px 0px 10px;padding:0px; width:100%; background:#fff;}
.studio-occasions{float:left; margin:0px; padding:0px 0px 0px 0px; width:100%; font-size:10.5pt; position:relative;}
.studio-occasions span{ left:0px; top:0px;}
.studio_gallary_inner_box{float:left; margin:0px; padding:10px; width:100%;}
.gallery-img-height{max-height:175px; overflow:hidden;}
.occasion-left{ float:left; margin:0px; padding:0px 10px 0px 0px; width:46%; color:#95aeb3; text-align:left;}
.occasion-right{ float:left; margin:0px; padding:0px; width:54%;text-align:left;}
.occasions-details-area{ float:left; margin:0px; padding:18px 0px 0px; width:100%; text-align:center; font-size:14pt; font-weight:500; color:#95aeb3;}
.occasions-details-date{ float:left; margin:0px; padding:0px 0px 0px; width:100%; text-align:center; font-size:12pt;}
.occasions-head{ font-size:12pt; font-weight:500;}
.gallery-details-img-height{max-height:175px; overflow:hidden; margin-bottom:8px;}
.action_popup {padding: 0;background-color: #fff;border: 1px solid #dce3e5;position: fixed;top: 50%;left: 50%;z-index: 999;width: 440px;box-shadow: 1px 2px 7px -2px rgba(0,0,0,0.5);display: none;padding: 0 15px 30px; border-radius:5px; transform:translate(-50%,-50%); margin-top:100px}
.action_active_popup {
	width: 100%;
}
.action_content {
	font-size: 14pt;
	text-align: center;
	padding-top: 30px;
	line-height: 29px;
}
.action_btnrow {
	width: 100%;
	padding-top: 30px;
	text-align: right;
}
.action_btnrow a {
	display: inline-block;
	margin: 0 10px;
	padding: 7px 15px;
	font-weight: 600; text-decoration:none;
}
.action_no {
	color: #fff;
	font-size: 12pt;
	border: 1px solid #c09e9d;
	background-color:#c09e9d;
	border-radius: 3px;
}
.action_yes {
	background-color: transparent;
	border-radius: 3px;
	color: #737373;
	font-size: 12pt;
	padding: 8px 35px !important;
	border: 1px solid #cdcdcd;
}
.action_btnrow {
	text-align: right;
}
.overlay_popup {
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	z-index: 99;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: none;
}
.action_no:hover {
	background-color: transparent;
	border-color: #cdcdcd;
	color: #737373;
}
.action_yes:hover{background-color: #c09e9d; color:#fff;border-color: #c09e9d;}
.buffet-right{ float:right;}
.buffet-close{ position: absolute; top:-1px; right:-4px; font-size:9.5pt; color:#c09e9d; background-color:transparent!important; font-weight:600}
.food-quantity{ padding-top:0px!important;padding-right:0px!important;padding-left:0px!important; display:inline-block!important; padding-bottom:0px!important; width:100%; }
.food-quantity .quantity{ float:left; height:42px;}
.foods-totals{ padding-top:0px!important;}
.tatal-services-table .plus-service{ position:static; background-image:none; width:auto;}
.tatal-services-table .plus-service .glyphicon{ top:-5px; font-size:16pt; font-weight:700; color:#c09e9d;}
.tatal-services-table .plus-service .glyphicon:before{display:none;}
.tatal-services-table .plus-service .glyphicon.glyphicon-plus,.tatal-services-table .plus-service .glyphicon.glyphicon-minus{float:left; width:22px; height:22px;}
.tatal-services-table .plus-service .glyphicon.glyphicon-plus{background:url(../images/cart-plus.png) no-repeat; }
.tatal-services-table .plus-service .glyphicon.glyphicon-minus{background:url(../images/cart-minus.png) no-repeat; }

.panel-title > a { outline:none;}
.foodnow{display: inline-block; text-decoration: none;}
/* Studio Details 05-07-2018 END*/

.singer_price{font-size: 14pt;color: #95aeb3;font-weight: 600;margin-bottom: 15px;clear: both;width: 100%;}

.modify-extra .search-box1{ width:19%;}
.modify-extra .search-box2{ width:13%;}
.modify-extra .search-box3{ width:13%;}
.modify-extra .search-box8{ width:10%;}

.main_category .diamond_main_wrapper, .main_subcategory .diamond_main_wrapper{width:96vw; background-image: none}
.vendor_navbar .active{ color:#95aeb3;}
.select_catg .select_drp{position:relative; }

.table-condensed th{ text-align:center!important}
.testimonial_slider .flexslider1{margin-top:0px;}
.xdsoft_datetimepicker .xdsoft_year{width:auto!important}
.rent-form-bottom{font-size: 14pt;color: #95aeb3;font-weight: 600;}
.wee_mobile{ display:none;}
.well_desk{ display:block;}
.mobile_logo_g{ display:none;}
#shopaddr{ float:left; margin:0px; padding:0px 0px 12px 0px; width:100%;}
.modify-search-form-90 .search-box1{ width:26%;}
.modify-search-form-90 .search-box2{ width:15%;}
.modify-search-form-90 .search-box3{ width:15%;}
.modify-search-form-90 .search-box5{ width:15%;}
.not-sp{ margin-top:0px!important;}

.terms_conditions{ width:100%; margin:10px 0px 0px; padding:0px; text-align:center; float:left;}
.contis {
  border-radius: inherit !important;
  color: #95aeb3 !important;
  font-size: 11pt;
  font-weight: normal !important;
  padding: 0 !important;
  text-decoration: underline !important; border:none!important;
}
.contis:hover { background:none!important;}
.yes {
  background: #c09e9d none repeat scroll 0 0 !important;
  border: medium none !important;
  border-radius: inherit !important;
  color: #fff !important;
  font-weight: normal !important;
  padding: 12px 25px !important;
}
.bdr_top_pop {
  border-top: 1px solid #cdcdcd;
  margin-top: 24px;
  padding-top: 13px !important;
}
.succ_addd {
  padding-left: 41px;
  position: relative; font-size:12pt;
}
.succ_addd::before {
  background: rgba(0, 0, 0, 0) url("../images/right.png") no-repeat scroll 0 0;
  content: "";
  height: 25px;
  left: 0;
  position: absolute;
  top: -4px;
  width: 32px;
}
.close_rent {
  font-size: 13pt;
  margin: 0;
  padding: 10px 0 0;
  text-align: right;
  width: auto; display:inline-block; cursor:pointer; float:right;
}
.add_pop{ padding-top:50px!important;}
/*.bgs .choose-line{ min-height:inherit;}*/
.bgs .choose-line-radio{ text-align:left;}
.order_sumrow .buffet-close{ padding-right:13px;}
.brown-price{ color:#c09e9d;} 
.openpop{top:50%; left:50%; transform:translate(-50%,-50%); background-color:#f9f7f5; border:1px solid #a38c6d; border-radius:5px; z-index:9999; height:auto;box-shadow:-1px 2px 15px -1px rgba(0,0,0,0.5); display:none;position:fixed;}
.checkout-form-bottom textarea{ border:solid 1px #a69373; padding-left:10px; padding-top:5px; resize:none;}
/*.singer-area.singer-area-title{padding-top:25px;}*/
.common_popup.writeonring{position:fixed;}


/* Staff Availibility popup */
.availibity_staff {
  overflow: hidden;
  text-align: left;
  width: 100%;
  margin: 10px 0px;
  float: left;
}
.availibity_staff a{text-decoration:underline; color:#95aeb3; font-size:11pt;}
.avalb_popup_overlay{position:fixed; top:0px; left:0px; z-index:9; background-color:rgba(0,0,0,0.5); width:100%; height:100%; display:none}
.availibility_popup{width:500px;position:fixed; top:50%; left:50%; z-index:99; transform:translate(-50%,-50%); background-color:#fff; padding:15px 10px; display:none}
.avalb_date{text-align:center; padding-bottom:5px;font-size:11pt; position:relative; font-weight:600}
.avalb_close_popup{position: absolute;top: -8px;right: 2px;z-index: 999;font-size: 12pt;color: #000;font-weight: 500;text-decoration: none;}

.avalb_tbl_row{width:100%; clear:both; text-align:left; padding:20px 0 1px 0; border-bottom:1px solid #ccc; overflow:hidden}
.avalb_tbl_col3{padding:5px 10px; width:32.33%; display:inline-block; vertical-align:middle}
.avalb_tbl_col3 img{max-width:60px;}
.avalb_row{width:100%; overflow:hidden; clear:both}
.avalb_row .avalb_tbl_col3{padding:10px}
.avalb_row .avalb_tbl_col3:last-child{font-size:10pt}
.time_slot{padding-bottom:5px;}


/* Country code */
.country_row{position:relative;}
.country_row .usersign-form-bottom, .country_row .checkout-form-bottom{padding-left:72px} 
.country_row .countrycode{position:absolute; left:0px; width:100%; max-width:70px}

/* Review popup */
.review_staffname{    width: 100%;
    padding: 20px 0 10px 0;
    clear: both;}
	
	
	.review_popuplick{cursor:pointer}
.review_overlay{width:100%; left:0px; top:0px; height:100%; background-color:rgba(0,0,0,0.5); z-index:9; position:fixed; display:none}
.user_review {
  background-color: #fff;
  border-radius: 3px;
  display: none;

  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 99;
  max-width: 700px;
}
.user_review_close{font-size:14pt; color:#000; position:absolute; top:10px; right:10px; z-index:9; cursor:pointer}
.user_review_heading{ width:100%; margin:40px 0px 0px 0px; padding:0px; float:left; text-align:center; font-size:14pt;}
.rating_raea_box{ width:100%; margin:30px 0px 0px 0px; padding:0px; float:left;}
.usersign-form-bottom .mobleno, .checkout-form-bottom .mobleno{  margin-left: 8px;
    max-width: 150px; }
	.checkout-form-bottom .countrycode{ max-width:73px;}
	.checkout-form-bottom select{ right:6px;}
	.payment_heading{margin-bottom:15px; font-size:16pt;}
	
.rating_box {
  border-bottom: 1px solid #cfcfcf;
  float: left;
  margin: 0px 2%;
  padding: 20px 30px;
  width: 96%;
}
.review_left {
  float: left;
  margin: 0;
  padding: 0;
  width: 12%;
}
.review_right {
  float: left;
  margin: 0;
  padding: 0 0 0 20px;
  width: 88%;
}

.review_box_type {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
.review_name_area {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
.review_name {

  float: left;
  font-size: 12pt;
  margin: 0;
  padding: 0; width:100%; font-weight:500;
}
.review_star {
  float: left;
  margin: 6px 0 0 0px;
  padding: 0; width:100%; font-size:10.5pt;
}
.review_date {
  color: #777d88;
  float: right;
  font-size: 9pt;
  margin: 0;
  padding: 0;
}
.review_date span {
  color: #018de2;
  font-weight: 500;
}
.review_cont_type{ width:70%; margin:0px; padding:0px; float:left;}
.rpx_box{ width:100%; margin:0px; padding:0px; float:left;}
.rating_desc_po{ width:100%; margin:14px 0px 0px; padding:0px; float:left;}
.user_review .content {

  box-sizing: border-box;
  height: 498px;
  margin: 10px;
  max-width: 97%;
  overflow: auto;
  padding: 20px;
  position: relative;
  width: 740px;
}
.findme{ background: #95aeb3 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-weight: bold;
    margin-bottom: 8px;
    padding: 7px 20px;}
.sab {
  width: 57%;
  float: left!important;
  word-wrap: break-word;
}

.hall-det-line{width:100%; float:left; margin:10px 0 0px 0; padding:0px; }	
.hall-det-line-last{margin-bottom:20px;}
.hall-det-line span{font-weight:600;}

.arabic .service_catagory .service_price{float:left; padding:0 12px 0 0}
.hall_map{width:100%; float:left; margin:-10px 0 30px 0;}
.homepage_category .info_btn{ z-index:0;}

@media screen and (max-width:1300px){
.order_summary_bar .btn_row .addto_cartbtn{padding:14px 20px 10px; width:auto; display:inline-block; font-size:16.5pt}
.flower_bg:after{background-size:100%; width:205px; height:205px;}
.flower_bg:before{background-size:100%; top:0px;width:205px; height:205px;}


}


@media screen and (max-width:1000px){
.order_summary_bar{width:100%; margin-top:20px}
.common_navbar ul li:first-child{padding-left:0px;}

}


@media screen and (max-width:767px){
/*.packge_numb{padding-top:7px;}*/
.thumbnail_wrap{padding-top:15px}
.total_price{font-size:15pt}
.ring_review_popup{padding:20px}
.flexslider1 .flex-control-nav.flex-control-paging{display:block; bottom:-55px;}
.testimonial_slider{overflow:inherit;}
.flex-direction-nav{display:none}
.signup_page.usersign-box-area{margin-bottom:0px;}
.search_popup{position:absolute; margin-top:120px}

}


@media screen and (max-width:600px){
.common_popup{width:90%}
.ring_review_popup{width:100%;}
.order_sum_row_area{ margin:0px 0px 20px 0px; padding:0px; float:left; width:100%; }


}


@media screen and (max-width:500px){
.full_width .gender-radio-box{width:100%; margin-bottom:5px}
.checkout-form-row .full_width .col2.browse_row{height:130px}
.checkout-form-bottom.invitaion_cardrow{margin-top: 0px;display: inline-block;text-align: center;width: 100%;float: none;}	
.full_width .checkout-form-bottom.invitaion_cardrow .gender-radio-box{float:none; display:inline-block; width:auto}
.appointment_row .checkout-form-cell:first-child{width:100%; clear:both}
.appointment_row .checkout-form-cell:last-child{float:left;clear:both}
.appointment_row .checkout-form-cell{width:100%; max-width:175px}
.btn_row .addto_cartbtn{padding:14px 15px 10px}
.vendor_name span{color: #95aeb3;font-weight: 500;clear: both;width: 100%;display: block;line-height: 15px;font-size: 10pt;}
.vendor_welc{width:160px}
.action_content{font-size:12pt; line-height:26px; padding-top:22px}
.action_btnrow{padding-top:22px;}
.action_popup{width:330px}
.availibility_popup{width:360px;}
.avalb_row .avalb_tbl_col3{vertical-align:top}

}


@media screen and (max-width:360px){
.checkout-form-row .full_width .file-value {width: 242px;}
.availibility_popup{width:300px;}
}




