/* CSS Document */
.myaccount_left{  background: #f3f3f3 none repeat scroll 0 0;border: 1px solid #d7d7d7;border-radius: 10px;float: left;margin: 0;padding: 20px;width: 23.3%;}
.myaccount_right{ width:73%; margin:0px 0px 0px 3.3%; padding:0px; float:left;}
.myaccount_left ul{ margin:0px; padding:0px; float:left; width:100%;}
.myaccount_left ul li{ margin:0px; padding:10px 0px 10px 0px; list-style-type:none; border-bottom:solid 1px #d7d7d7; }
.myaccount_left ul li a{ color:#95aeb3; text-decoration:none; font-size:11pt;  }
.myaccount_left ul li:last-child{ border:none;}
.myaccount_left ul li .select{ color:#ad8b8b;}
.dashborad_heading{ width:70%; margin:0px; padding:0px; float:left; color:#95aeb3; font-weight:600; font-size:20pt; }
.dash_select{ float:right; margin:0px; padding:0px; width:30%; text-align:right; }
.field_group{ width:100%; margin:0px 0px 0px 0px; padding:0px;  border: 1px solid #d7d7d7;border-radius: 6px; float:left;  background:#fff; }
.dash_heading {-moz-border-bottom-colors: #fff;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;background: #fff none repeat scroll 0 0;border-image: none;border-left: 1px solid #d7d7d7;border-right: 1px solid #d7d7d7;
border-top: 1px solid #d7d7d7;border-top-left-radius: 6px;border-top-right-radius: 6px;color: #737373;float: left;font-size: 13pt;font-weight: 600;line-height: 1px;margin: -30px 0 0 20px;padding: 18px 18px 10px;}
.top_spacing_margin{ margin-top:71px!important;}
.inner_wrap_account {margin: 0 auto;max-width: 1270px;padding: 0 15px;width: 100%;}
.top_spacing_margin_occas{margin-top: 38px !important;}
.main_padding{ padding:20px!important}
.myaccount-table {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: medium none;border-radius: inherit;display: table;margin: 20px 0 10px 0;padding: 3px 13px 1px;width: 100%; box-sizing:border-box;}
.mytr {background: none repeat scroll 0 0 #ffffff; display: table-row;}
.mytd { color:#737373; display: table-cell; font-size: 11pt; padding: 10px 15px; vertical-align: top;  word-wrap:break-word; border-bottom:solid 1px #d7d7d7; }
.mytable_heading {border-bottom: 1px solid #d7d7d7;color: #737373;display: table-cell;font-size: 12pt;font-weight: 600;margin: 0;padding: 5px 15px 10px;text-transform: inherit;}
.order_id{ text-align:right;}
.mytr:last-child .mytd { border-bottom:none;}
.my_photo_area{ width:100%; margin:40px 0px 0px 0px; padding:0px; float:left;}
.myphoto_left{ width:49%; margin:0px 2% 0px 0px; padding:0px; float:left; border: 1px solid #d7d7d7;border-radius: 6px; float:left;  background:#fff; position:relative;}
.myphoto_right{ width:50%; margin:0px; padding:0px; float:right; border: 1px solid #d7d7d7;border-radius: 6px; float:left;  background:#fff;}
.galls{ width:100%; margin:0px; padding:20px 20px; float:left;}
.occs{ width:100%; margin:0px; padding:0px 0px 7px 0px; float:left;}
.occus_text{ float:left; font-size:11pt; color:#737373; font-weight:600; }
.wed_text{ float:left; font-size:11pt; color:#95aeb3; padding:0px 0px 0px 10px;  }
.photosmy li {float: left;list-style-type: none;margin: 0 5% 8px 0;padding: 0; width:30%;}
.photosmy ul{ margin:0px; padding:0px; float:left; width:100%;}
.photosmy{ margin:0px; padding:0px 20px; float:left; width:100%;}
.photosmy li:nth-child(3n){ margin-right:0px!important;}
.photo_view_detail{ width:100%; margin:0px 0px 17px 0px; padding:0px; float:left; text-align:center; color:#c09e9d; font-size:12pt;}
.photo_view_detail a{ color:#c09e9d; font-size:11pt; text-decoration:underline; font-weight:500;}
.sar_money {margin: 0;padding: 0;position: absolute;text-align: center;top: 50%;transform: translateY(-50%);vertical-align: middle;width: 100%;}
.sar_text{ width:100%; margin:0px; padding:0px; float:left; color:#95aeb3; font-size:20pt; font-weight:600;  }
.add_money{ width:100%; margin:5px 0px 0px 0px; padding:0px; float:left; text-align:center;}
.add_money a{ color:#c49c9d; font-size:11pt; text-decoration:underline; font-weight:600;}
.my_latest_area{ width:100%; margin:40px 0px 0px 0px; padding:0px; float:left;}
.latest_mix{ width:100%; margin:0px; padding:0px; float:left; border: 1px solid #d7d7d7;border-radius: 6px; float:left;  background:#fff;}
.my_latest_revie{ width:100%; margin:0px; padding:20px; float:left; }
.lors_text{ width:100%; margin:0px; padding:0px 50px 0px 0px ; float:left; font-size:11pt;}
.my_star{ width:100%; margin:8px 0px 0px 0px; padding:0px; float:left;}
.btm{ border-bottom:solid 1px #d7d7d7; width:100%; margin:0px; padding:0px 0px 11px 0px; float:left;} 
.tps{ padding-top:22px;}
.my_latest_revie > div:nth-last-child(2){border-bottom:none;}
.all_review{ width:100%; margin:0px; padding:10px 0 0 0; float:left; text-align:right;}
.all_review a{ font-weight:600; font-size:11pt;}
.lts{ margin-top:60px!important;}
.myphoto_left:last-child{ margin-right:0px;}
.myaccount-mobile{ display:none;}
.types_ocss{ width:100%; margin:0px; padding:20px; float:left;}
.types_ocs_left{float:left; margin:0px; padding:0px;}
.types_ocs_right{float:left; margin:0px 0px 0px 3%; padding:0px; width: 47%}
.list_of_service{ width:100%; margin:0px; padding:0px 20px; float:left;}
.list_heading{ width:100%; margin:0px 0px 15px 0px; padding:0px 0px 10px 0px; float:left; font-size:14pt; font-weight:600;}
.mts {
  border: 0px solid #d7d7d7;
  border-radius: 0;
  padding: 0px 0 0px; margin:0px;
}
.main_box_table_area{border: 1px solid #d7d7d7;border-radius: 6px; width:100%; margin:0px 0px 20px 0px; padding:0px; float:left; overflow:hidden;}
.main_user > div:last-child .main_box_table_area{margin-bottom:50px}

.grey {
  background: #f3f3f3 none repeat scroll 0 0 !important;
  padding: 16px 15px!important;
}.mytr.mybacg:nth-child(even){ background:#fff;}
.mytr.mybacg:nth-child(odd){ background:#f3f3f3;}
.mies{ padding:25px 15px!important;}
.main_total{ width:100%; margin:0px; padding:25px 20px; float:left;background:#f3f3f3; text-align:right; font-weight:600; font-size:16pt; }
.my_padd{ padding:20px!important;}
.add_sar{ width:100%; margin:0px; padding:0px; float:left; font-size:14pt; font-weight:600;}
.wallet_balance{ width:100%; margin:0px; padding:12px 0px 0px 0px; float:left; font-size:11pt;}
.wallet_balance span{ font-weight:500; padding-left:7px;}
.choose_amt{ width:100%; margin:21px 0px 0px 0px; padding:0px; float:left; font-size:12pt; font-weight:600;}
.amt_box{ width:100%; margin:10px 0px 20px; padding:0px; float:left;}
.amt_box ul{ margin:0px; padding:0px; float:left; width:100%;}
.amt_box ul li {
  background: #ad8b8b none repeat scroll 0 0;
  color: #fff;
  float: left;
  font-size: 13pt;
  font-weight: 600;
  margin: 0 20px 0 0;
  padding: 14px 61px 14px 61px; cursor:pointer;
}
.amt_box ul li:last-child{margin-right:0px}
.amt_input{ width:100%; margin:10px 0px 20px 0px; padding:0px; float:left;}
.amt_input input{ border:solid 1px #a69373; margin:0px; padding:10px; float:left; font-size:10pt; color:#737373; width:35%;}
.payment_method_my{ width:100%; margin:0px; padding:0px; float:left;}
.pay_head{ width:100%; margin:0px; padding:0px; float:left; font-size:13pt; font-weight:600;}
.pay_area {
  background: #f3f3f3 none repeat scroll 0 0;
  float: left;
  margin: 10px 0 30px;
  max-width: 366px;
  padding: 20px 20px 10px;
  width: 100%;
}
.cred {
  float: left;
  margin: 0px 0 20px;
  padding: 0;
}
.crd_text{ color:#95aeb3; font-weight:500;}
.crds {
  float: left;
  margin: 10px 0 0;
  padding: 0 0 0 29px;
  width: 88%;
}
.crds select{ font-size:9.5pt;}
.cont{ width:100%; margin:0px 0px 40px 0px; padding:0px; float:left;}
.cont .form-btn{ font-size:24pt;}



/* Sevices*/
.cityweight{ font-weight:600;}
.ry{ padding-left:7px;}
.service_bottom{ width:100%; margin:23px 0px 0px 0px; padding:0px; float:left;}
.service_heading{ width:100%; margin:0px; padding:0px; float:left; color:#95aeb3; font-size:27pt; font-family: "morva"; text-align:center;}
.service_tabs{float:left;margin:0px 0 0;padding: 0 0 0px;width:100%;}
.service_tabs ul{ margin:0px; padding:0px; float:left; width:100%; text-align:center;}
.service_tabs ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0 0px;
}
.service_tabs ul li a {
  color: #737373;
  font-size: 18pt;
  margin: 0;
  padding: 0 34px;
  position: relative;
  text-decoration: none;
   display: inline-block;
}
.service_tabs ul li .select {
  background: #c5ac84 none repeat scroll 0 0;
  color: #fff;
  margin: 0;
  padding: 19px 24px;
  text-decoration: none;
}
 
.service_bdr{width:100%; height:4px; float:left; margin:0; padding:0px; background:#c5ac84; position:relative;}
.service_bdr:before,.service_bdr:after{position:absolute; left:-27px; background:url(../images/divder-icon.png) no-repeat; width:58px; height:31px; content:'';}
.service_bdr:before,.service_bdr:after{top:-13px; }
.service_bdr:before{transform: rotate(180deg); left:-62px;}
.service_bdr:after{transform: rotate(0deg);  right:-62px; left:inherit}



.service_tabs  ul li .select:after {
  /*background: #c5ac84 none repeat scroll 0 0;*/
  border-radius: 50%;
  bottom: -12px;
  content: "";
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  width: 14px;
}

.service_line{ position:relative; width:100%; margin:0px; padding:0px 60px; float:left;}
.duration{ width:100%; margin:5px 0; padding:0px; float:left; font-size:10.5pt; color:#95aeb3; font-weight:600;}
.duration span{ color:#737373; width:100%; float:left;}
.service-beauty-description {
  float: left;
  margin: 0 0 11px;
  padding: 0;
  width: 100%;   word-wrap: break-word;
}
}
.beauty-prise {
  float: left;
  margin: 5px 0 0;
  padding: 0;
  width: 100%;
}
.beauty-prise span{
  color: #95aeb3;
  float: left;
  font-size: 16pt;
  font-weight: 500;
  margin: 0 0 0 0px;
}
.service_top{ margin-top:21px!important;}
.books_male_area{ width:100%; margin:0px; padding:0px 0px 16px 0px; float:left;}
.books_male_left{ width:38%; margin:0px; padding:0px; float:left;}
.books_form{ width:100%; margin:0px; padding:0px; float:left;}
.book_label{ width:100%; margin:0px 0px 7px 0px; padding:0px; float:left; color:#95aeb3; font-size:10.5pt; font-weight:500;}
.cal-w {
  background-image: url("../images/watch.png");
  background-position: 97% 5px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.book_input .t-box{ width:66%;}
.book_input select, .checkout-small-box.select_time{
  -moz-appearance: none;
  background: #fff url("../images/watch.png") no-repeat scroll 95% 58%;
  padding-left: 7px;
  padding-right: 25px;
  width: 100%;
}
.book_input{ width:100%; margin:0px; padding:0px; float:left;}
.book_input .checkout-small-box {
  max-width: 151px;
}
.staff_area{ width:100%; margin:12px 0px 0px 0px; padding:0px; float:left;}
.choose_staf_box{ width:100%; margin:0px; padding:0px; float:left;}
.choose_name{ width:30%; padding:0px; float:left; margin:0px 3% 20px 0px;}
.choose_img{width:100%; margin:0px 0 10px 0; padding:0px; float:left; height:70px; }
.choose_img img{max-height:100%;}
.choose_text{width:100%; margin:0px; padding:0px; float:left; text-align:center;overflow-wrap: break-word;}
.choose_radio{width:100%; margin:0px; padding:0px; float:left; text-align:center;}
.top_staff_spc{ padding-top:15px!important;}
.strike{ text-decoration:line-through; font-size:11pt!important; color:#c5c5c5!important; padding-right:8px;}
.prce{ margin-top:10px!important;}
.welcome_message {font-weight: 600;position: absolute;right:0px;top: 70px;width: 100%;}
.welcome_message span{ color:#95aeb3; font-weight:normal;}
.car_model{ width:100%; margin:0px 0px 10px 0px; padding:0px; float:left;}
.car_text{ width:100%; margin:0px; padding:0px; float:left; font-size:10.5pt; color:#95aeb3; font-weight:600;}
.car_text_type{width:100%; margin:0px; padding:0px; float:left; font-size:10.5pt; color:#737373; font-weight:600;}
.car_small{width:100%; margin:0px; padding:0px; float:left; font-size:9.5pt;}

.order_id a{text-decoration:none!important}
.paging_quote{ float:right;}
#slider .flex-direction-nav{display:none!important}

.order-detail-table .miestd1{width:18%}
.order-detail-table .miestd2{width:25%}
.order-detail-table .miestd3{width:15%}
.order-detail-table .miestd4{width:13%}
.order-detail-table .miestd5{width:14%}
.order-detail-table .miestd6{width:15%}
.vat-tax-line{width:100%; margin:0px 0px 10px 0px; padding:0px; float:left; font-size:13.5pt;}
.myac-all-order{width:100%; margin:0px 0px 0px 0px; padding:20px 20px 10px; float:left; background:#f3f3f3} 
.all-order-tr{width:100%; margin:0px 0px 0px 0px; padding:0px; float:left;}
.all-order-td{width:48%; margin:0px 0px 10px 0px; padding:0px; float:left;}
.all-order-td span{font-weight:600}
.all-order-td:nth-child(2n){float:right;}
.all-order-table-wrapper{margin-bottom:40px;}
.serviceorder-det-table .td1{width:20%}
.serviceorder-det-table .td2{width:20%}
.serviceorder-det-table .td3{width:20%}
.serviceorder-det-table .td4{width:20%}
.serviceorder-det-table .td5{width:20%}
.serviceorder-det-table td{text-align:left!important}
.all-order-tr-heading{width:100%; float:left; margin:15px 0 10px 0; padding:0px; font-size:14pt; font-weight:bold;}
.all-order-wrap{width:100%; float:left; margin:0px 0px 25px 0px; padding:0px 0 15px 0; border-bottom:1px solid #e6e6e6;}
.all-order-wrap:last-child{border:0; padding-bottom:0; margin-bottom:0px;}

@media only screen and (max-width: 1305px) {
.amt_box ul li {
  text-align: center;
  width: 22%;
  padding: 10px 0px; margin:0px 15px 0px 0px;
}


}
@media only screen and (max-width: 1276px) {
.photosmy li {
  margin: 0 3.5% 8px 0;
}
}
@media only screen and (max-width: 1250px) {
.photosmy li {margin: 0 2.9% 8px 0;}

}

@media only screen and (max-width: 1238px) {
.photosmy li {margin: 0 2.2% 8px 0;}

}
@media only screen and (max-width: 1204px) {
.photosmy li {margin: 0 1.3% 8px 0;}

}
@media only screen and (max-width: 1220px) {
.photosmy li {margin: 0 1% 8px 0;}

}
@media only screen and (max-width: 1195px) {
.photosmy li {
  margin: 0 0 8px 0;
  text-align: center;
  width: 50%;
}

}
@media only screen and (max-width: 1057px) {
.types_ocs_left {width: 50%;}


}
@media only screen and (max-width: 1000px) {
.mytable_heading,.mytr-head{display:none!important;}
.myaccount-table {width: 100%;}  
.myaccount-table .mytd {width: 100%; border: 0; padding:0px 10px 5px 160px!important; float: left; min-height:25px; margin-bottom:10px; position: relative;text-align:left!important;}
.myaccount-table .mytd:before{color: #626262;position: absolute; left: 10px; font-weight: 600; width:150px; float:left; line-height:27px; content: attr(data-title);} 
.myaccount_right { margin: 0 0 0 0%; width: 100%;} 
.myaccount-mobile {
  background: #f3f3f3 none repeat scroll 0 0;
  border: 1px solid #d7d7d7;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  float: right;
  padding: 10px 14px 10px 40px;
  position: absolute;
  right: 7px;
}
.myaccount-mobile:before {
  background: rgba(0, 0, 0, 0) url("../images/login.png") no-repeat scroll 0 0;
  content: "";
  height: 27px;
  left: 10px;
  position: absolute;
  top: 7px;
  width: 23px;
}  
.myaccount_left {

  position: absolute;
  right: 0;
  top: 44px;
  width: 23.3%; display:none;
}
.page-left-right-wrapper{ position:relative;}
.myaccount-mobile:hover + .myaccount_left{ display:block; }
.myaccount_left:hover{ display:block; }
.myaccount-mobile a{text-decoration:none; cursor:pointer; font-weight:600;}
/* .mies {
  padding: 0 0px 7px 34% !important;
}*/ 
.main_total {

  padding: 25px 10px;
  text-align: left;

}
.mytr {
 
  padding-top: 18px;
  float: left; width:100%;
}
.types_ocs_left {
  float: left;
  margin: 0;
  padding: 0;
  width: 40%;
}
.dash_select{ width:auto;}
.myaccount-table .mytr{ padding-top:10px; }
.choose_img{ text-align:center;}
.choose_radio input[type="radio"]:not(old) + label{padding-left: 16px;}
.welcome_message {top: 40px; right:15px;}
.service_tabs ul li a{ font-size:12pt;
}
.service_tabs ul li .select {
 padding: 13px 19px;

}
.service_bottom{margin-bottom:30px}

.dash_select {float: right; margin: 33px 14px 0px 0px;width: 140px;}
.serviceorder-det-table tr{margin:0px; padding:0px;}
.serviceorder-det-subtable{width:100%; float:left; margin:0px; padding:0px;}
.serviceorder-det-subtable tr{width:100%; float:left; margin:0px; padding:10px 0;}
.serviceorder-det-subtable td{width:100%!important; float:left; margin:0px; padding:5px 10px 5px 160px; position:relative}
.serviceorder-det-subtable td::before {
    content: attr(data-title);
    float: left;
    font-weight: 600;
    left: 10px;
    position: absolute;
    width: 150px;
}
.myac-all-order{padding:15px 10px 5px}
}

@media only screen and (max-width: 800px) {

.service_bottom{margin-bottom:0px}

}
@media only screen and (max-width: 767px) {
.beauty-prise{margin-top:10px}
.beauty-prise span {font-size: 15pt;}
.myaccount-table .mytd {width: 100%}


.types_ocss ,.list_of_service{padding:15px 10px}
.mo-row-none{display:none;}
.all-order-td{width:100%}
.all-order-table-wrapper{margin-bottom:10px;}
.types_ocs_right,.types_ocs_left{width:100%}
.types_ocs_right{margin:0px 0 0 0}
.types_ocss{padding-bottom:0px;}

}
@media only screen and (max-width: 620px) {
.myphoto_left{ width:100%; height:auto!important;}
.sar_money {
  
  padding: 50px 0px 50px;
  position: inherit;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  float: left; transform:inherit;
}
.photosmy li {
  margin: 0 10px 8px 0px;
  text-align: center;
  width: 25%;
}
.myphoto_left:last-child {
  margin-right: 0;
  margin-top: 59px;
}
.myaccount_left { width:100%; z-index:1;}


}
@media only screen and (max-width: 600px) {
.welcome_message {
  top:140px;
}
.myaccount_right {
  margin: 31px 0 0;
}
.myaccount-mobile {
  top: 25px;
}
.myaccount_left {
 
  right: 4px;
  top: 67px;
}
.amt_input input{ width:80%;}

}
@media only screen and (max-width: 538px) {
.amt_box ul li {margin: 0 10px 0 0;}


}
@media only screen and (max-width: 500px) {
.myaccount-table .mytd {padding:0px 0px 5px 47%; }
.myaccount-table .mytd:before{width:55%;}
.dashborad_heading{font-size:15pt;}
.types_ocs_right{margin-left:0px!important}
.mies {
  padding: 0 0px 7px 50%!important;
}
.amt_box ul li {
  width: 47%;
  margin-bottom: 10px;
}

.welcome_message{top:165px;}

.main_total{font-size:14pt;}



}
@media only screen and (max-width: 392px) {
.amt_box ul li {
  margin-bottom: 10px;
  width: 44%;
}

}


.refundtip .refundtiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.refundtip:hover .refundtiptext {
  visibility: visible;
}
