@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px
}

.p-15 {
    padding: 15px;
}

ul,
p {
    margin: 0
}

ul {
    padding: 0
}

a {
    color: #884ccd;
}

a:hover {
    color: #57099a;
}

header {
    background: url(../images/bg-header.png) no-repeat;
    background-size: cover;
    min-height: 250px;
}

header .logo {
    display: block;
}

header .logo img {
    max-width: 140px;
}

nav.navbar.navbar-inverse {
    background: 0;
    border: 0;
    margin: 40px 0 0;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    background: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-size: 17px;
}

header .list-link {
    margin: 52px 0 0;
}

header .list-link img {
    max-width: 15px;
    display: inline-block;
    vertical-align: middle;
}

header .list-link li a {
    color: white;
}

header .list-link li {
    font-size: 17px;
}

.page-header {
    border: 0;
}

.page-header .logo-title {
    display: flex;
    align-items: center;
}

.page-header .logo-title img {
    max-width: 120px;
    margin-right: 10px;
}

.page-header .logo-title h2 {
    font-size: 24px;
    font-weight: 700;
}

.page-header form {
    margin: 50px 0 0;
}

.page-header form select {
    width: 210px;
    padding: 5px 10px;
}

.slide-pages .item img {
    height: 440px;
}

.box {
    border: 1px solid #333;
    min-height: 230px;
    border-radius: 5px;
    margin: 0 0 30px;
}

.head-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-box h2 {
    font-weight: 700;
    font-size: 20px;
    margin: 0 0 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

.stars {
    font-size: 11px;
}

.head-box .stars i.fa-star {
    color: #FFC107;
}

.box .tabs {
    list-style-type: none;
    display: flex;
    justify-content: baseline;
}

.box .tabs li a {
    color: #5b31bd;
    display: block;
    padding: 20px 20px;
    text-align: center;
    border-bottom: 1px solid #5b31bd;
}

.box .tabs li {
    max-width: 50%;
    flex: 0 0 50%;
}

.box .tabs li.active a {
    background-color: #5b31bd;
    color: white;
}

.tab-content {
    line-height: 2;
}

.add-to-cart {
    background: #68dadd;
    color: white;
    display: block;
    width: 220px;
    font-size: 20px;
    padding: 10px 0;
    margin: 0 0 30px;
    border-radius: 5px;
}

.title-head {
    font-weight: 700;
    margin: 10px 0 20px;
}

.items-reviews .item {
    margin: 0 0 30px;
    border: 1px solid #333;
    padding: 15px;
    display: flex;
}

.items-reviews .item .tump {
    width: 100px;
    margin-right: 20px;
    border: 0;
}

.items-reviews .item .tump img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.items-reviews .item .caption h2 {
    font-size: 17px;
    font-weight: 700;
    margin: 0 0 10px;
}

.items-reviews .item .caption .stars {
    margin: 0 0 10px;
}

.perivious-next {
    display: flex;
    justify-content: space-between;
}

.perivious-next a {
    color: #101010;
}

.flex-end {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

.btn-site {
    background: #6f3dc5;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    margin: 0 0 20px;
}

.btn-site:hover {
    color: white;
    background: #9976d5;
}

a:hover,
a:focus {
    text-decoration: none;
}

.fw-700 {
    font-weight: 700
}

.block-bn {
    display: block;
    text-align: center
}

.det span {
    color: #a0a0a0;
    float: right;
}

.det p {
    line-height: 2;
}

footer {
    background: url('../images/bg-footer.png')no-repeat;
    background-size: cover;
    min-height: 430px;
    padding-top: 150px;
    color: white;
    line-height: 2.5;
}

footer .link-footer {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px;
}

footer .link-footer li a {
    color: white;
    display: block;
    position: relative;
}

footer .link-footer li a:before {
    content: '';
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    right: -25px;
    top: 16px;
}

footer .link-footer li:last-child a:before {
    content: none;
}

footer h2 {
    font-size: 18px;
    margin: 0 0 20px;
}

footer .follow-us {
    display: flex;
    flex-wrap: wrap;
}

footer .follow-us li {
    max-width: 33.33%;
    flex: 0 0 33.33%;
}

footer .follow-us li a {
    background-color: white;
    color: #5d32be;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin: 0 0 10px;
    font-size: 20px;
    text-align: center;
}

footer img.safe {
    max-width: 150px;
}

footer .dis-flex {
    display: flex;
    align-items: center;
}

footer .dis-flex img {
    max-width: 80px;
}

.halls-list .cats li a {
    border: 2px solid #6538c1;
    display: block;
    height: 150px;
    width: 150px;
    padding: 30px;
    border-radius: 50%;
}

.halls-list .cats li a img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.halls-list .cats li.active a {
    background-image: -moz-linear-gradient(90deg, rgb(30, 30, 30) 0%, rgb(255, 255, 255) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(30, 30, 30) 0%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(30, 30, 30) 0%, rgb(255, 255, 255) 100%);
}

a.btn-site-02 {
    display: inline-block;
    background: #68dadd;
    color: white;
    padding: 10px 50px;
    border-radius: 5px;
    margin: 0 0 30px;
    width: 370px;
}

.halls-list .cats {
    margin: 0 0 40px;
}

.options li a {
    width: auto;
    padding: 6px 20px;
}

.options li a.exchange {
    color: #a15ad5;
    border: 1px solid #eee;
    width: 40px !important;
    padding: 0;
    height: 40px !important;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 39px;
    box-shadow: 0 0 12px -8px #969696;
}

.item {
    margin: 0 0 30px;
    border: 1px solid #333;
}

.item .tump {
    float: left;
    border-right: 1px solid #333;
}

.item .tump img {
    height: 110px;
    width: 110px;
}

.item .caption {
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.item .caption a {
    color: #3e3e3e;
    font-weight: 700;
    display: block;
    margin: 10px 0 5px;
}

.item .caption .stars {
    color: #FFC107;
    font-size: 10px;
    margin: 0 0 2px;
}

.item .caption p {
    color: #8e8e8e;
    font-size: 14px;
    margin: 0 0 10px;
}

.item .caption .price {
    text-align: right;
    color: #aa5ad5;
    font-weight: 700;
    margin-top: -7px;
}


.pagenation {
    display: flex;
    justify-content: center;
    direction: rtl;
    margin: 0 0 30px;
}

.pagenation li {
    max-width: 40px;
    flex: 0 0 40px;
    background: #5b31bd;
    border: 2px solid #5b31bd;
}

.pagenation li a {
    color: white;
    display: block;
    padding: 6px 10px;
}

.pagenation li.active {
    background-color: white;
}

.pagenation li.active a {
    color: #5b31bd;
}

.menue .item-cat a {
    text-align: center;
    color: black;
}

.menue .item-cat a p {
    margin: 10px 0 0;
}

.menue .item-cat a img {
    height: 150px;
    width: 150px;
    margin: auto;
    display: block;
}

.slide-cats {
    margin: 0 0 40px;
}

.slide-cats .owl-nav > button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slide-cats .owl-nav button.owl-prev {
    right: -10px;
}

.slide-cats .owl-nav > button > i {
    font-size: 40px;
}

.slide-cats .owl-nav button.owl-next {
    left: -10px;
}

.dishes .item-dis {
    margin: 0 0 30px;
    border: 1px solid #333;
}

.dishes .item-dis .tump {
    float: left;
    position: relative;
}

.dishes .item-dis .caption {
    overflow: hidden;
    padding: 10px;
}

.dishes .item-dis .tump img {
    height: 140px;
    width: 160px;
}

.dishes .item-dis .tump i {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
    color: white;
}

.dishes .item-dis .caption .disflex {
    display: flex;
    align-items: flex-end;
}

.dishes .item-dis .caption .disflex a {
    display: block;
    height: 30px;
    width: 30px;
    border: 1px solid #333;
    text-align: center;
    margin: 0 10px;
    color: #2b2b2b;
    line-height: 28px;
    border-radius: 5px;
}

.dishes .item-dis .caption .fw-700 {
    margin: 0 0 4px;
}

.dishes .item-dis .caption .disflex .left,
.dishes .item-dis .caption .disflex .right {
    width: 50%;
    flex: 0 0 50%;
}

.dishes .item-dis .caption .disflex .left input {
    width: 80%;
}

.dishes .item-dis .caption .disflex .left > div {
    display: flex;
    align-items: center;
}

.dishes .item-dis .caption .disflex .left > div p {
    font-size: 13px;
    margin-right: 5px;
}

.dishes .item-dis .caption .disflex .right p.sal {
    color: #6f3dc5;
    font-weight: 600;
}

.dishes .item-dis .caption .disflex .right {
    text-align: right;
}

.dishes .item-dis .caption .disflex .right a {
    width: auto;
    height: auto;
    margin: 10px 0 0;
    border: 0;
    width: 80px;
    float: right;
}


.dishes .item-dis .caption .disflex .right a.added {
    background: #6f3dc5;
    color: white;
}

.dishes .item-dis .caption .disflex .right a.add {
    background: #68dadd;
    color: black;
}

.item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px;
    border: 1px solid #333;
    padding: 7px;
}

.item-container .img img {
    height: 70px;
    width: 70px;
}

.item-container div:nth-child(2) {
    color: #888888;
}

.item-container div:nth-child(3) {
    font-weight: bold;
    font-size: 25px;
    color: #6f3dc5;
}

.selection ul {
    display: flex;
    margin: 0 0 20px;
    justify-content: space-between;
    font-size: 14px;
}

.selection .item-select {
    padding: 15px;
    margin: 0 0 20px;
    border: 1px solid #333;
    align-items: center;
    font-weight: 700;
}

.selection .item-select a {
    color: red;
    font-size: 20px;
}

.menue h3 {
    margin: 0 0 14px;
    font-weight: 600;
    font-size: 18px;
}

.desserts .title-head {
    margin: 0 0 5px;
}

.desserts .items-reviews .item {
    margin: 0 0 7px;
    padding: 4px;
}

.desserts .pagenation {
    margin: 0;
}

.desserts .link {
    display: flex;
    justify-content: center;
    margin: 0 0 30px;
}

.desserts .link li {
    margin: 0 30px 0;
}

.desserts .link li .image {
    padding: 14px;
    height: 190px;
    width: 240px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desserts .link li.active .image {
    background-image: -moz-linear-gradient(1deg, rgb(64, 34, 181) 0%, rgb(167, 95, 214) 100%);
    background-image: -webkit-linear-gradient(1deg, rgb(64, 34, 181) 0%, rgb(167, 95, 214) 100%);
    background-image: -ms-linear-gradient(1deg, rgb(64, 34, 181) 0%, rgb(167, 95, 214) 100%);
}

.desserts .link li .image img {
    max-width: 90px;
}

.desserts .link li.active h2 {
    background-image: -moz-linear-gradient(1deg, rgb(167, 95, 214) 0%, rgb(64, 34, 181) 100%);
    background-image: -webkit-linear-gradient(1deg, rgb(167, 95, 214) 0%, rgb(64, 34, 181) 100%);
    background-image: -ms-linear-gradient(1deg, rgb(167, 95, 214) 0%, rgb(64, 34, 181) 100%);
    padding: 6px;
}

.desserts .link li.active h2 a {
    color: white;
}

.desserts .link li h2 a {
    color: black;
}

.desserts .link li h2 {
    background: #e8e1f6;
    padding: 6px;
    font-size: 21px;
}

.item-style {
    display: flex;
    border: 1px solid #333;
    padding: 10px;
    margin: 0 0 30px;
}

.item-style .tump {
    flex: 0 0 130px;
    width: 130px;
    margin-right: 10px;
}

.item-style .tump img {
    height: 110px;
    width: 100%;
}

.item-style .caption > a {
    color: #272727;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 1px;
    display: block;
}

.item-style .caption > p {
    font-size: 13px;
    color: #8e8e8e;
    min-height: 56px;
}

.item-style .flex-end .price {
    color: #9453d0;
    font-weight: 700;
}

.item-style .flex-end {
    margin: 9px 0 0;
    align-items: center;
}

.item-style .flex-end a {
    background: #68dadd;
    color: white;
    padding: 5px;
    display: block;
    margin-right: -10px;
    margin-bottom: -10px;
    border-radius: 14px 0px 0px 0;
}

.desserts .item-cat a p {
    background-color: #e8e1f6;
    text-align: center;
    padding: 8px 0;
    color: black;
}

.desserts .item-cat a img {
    width: 100%;
    height: 110px;
}

.desserts .item-cat:hover a p {
    background: #9453d0;
    color: white;
}

.item-kosha {
    margin: 0 0 20px;
    border: 1px solid #333;
    padding: 15px;
}

.item-kosha .image img {
    width: 100%;
    height: 200px;
}

.item-kosha .caption {
    position: relative;
    text-align: center;
}

.item-kosha .caption h2.fw-700 {
    font-size: 18px;
    margin: 5px 0 5px;
}

.item-kosha .caption p.price {
    font-size: 15px;
    color: #9453d0;
    margin: 10px 0 0;
}

.item-kosha .caption a.remove {
    color: red;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 21px;
}

.kosha h3 {
    font-weight: bold;
    font-size: 19px;
    margin: 0 0 10px;
}

.title-in-img a {
    position: relative;
    display: block;
    overflow: hidden;
    height: 150px;
}

.title-in-img a p {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba(111, 61, 197, 0.62) !important;
    color: white !important;
    transform: translateX(-100%);
    transition: .4s;
}

.title-in-img:hover a p {
    transform: translateX(0);
}

.title-in-img a img {
    height: 100% !important;
    object-fit: cover;
}

.slide-cats2 .owl-nav > button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slide-cats2 {
    margin: 0 0 40px;
}

.slide-cats2 .owl-nav > button > i {
    font-size: 35px;
}

.slide-cats2 .owl-nav > button.owl-prev {
    right: -20px;
}

.slide-cats2 .owl-nav > button.owl-next {
    left: -20px;
}

#carousel {
    width: 800px;
    height: 390px;
    margin: auto;
    margin-top: 50px;
}

#carousel img {
    visibility: hidden;
    /* hide images until carousel prepares them */
    cursor: pointer;
    /* not needed if you wrap carousel items in links */
}

.koha-ready .box {
    min-height: auto;
}

.koha-ready ul.list-unstyled {
    line-height: 2;
    font-weight: 700;
}

.koha-ready ul.list-unstyled li input {
    width: 130px;
    border: 1px solid #ccc;
}

.koha-ready a {
    display: block;
    text-align: center;
    color: #5b31bd;
}

.koha-ready a.addtocart {
    background: #9976d5;
    margin: 10px 0 0;
    padding: 11px;
    color: white;
}

.koha-ready a.addtocart:hover {
    background-color: #5b31bd;
}

ul.list-unstyled.items li > div {
    display: flex;
    align-items: center;
}

ul.list-unstyled.items li > div .img {
    width: 100px;
    flex: 0 0 100px;
}

ul.list-unstyled.items li > div .img img {
    width: 50px;
    height: 40px;
}

.koha-ready ul.list-unstyled li a {
    color: #333333;
}

.koha-ready ul.list-unstyled li {
    margin: 0 0 20px;
}

.image-ready img {
    width: 100%;
    height: 320px;
    margin: 0 0 10px;
    display: block;
}

.koha-ready .col-md-7 p {
    line-height: 2;
}

.koha-ready .col-md-7 input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 6px 0;
}

.koha-ready .col-md-7 .flex-input {
    display: flex;
    margin: 15px 0 15px;
    align-items: baseline;
}

.koha-ready .col-md-7 .flex-input label {
    margin-right: 10px;
}

.koha-ready .col-md-7 .flex-input input[type="number"] {
    width: 160px;
}

.koha-ready .col-md-7 p.fw-700 span {
    color: #5b31bd;
}

.price {
    font-weight: bold;
    color: #5b31bd;
}

p.price span.old {
    font-weight: 600;
    color: #bdbdbd;
    margin-right: 10px;
    text-decoration: line-through;
}

.col-md-4 .item-type img {
    width: 100%;
    height: 100px;
    display: block;
    margin: 0 0 20px;
}

.col-md-6 .item-type img {
    width: 100%;
    height: 200px;
}

.packages-item {
    display: flex;
    border: 1px solid #333;
    margin: 0 0 20px;
    padding: 15px;
}

.packages-item .img {
    width: 35%;
    flex: 0 0 35%;
    margin-right: 10px;
}

.packages-item .img img {
    height: 90px;
    width: 100%;
}

.packages-item .title p {
    margin: 0 0 4px;
    font-weight: 700;
}

.packages-item .title {
    position: relative;
    flex: 0 0 65%;
}

.packages-item .title a {
    color: red;
    position: absolute;
    right: 20px;
    bottom: 0;
}

.head-title {
    font-size: 18px;
    margin: 10px 0 11px;
    font-weight: 700;
}

.item-radio img {
    width: 100%;
    height: 80px;
}

.item-radio {
    text-align: center;
}

.carousel-owl img {
    width: 100%;
    height: 400px;
}

.carousel-owl .owl-nav > button {
    position: absolute;
    top: 185px;
}

.carousel-owl .owl-nav > button > i {
    font-size: 35px;
    color: white;
}

.carousel-owl .owl-nav > button.owl-prev {
    right: 10px;
}

.carousel-owl .owl-nav > button.owl-next {
    left: 10px;
}

.user-image img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.form input[type="submit"] {
    background: #6f3dc5;
    display: block;
    border: 0;
    color: white;
    padding: 11px 50px;
    margin: 20px 0 0;
}

.data i {
    position: absolute;
    right: 10px;
    top: 34px;
    color: #afafaf;
    font-size: 20px;
}

.form-group.data {
    position: relative;
}

header.home-page {
    background-image: -moz-linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
    min-height: auto;
}



nav.navbar.navbar-default {
    background-image: -moz-linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
    min-height: auto;
    border: 0;
    border-radius: 0;
    padding: 30px 0;
    margin: 0;
}

.navbar-brand > img {
    max-width: 70px;
}

.navbar-brand {
    padding: 0;
    padding-right: 20px;
}

nav.navbar.navbar-default .navbar-right img {
    max-width: 20px;
}

nav.navbar.navbar-default .navbar-right a {
    color: #fff;
}

nav.navbar.navbar-default .navbar-right a.joinnow {
    background: #a75ed8;
    display: block;
    font-size: 16px;
    padding: 6px 20px;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    background: #909090;
    color: white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background: 0;
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-nav li > span {
    position: relative;
    display: block;
    padding: 10px 15px;
    font-weight: bold;
}

/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
    margin-bottom: 1rem;
    width: 12.5%;
}

.navbar .dropdown-menu li a {
    color: black;
    padding: 2px 0;
}

.home-site h3 {
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 20px;
    color: #6a3ac2;
}

.home-site .box {
    margin: 0 0 30px;
}

.home-site .box .display-flex {
    display: flex;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
    flex-wrap: wrap;
}

.home-site .box .display-flex > div {
    width: 16.666666%;
    flex: 0 0 16.6666%;
    padding: 0 10px 0;
}

.home-site .box .display-flex > div .item {
    margin: 0;
    border-color: #6336c0;
    padding: 15px;
    text-align: center;
}

.home-site .box .display-flex > div .item a.img {
    display: block;
    margin: 0 auto 15px;
    height: 110px;
    width: 110px;
}

.home-site .box .display-flex > div .item a.img img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.home-site .box .display-flex > div .item a.tite {
    color: #a05bd5;
    font-weight: bold;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 767px) {

    /* remove the padding from the navbar so the dropdown hover state is not broken */
    .navbar {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
    .navbar .nav-item {
        padding: .5rem .5rem;
        margin: 0 .25rem;
    }


    /* makes the dropdown full width  */
    .navbar .dropdown {
        position: static;
    }


    .navbar .dropdown-menu {
        width: 100%;
        left: 0;
        right: 0;
        /*  height of nav-item  */
        top: 79px;
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s linear;
    }




    /* shows the dropdown menu on hover */
    .navbar .dropdown:hover .dropdown-menu,
    .navbar .dropdown .dropdown-menu:hover {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.3s linear;
    }

    .navbar .dropdown-menu {
        border: 1px solid rgba(0, 0, 0, .15);
        background-color: #ffffffa3;
    }

}

.slider-home {
    position: relative;
}

.slider-home form.search {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    z-index: 9;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 40px 40px;
}

.slider-home form.search > div {
    max-width: 24%;
    flex: 0 0 24%;
    position: relative;
    margin: 0 1% 0;
}

.slider-home form.search > div img {
    position: absolute;
    right: 0;
    top: 10px;
    max-width: 18px;
}

.slider-home form.search > div input,
.slider-home form.search > div select {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #000;
    padding: 6px 6px;
}

.slider-home form.search > div input[type="submit"] {
    border: 1px solid #3f2b99;
    background: 0;
    color: #6c3c97;
}

#Occasions .item-occasions {
    position: relative;
}

#Occasions .owl-nav > button {
    font-size: 40px;
    color: #a17ad8;
    margin: 0 10px 0;
}

#Occasions .owl-nav {
    display: flex;
    direction: rtl;
    justify-content: center;
}

img {}

#Occasions .item-occasions img {
    width: 100%;
    height: 300px;
}

#Occasions .item-occasions .title-caption {
    background-image: -webkit-linear-gradient(90deg, rgba(168, 95, 216, 0.46) 0%, rgba(66, 35, 180, 0.49) 100%);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    font-size: 20px;
    color: white;
    opacity: 0;
    transition: .5s;
}

#Occasions .item-occasions .title-caption p {
    opacity: 1;
}

#Occasions .item-occasions:hover .title-caption {
    opacity: 1;
}

.head-Occasions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px;
}

.head-Occasions h2 {
    font-size: 19px;
    font-weight: bold;
}

.head-Occasions a {
    color: #3e27b3;
    font-weight: bold;
    text-decoration: underline;
}

h2.head-cart {
    border-radius: 0 30px 30px 0;
    background-color: rgb(169, 96, 216);
    display: inline-block;
    padding: 10px 50px;
    margin: 30px 0 20px;
    font-size: 24px;
    color: white;
}

.cart .box .item-cart-01 {
    border-right: 1px solid #333;
}

.cart .box .item-cart-01 .tump {
    float: left;
    margin-right: 10px;
}

.cart .box .item-cart-01 .tump img {
    height: 150px;
    width: 170px;
}

.cart .box .item-cart-01 .cart {
    overflow: hidden;
}

.cart .box .item-cart-01 .cart h3 {
    font-size: 20px;
    margin: 0 0 10px;
    font-weight: 600;
}

.cart .box .item-cart-01 .cart h2 {
    margin: 10px 0 10px;
    font-size: 18px;
    font-weight: 600;
}

.cart .box .item-cart-01 .cart ul.services-cart li {
    display: flex;
    justify-content: space-between;
}

.cart .box .item-cart-01 .cart ul {
    max-width: 60%;
    margin-bottom: 20px;
}

.cart .box .item-cart-01 .cart ul.list-cart li {
    display: flex;
    justify-content: space-between;
}

.cart .box .list-ul-cart ul {
    line-height: 2;
}

.cart .box .list-ul-cart ul li {
    display: flex;
    justify-content: space-between;
}

.cart .box .list-ul-cart ul li span:nth-child(2),
.cart .box .list-ul-cart span.pay {
    color: #a960d8;
}

.cart .box .list-ul-cart a.remove {
    color: red;
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 20px;
}

a.planning {
    background: #68dadd;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 25px;
    color: white;
}

a.planning:hover,
.cart a.continue:hover {
    background-color: #00a0a5;
}

.cart .items-reviews .item .tump img {
    border-radius: 5px;
}


.cart .items-reviews .item input.quantity {
    display: inline-block;
    width: 110px;
}

.cart .items-reviews .item .caption {
    width: 100%;
}

.cart .items-reviews .item a.remove {
    color: red;
    font-size: 19px;
    display: inline-block;
    margin-left: 10px;
}

.cart .items-reviews .item .caption .row .col-md-6:nth-child(2) p {
    margin: 45px 0 -5px;
}

.cart .items-reviews .item .caption .row .col-md-6:nth-child(1) p.price,
.cart .items-reviews .item .caption .row .col-md-8:nth-child(1) p.price {
    text-align: left;
    font-weight: 100;
    margin: 0;
}

.cart .items-reviews .item .caption .row .col-md-4 a.remove {
    margin-top: 70px;
    display: block;
    text-align: right;
    margin-left: 0;
}

.cart .total {
    background: #3c1fb3;
    color: white;
    border-radius: 30px 0 0 30px;
    padding: 18px 40px;
    margin: 0 0 40px;
}

.cart a.continue {
    background-color: #68dadd;
    background: #68dadd;
    display: inline-block;
    padding: 11px 60px;
    border-radius: 25px;
    color: white;
    margin: 0 0 40px;
}

li.cart-count {
    position: relative;
}

li.cart-count span.count {
    background-color: #68dadd;
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    top: -4px;
    left: 10px;
}

.modal-header {
    background-image: -moz-linear-gradient(-90deg, rgb(63, 33, 181) 0%, rgb(159, 90, 213) 100%);
    background-image: -webkit-linear-gradient(-90deg, rgb(63, 33, 181) 0%, rgb(159, 90, 213) 100%);
    background-image: -ms-linear-gradient(-90deg, rgb(63, 33, 181) 0%, rgb(159, 90, 213) 100%);
    min-height: 160px;
    text-align: center;
    color: white;
}

.modal-header h4 {
    font-size: 37px;
    margin-top: 50px;
    font-weight: bold;
}

.modal-header .close {
    opacity: 1;
    text-shadow: none;
    color: white;
    font-size: 30px;
}

.modal-body .form-group {
    position: relative;
}

.modal-body .form-group .glyphicon {
    position: absolute;
    left: 10px;
    top: 43px;
    color: #737373;
}

.modal-body .form-group input {
    padding: 22px 30px;
    border-radius: 12px;
    box-shadow: 0px 1px 5px 0px rgba(132, 132, 132, 0.75);
}

.modal-body .pull-right a {
    color: #9151d0;
    font-size: 13px;
}

.modal-body .btn-default {
    background: #68dadd;
    border: 0;
    padding: 14px 0;
    width: 180px;
    margin: auto;
    border-radius: 10px;
    font-size: 17px;
}

.modal-body .or {
    position: relative;
    font-size: 12px;
    color: #c1c1c1;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.modal-body .or span {
    background-color: white;
    position: relative;
    z-index: 99;
    width: 30px;
    display: inline-block;
}

.modal-body .or:before {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 8px;
    left: 0;
    background-color: #dedede;
    z-index: 99;
}

a.login-google {
    box-shadow: 0px 1px 5px 0px rgba(132, 132, 132, 0.75);
    display: block;
    width: 320px;
    margin: 10px auto 30px;
    text-align: center;
    padding: 14px 0;
    color: dimgrey;
    letter-spacing: 1px;
    border-radius: 10px;
}

a.login-google img {
    max-width: 22px;
}

.modal-body p {
    text-align: center;
    font-size: 13px;
}

.modal-body p a {
    color: #9654d2;
}

span.menu-down {
    background-color: #d8d8d8;
    position: absolute;
    top: 27px;
    width: 65px;
    padding-left: 10px;
    height: 45px;
    border-radius: 13px 0 0 13px;
    line-height: 45px;
}

span.menu-down .glyphicon {
    position: static !important;
    font-size: 12px;
    display: none;
}

@media only screen and (max-width : 480px) {
    header {
        min-height: 70px;
        background-image: -moz-linear-gradient(1deg, rgb(167, 95, 214) 0%, rgb(64, 34, 181) 100%);
        background-image: -webkit-linear-gradient(1deg, rgb(167, 95, 214) 0%, rgb(64, 34, 181) 100%);
        background-image: -ms-linear-gradient(1deg, rgb(167, 95, 214) 0%, rgb(64, 34, 181) 100%);
    }

    footer .link-footer {
        flex-wrap: wrap;
    }

    header .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    header .row .col-md-2 {
        max-width: 30%;
        flex: 0 0 30%;
        order: 1;
    }

    header .logo img {
        max-width: 100%;
    }

    header .row .col-md-7 {
        max-width: 100%;
        flex: 0 0 100%;
        order: 3;
    }

    header .row .col-md-3 {
        max-width: 70%;
        flex: 0 0 70%;
        order: 2;
        text-align: right;
    }

    header .list-link {
        margin: 0;
    }

    .page-header .row .col-md-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .page-header .row {
        display: flex;
    }

    .page-header form select {
        width: 100%;
    }

    .slide-pages .item img {
        height: 170px;
    }

    footer .link-footer li {
        max-width: 50%;
        flex: 0 0 50%;
    }

    footer .link-footer li a:before {
        content: none;
    }

    footer .link-footer li a {
        font-size: 14px;
    }

    footer {
        background-color: #4726b6;
        padding: 15px;
    }

    nav.navbar.navbar-inverse {
        margin: 0;
    }

    .page-header .logo-title h2 {
        font-size: 18px;
    }

    footer img.safe {
        display: block;
        margin: 0 auto 30px;
    }

    footer .dis-flex {
        justify-content: space-evenly;
    }


    footer .row > div {
        margin: 0 0 20px;
    }

    .navbar .dropdown-menu div[class*="col"] {
        width: 100%;
    }

    .home-site .box .display-flex > div {
        width: 50%;
        flex: 0 0 50%;
        margin: 0 0 20px;
    }

    .home-site .box .display-flex > div .item a.tite {
        font-size: 14px;
    }

    .slider-home form.search {
        width: 100%;
        position: static;
        transform: translate(0);
        padding: 15px;
        margin: 0 0 40px;
        flex-wrap: wrap;
    }

    .slider-home form.search > div {
        max-width: 48%;
        flex: 0 0 48%;
        margin: 0 1% 20px;
    }

    #Occasions .item-occasions img {
        height: 150px;
    }

    .navbar .dropdown-menu li a,
    .navbar-nav li > span {
        color: white;
    }
}
