body{background-color: #f8f8f8;}
.navbar-header {    float: none;}
#top .navbar{right: auto; left: 0; border:none; max-width: 80%; padding-right: 30px;}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th{ text-align:right;}
.pagination{ margin: 0 20px;}
.x_content.CategoryManagementList .btn-default{ float: left !important; margin-right: 0px !important; margin-left: 12px !important; background: #dfe7e9; border-color: #dfe7e9;}
.x_content.CategoryManagementList .btn-default:hover{color: #000000 !important;}
.right-side-bar .back-btn-area{ max-width: 100px; float: left;}
/*.right-side-bar .title-block h3{ max-width:853px;}*/
.btn{font-weight: normal;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer; font-family: verdana;}

.btn-primary{background-color: #c09e9d;border-color: #c09e9d;border-radius: 0;
padding: 6px 18px 3px 18px; font-size: 18px;font-family: 'MORVA';font-weight: normal; font-style: normal;letter-spacing: 1px; text-transform: uppercase;letter-spacing:0;}

.btn-success{background-color: #c09e9d;border-color: #c09e9d;border-radius: 0;
padding: 6px 18px 3px 18px; font-size: 18px;font-family: 'MORVA';font-weight: normal; font-style: normal;letter-spacing: 1px; text-transform: uppercase;letter-spacing:0;}

.btn-default {
    color: #333333;
    background-color: #ffffff;
   
	font-size: 13px;
font-weight: normal;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: #cccccc solid 1px;
	border-radius: 4px; font-family: verdana;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{background-color: #94aeb3;border-color: #94aeb3; color: #ffffff;}
.theme-default-btn {
    display: inline-block;
    padding: 7px 8px;
    color: #000;
    background: #dfe7e9;
    margin-right: 4px !important;
    transition: background .3s;
    border: #95aeb3 solid 1px;
    text-decoration: none;
    border-radius: 0;
    font-size: 12px;
    text-transform: uppercase;
}


.btn-success:hover, .btn-success:focus{background-color: #94aeb3;border-color: #94aeb3;}


.btn, .buttons, .modal-footer .btn + .btn, button{margin-right: 0px; margin-left: 5px;  margin-bottom: 5px;}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{ padding-left:8px; padding-right:8px;}

.english-sec input[type="file"] { margin-right:0;  margin-left: auto;}
.english-sec .col-md-offset-1, .arabic_sec .col-md-offset-1 {margin-right: 10.333%; margin-left:auto;}

.form-horizontal.form-section .form-group label { padding-left: 15px; text-align: left;padding-right: 0px;}
.form-horizontal.form-section .form-group .required{/*font-size: 16px;*/ left: 0;} 

.navbar-top-links li:last-child{ margin-right: 0 !important; margin-left: 15px !important; }
#Language_change{padding:6px 8px 6px 8px; margin-bottom:0; border-radius: 0px;}
.sale_butn_marg{margin-right: 0; margin-left: 13px;}

.broadcast-btn{ background: #c09e9d; border: 1px solid #c09e9d;color: #FFFFFF; border-radius: 0px; margin-right:0;float:left; margin-left:0;}

.right-side-bar .title-block{ float:right;}
.view-userDetails{float: left; width: calc(100% - 70%); text-align: left;}
.userImage{ float:left; margin-right: 10px;}
.userImage figure{padding-left:0px; padding-right:0px;}
.view-userDetails{width: calc(100% - 25%);}
.panel-default > .heading-2{background: #95aeb3;border-color: #95aeb3; color:#FFFFFF;}
.box header h5{ text-align:left;}
.box header .icons{ float: right; border-left: 1px solid #ddd; border-right:none; box-shadow: 0px 0px 1px #ffffff;}
.right-side-bar .arabic-right-align{ position:relative; width:100%; }
.right-side-bar .arabic-right-align h3{float: right;  padding-right: 0px; padding-left: 10px;}
.controladmin .text-left{text-align: right !important;}
.userImage.marBotm .back-btn{float: left;}
.right-side-bar .title-block.minus-mar-left { margin-left: 0px;	margin-right: -15px;}
.relative-td tr td .label-danger{right: auto; left: 2%;}
.box.arabic-right-align_box header h5{text-align: right;}

.datepicker-dropdown.dropdown-menu{ right:auto; margin-left: 70px;}
.datepicker-dropdown.datepicker-orient-left::before {left: auto; right: 6px;}
.datepicker-dropdown.datepicker-orient-left::after { left: auto; right: 7px;}
.form-horizontal .custom-file .custom-file-upload{ padding-left:0; text-align:right !important;}
.form-horizontal .custom-file .custom-file-upload .browse-text{ margin-right: 0; margin-left: 5px;}
.form-horizontal.form-section .form-group.gender .gender-name{padding-right: 10px;}

.right-side-bar .paddzero .paddleftright li{padding-right: 15px; padding-left: 0;}
.UsersList .theme-default-btn{float: left; margin-left:0;}
.msg.alert-dismissable{padding-right: 15px; padding-left: 15px;}
.msg.alert-dismissable .close{right: auto; left:0;}
.setting_content_area .back-btn-area{ padding-left:8px; padding-right:0px;}
.view-delete i{ margin-left:10px;  margin-right:0;}
.view-delete{margin-left:0px !important;}