input, select{box-shadow:none!important;-webkit-box-shadow:none!important;-moz-box-shadow:none!important; border-radius:0px!important;-webkit-border-radius:0px!important;-moz-border-radius:0px!important;}
body{font-size:11pt; line-height:25px;}
input:focus, textarea:focus{outline:none!important}
input{focus:none!important; outline:none!important}
input[type="submit"], input[type="button"], input[type="search"], button{background-color:#c09e9d; border:1px solid transparent; transition:all 0.5s ease-in-out; font-size:17pt; text-align:center; display:inline-block; color:#fff; padding:12px 65px 9px 65px; font-family:'morva';}
input[type="submit"]:hover, input[type="button"]:hover, input[type="search"]:hover, button:hover{background-color:#d8b8b7!important; border-color:#c09e9d; color:#fff}
input[type="submit"].applu_bts:hover{background-color:transparent!important}
textarea{border: 1px solid #a69373;width: 100%;float: left;background: #fff;margin: 0px 0px 0px 0px;padding: 6px 10px;line-height:25px;font-size: 10.5pt;color: #737373; resize:none; height:100px; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;appearance:none; border-radius:0}
input[type="text"], input[type="email"], input[type="number"], input[type="password"], input[type="url"]{border: 1px solid #a69373;width: 100%;float: left;background: #fff;margin: 0px 0px 0px 0px;padding: 0px 10px;height: 40px;line-height: 38px;font-size: 10.5pt;color: #9a9a8c;  -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;appearance:none; }
input[type="submit"].form-btn, .form-btn{margin:0px; padding:0px 10px; line-height:38px; background:#d8e1e3; border:1px solid #94aeb3; color:#000000; font-size:12pt; font-weight:bold; text-transform:uppercase; font-family: "Raleway",sans-serif; display:inline-block; transition:all 0.5s ease-in-out}
.form-btn:hover, input[type="submit"].form-btn:hover{background-color:transparent!important}
select{background:url("../img/search-select-arrow.png") no-repeat; background-color:#fff; background-repeat:no-repeat; background-position:right 10px bottom 45%; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;appearance:none; width:100%;border:1px solid #a69373; width:100%; float:left; margin:0px 0px 0px 0px; padding:0px 32px 0 7px; height:40px; line-height:38px; color:#737373}
select::-ms-expand{display:none;}
.common_btn{border:1px solid #94aeb3!important; color:#000!important; background-color:#d3dddf!important; padding:6px 8px 7px !important; font-family: "Raleway",sans-serif!important; font-size:12pt!important; font-weight:700!important}
.error{color:#f00; font-size:9.5pt; clear:both; display:block; line-height:17px; padding-top:5px; float:left; width:100%}
.sidenav a.active{color:#94aeb3}
img{max-width:100%; height:auto}
.alert.alert-info{ -webkit-transition-duration: 5s; /* Safari */    transition-duration: 5s;background-color:transparent !important;color:#048b0b;font-size: 12pt;font-weight: 600;text-align: center; margin:0px 0 0 0!important; border:0px; opacity:1!important; padding:20px 0 0 0!important; clear:both}
.rtl select{direction:rtl}
.posrel{position:relative;}
.small-sels{ width:150px!important;}

/* Input type radi and checkbox button */
input[type="radio"]:not(old) {
margin: 0;
opacity: 0;
padding: 0;
position: absolute;
width: 28px;
}
input[type="radio"]:not(old) + label {
background: rgba(0, 0, 0, 0) url("../img/unchecked-radio-button.png") no-repeat scroll 0 1px;
cursor: pointer;
display: inline-block;
margin-left: 0;
padding-bottom: 2px;
padding-left: 28px; height:28px
}
input[type="radio"]:checked:not(old) + label {
background: rgba(0, 0, 0, 0) url("../img/checked-radio-button.png") no-repeat scroll 0 1px; height:28px
}
input[type="checkbox"]:not(old) {
margin: 0;
opacity: 0;
padding: 0;
position: absolute;
width: 20px;
}
input[type="checkbox"]:not(old) + label {
background: rgba(0, 0, 0, 0) url("../img/uncheck-box.png") no-repeat scroll 0 2px;
cursor: pointer;
display: inline-block;
margin-left: 0;
min-height: 21px;
padding-left: 28px;
}
input[type="checkbox"]:checked:not(old) + label {
background: rgba(0, 0, 0, 0) url("../img/checkbox.png") no-repeat scroll 0 2px;
}


/* Browse Button Start */
.input-file-area{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px 90px 0 0;  position:relative}
.input-file-area label{width:100%; margin:0px; display:block}
.file-btn-area{float: left; width: 100%;}
.file-btn {background: #dfe7e9 none repeat scroll 0 0; border: 1px solid #94aeb3;color: #000;cursor: pointer;float: right;font-size: 12pt;font-weight: 700;height: 42px;line-height: 42px;text-align: center;text-transform: uppercase;width: 83px; position:absolute; top:0; right:0px; transition:all 0.5s ease-in-out}
.file-btn:hover{background-color:transparent!important}
.file-value {background:#fff; border: 1px solid #a69373; color: #404040; cursor: pointer; float: left; font-size: 10.5pt; height: 42px; line-height: 38px; margin: 0; overflow: hidden; padding: 0 10px 0 10px; width: 100%;}
.info-file{float:left;  height: 0.1px;   opacity: 0;    overflow: hidden;    position: absolute;    width: 0.1px;    z-index: -1;}
/* Browse Button End */

.inp_price{max-width:205px; width:100%}
.remove_btn{width:100%; clear:both;}
#add_freeservices .form_row_left{width:100%}
.add_row_wrap .form_row_left, .add_row_wrap .form_row_left{width:100%}
.add_row_wrap .remove_btn{position: absolute;right: 0;top:-3px;width: 22px;z-index: 999999;}
.addbtn{margin-bottom:50px;}
.add_row_wrap{clear: both;overflow: hidden;padding-top:30px; padding-bottom:20px; position: relative;width: 100%;}
.add_row_wrap.addrow_service{padding-top:0px; padding-bottom:0px;}
.overlay, .overlay_popup{background-color:rgba(0,0,0,0.5); position:fixed; z-index:99; left:0px; top:0px; width:100%; height:100%; display:none}

/* Menu List Page */
.search_row{width:100%; clear:both; overflow:hidden; padding-bottom:20px; padding-top:10px}
.search_row .search_col2{display:block;width:50%; float:left}
.search_row .search_colbtn{display:block;width:49%; float:left; margin-left:5px}
.search_row .search_colbtn .applu_bts{display:inline-block; width:auto}
.search_row .search_col2 input{float:left; display:block;width:48%; margin-left:2%}
.search_row .search_col2 input:first-child{margin-left:0%}

.table_wrap{width:100%; float:left; margin-top:30px;}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{background-color:#94aeb3!important; border-color:#94aeb3!important; color:#fff!important}
.pagination > li > a, .pagination > li > span{color:#121212!important}
.pagination > li > a, .pagination > li > span{border-color:#dddddd!important}
.pagination{float:right; margin-bottom:0px;}
.status_active{background:url('../img/active.png') no-repeat top left;color: #4abd5d;padding-left: 22px;height: 21px!important;display: inline-block;line-height: 17px;cursor:pointer;}
.remove_btn a{position:absolute; right:0px;top:5px}
.status_deactive{background:url('../img/deactive.png') no-repeat top left; color:#e42525;padding-left:22px;height: 21px!important;display: inline-block;line-height: 17px; cursor:pointer}
.lang_tab{width:100%;}
.right_panel .arabic_tab{padding:9px 15px; border:1px solid transparent; cursor:pointer}
.right_panel .english_tab{padding:9px 15px; cursor:pointer;border:1px solid transparent}
.english_tab{display:inline-block; font-weight:600}
.right_panel span.english_tab.active, .right_panel span.arabic_tab.active{color:#95aeb3!important; background-color:transparent!important;border:1px solid #dee4e6;}
.arabic_tab{margin-left:8px;}
.english_tab{display:inline-block; padding-right:10px; font-weight:600}
.lang_tab .active{color:#c09e9d!important}
.arabic_tab{padding-left:10px; display:inline-block; font-weight:600}
.navbar-fixed-top{z-index:0}

/* action_popup */
.action_popup{padding:0;background-color:#fff;border:1px solid #dce3e5;position:fixed;top:50%;left:50%; transform:translate(-50%,-50%); z-index:999; margin-top:-100px; width:350px; height:auto; box-shadow:1px 2px 7px -2px rgba(0,0,0,0.5); display:none; padding:0px}
.action_popup_title{position:relative; background-color:#94aeb3; padding:10px; text-align:center; color:#fff; font-size:16pt; font-weight:600;}
.action_content{font-size:14pt; text-align:center; padding:30px 15px 0 15px; line-height:29px;}
.action_active_popup{width:100%;}
.action_btnrow{width:100%; padding-top:30px; text-align:right; padding-bottom:30px; padding-right:10px; overflow:hidden}
.action_btnrow a{display:inline-block; margin:0 10px; padding:7px 15px; font-weight:600}
.action_yes{ background-color: #c09e9d;border-radius: 3px;color: #fff;font-size: 12pt;padding: 8px 35px !important;border:1px solid #c09e9d}
.action_yes:hover{background-color:transparent; border-color:#737373; color:#737373}
.action_no{color:#737373; font-size:12pt; border:1px solid #737373; background-color:transparent;border-radius: 3px;}
.action_no:hover{ background-color: #c09e9d;color: #fff;font-size: 12pt; border-color:#c09e9d}
.filter_left{width:50%; float:left; max-width:362px}
.search_box{float:right; width:50%;}
.rtl .action_btnrow a{float:right}

/* Filter */
.filter_mobile{background: #d3dddf url("../img/filter.png") no-repeat scroll right 7px bottom 8px;border: 1px solid #94aeb3 !important;color: #000;font-size: 13.5pt;font-weight: 600;margin-bottom: 3px;
padding: 8px 40px 10px 12px;text-align: left; display:none}
.filter_area{display:block}
.form-horizontal{position:relative; clear:both}
.merchant_overlay{background-color:rgba(0,0,0,0.5); position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:9; display:none}
.zip{ width:100px!important;}
.form_row_left select, .form_row_right select {-moz-appearance: none;background: #fff url("../img/search-select-arrow.png") no-repeat scroll right 6px bottom 44%;border: 1px solid #a69373;color: #636363;
font-size: 10.5pt;font-weight: 400;height: 40px;line-height: 38px;padding-left: 2px;padding-right: 35px;width: 100%; cursor:pointer;}
.container_row{margin-bottom: 25px; width: 100%; clear: both; float:left;}
.container_row:first-child{padding-top:10px;}
.container_row:last-child{margin-bottom:0px}
.label_fl{min-width: 45px; float: left; margin-top: 5px; padding-right:10px}
.input_flr{max-width: 120px; float: left}
.tooltip_area_wrap, .address_image_tooltip{background:rgba(0, 0, 0, 0) url("../img/info-icon.png") no-repeat scroll 0 0;display:inline-block;height:20px;margin-left:5px!important;position:relative;vertical-align:middle;width:20px;}
.tooltip_area_wrap .tooltip_div, .address_image_tooltip .add_img_tooltip{width: 220px; opacity:1; max-width:220px; line-height:21px}
.address_image_tooltip .add_img_tooltip{text-align:center}
.tooltip_area_wrap .tooltip_div, .address_image_tooltip .add_img_tooltip{background-color: #fff;border: 1px solid #a69373;border-radius: 3px;bottom:28px;box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.5);color: #737373;font-size: 10pt;height: auto;left: -102px;line-height: 18px;display:none;opacity:1;padding: 10px 9px;position: absolute;top: auto;transition: all 0.5s ease-in-out 0s;z-index: 98; font-weight:500}
.tooltip_area_wrap:hover .tooltip_div, .address_image_tooltip:hover .add_img_tooltip{display:block}
.tooltip_area_wrap .tooltip_div::before, .address_image_tooltip .add_img_tooltip::before{border-color: #fff transparent transparent;border-style: solid;border-width: 10px;bottom: -19px;content: "";height: 10px;left: 100px;position: absolute;z-index: 999;}
.tooltip_area_wrap .tooltip_div::after, .address_image_tooltip .add_img_tooltip::after {border-color: #a69373 transparent transparent;border-style: solid;border-width: 10px;bottom: -20px;content: "";height: 10px;left: 100px;position: absolute;}
.msg_img_replace{font-size:10pt; color:#aaaaaa}
.pdf_msg{font-size:10pt; color:#aaaaaa; clear:both;}
.pdf_icon{display:inline-block; margin-top:10px; color:#aaaaaa;font-size:10pt;font-size:10pt;}
.pdf_icon span{display:inline-block; padding-left:5px;}
.alert-info{background-color: transparent;clear: both;color: #9a6f6f;font-size: 12pt;font-weight: 600;padding-top: 15px;text-align: center;width: 100%;}
.arabic .pdf_icon span{padding-right:5px;}

/* Review Rating Css */
.containerdiv {border: 0;float: left;position: relative;width: 100px;} 
.cornerimage {border: 0;position: absolute;top: 0;left: 0;overflow: hidden;} 
.cornerimage img{max-width: 100px;}

/* Header Navigation */
.nav.navbar-nav li{position:relative}
.nav.navbar-nav li ul.submenu{ background-color: #94aeb3;left: 0;min-width: 170px;padding: 10px;position: absolute;top: 50px;width: auto !important;z-index: 1;transition:all 0.5s ease-in-out; display:none}
.nav.navbar-nav li:hover ul.submenu{display:block;}
.nav.navbar-nav li ul.submenu li{float:left; width:100%; color:#fff; text-align:left; padding-bottom:5px; list-style-type:none; clear:both}
.nav.navbar-nav li ul.submenu li a{width:100%; color:#fff; display:block}
.nav.navbar-nav li ul.submenu li a:hover{color:#333333}
.sidenav a:hover{color:#c5b69c!important}

/* Arabic */
.rtl .cal-t.hasDatepicker{padding-left:45px;}
.rtl .form_row{text-align:right}
.rtl .one-call-form{float:right}
.rtl .tab_area{text-align:right}
.rtl .global_head{text-align:right;float:right!important}
.rtl .box{float:right; text-align:right}
.rtl .hall-top-form{float:right;}
.rtl .imgpics-box{float:right; margin:0 0% 20px 2%}
.rtl .imgpics-box:nth-child(4n){margin-left:0px;}
.rtl .input-file-area #remove_button{left:-35px; right:auto}
.rtl .label_fl{float: right;}
.rtl .input_flr{float: right;}
.rtl .form_label.posrel .arabic{float:right}
.rtl .tooltip_area_wrap, .rtl .address_image_tooltip{float:right; margin-right:5px;}
/*.rtl .arabic{float:right; padding-left:5px;}*/
.rtl .address_image_tooltip{float:right; margin-right:5px;}
.rtl .videopic_label{float:right}
.rtl .arabic_left{float:right!important}
.rtl .arabic-ltr .arabic_left{float:left!important}
.rtl .filter_left{float:right}
.rtl .filter_left .search-box-field.mems{float:right}
.rtl .search_box{float:left}
.rtl .search_box .filter_right{float:left}
.rtl.mainrtl .worker_row{text-align:right}
.rtl.mainrtl .worker_row span{float:right}
.rtl.mainrtl .worker_row .worker_name{margin-top:30px; padding-left:0px; padding-right:20px;}
.rtl.mainrtl .left_panel{left:10px; right:auto}
.rtl .address_image_tooltip{ float:right;}


.arabic-ltr .label_fl {float: left;}
.arabic-ltr .input_flr {float: left;}
.error.arabiclang{padding-top:0px!important}
#img_upload .input-file-area{width:100%; float:left; margin-top:20px; clear:both}
.rtl .arabic-ltr .form-upload-img{text-align:left}
.info100 label{padding-bottom:0px!important; margin-bottom:0px!important;}
.ms-choice{font-family:"Raleway",sans-serif; color:#737373!important; font-size:11pt;}
.ms-choice:hover{background-color:transparent!important}
.tooltip_icon .save-card-line label{}
.tooltip_area{background: rgba(0, 0, 0, 0) url("../img/info-icon.png") no-repeat scroll 0 0;display: inline-block;height: 20px;margin-left: 5px !important;position: relative;vertical-align: middle;width: 20px;}

/*.tooltip_div{background-color: #fff;border: 1px solid #a69373;border-radius: 3px;box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.5);color: #737373;font-size: 10pt;height: auto;left: -75px;line-height: 18px;max-width: 150px;padding: 7px;position: absolute;top: -36px;width:150px;  transition:all 0.5s ease-in-out; display:none}
*/

.tooltip_div {background-color: #fff;border: 1px solid #a69373;border-radius: 3px;bottom: 27px;box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.5);color: #737373;display: none;font-size: 10pt;height: auto;left: -65px;line-height: 18px;max-width: 150px;padding: 7px;
position: absolute;transition: all 0.5s ease-in-out 0s;width: 150px;}
.tooltip_area:hover .tooltip_div{display:block}
.review_name{display:block; width:100%; clear:both; padding-bottom:5px}
.button_area .btn{letter-spacing:3px}
.worker_row{width:100%; clear:both; overflow:hidden; padding-top:20px}
.worker_row span{display:inline-block; vertical-align:middle; color:#94aeb3; font-weight:600}
.worker_row .worker_name{padding-left:20px;}
.worker_row .worker_img img{ height:100px; width:100px; border-radius:100%; overflow:hidden}
.marb0{margin-bottom:0px!important}
.rtl .posrel .arabic_txt{float:right; padding-left:5px}
.download_pdf{color: #95aeb3;display: inline-block;margin-top: 5px;text-decoration: underline;}
.main-underscore{text-decoration:underline!important}
.xs_small{width:100%; max-width:150px}
.pdf_icon a span{color:#737373; font-size:10pt;}
.arabic .pdf_icon{ margin-bottom:20px;}


/* Arabic Language Final */
.rtl .form_row_right.arabic{text-align:right}
.rtl .arabic .form_row_right{float:left}
.mainrtl .form_row_left.english{text-align:left}
.mainrtl.rtl .form_row_left.arbic_right_btn, .mainrtl.rtl .form_row_right.arbic_right_btn{float:right}
.mainrtl.rtl .tooltip_area{background-position: 1px 5px;float: left !important;height: 25px;width: 30px;}
.tooltip_icon .tooltip_div:before{content:'';position:absolute;bottom:-20px;left:50%;margin-left:-10px;border-color:#a69373 transparent transparent transparent; border-width:10px; border-style:solid; z-index:2}
.tooltip_icon .tooltip_div:after{content:'';position:absolute; bottom:-20px; left:50%; margin-left:-10px; border-color:#fff transparent transparent transparent; border-width:10px; border-style:solid; z-index:3}
.mainrtl .breadcrumb{text-align:right}
.mainrtl .breadcrumb a:first-child{float:right}
.mainrtl .breadcrumb .breadcrumb-divder{float:right; transform:rotate(180deg)}
/*form .form_row:last-child, form .form_row:nth-last-child(2){padding-bottom:0px}*/

.rtl .form_row_left{float:right}
.rtl.mainrtl .form_row_left{float:left}
.rtl input[type="text"], .rtl input[type="email"], .rtl input[type="number"], .rtl input[type="password"], .rtl input[type="url"]{text-align:right}
.box form{max-width:477px !important; width:100%; padding:20px 30px 0; float:left}
.box.rtl form{float:right}
.box.arabic-ltr form{float:left}
.mainrtl .form_opening{float:right}
.rtl .perarea{float:right; text-align:right; width:50%}
.proessional_bio{clear:both; margin-bottom:10px; overflow:hidden; padding-top:15px}
.arabic-ltr .error{text-align:left}
.change_psw_page .global_head{ float: none;max-width: 486px;text-align: center;width: 100%;}
.change_psw_page .box{clear:both; overflow:hidden; float:none}
.mainrtl .arabic-ltr .error{text-align:left!important}

/* Status Tooltip */
.status_active2{position:relative}
.status_tooltip{background-color: #fff;border: 1px solid #a69373;border-radius: 3px;bottom: 28px;box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.5);color: #737373;display: none;font-size: 10pt;font-weight: 500;
height: auto;left:-37px;line-height: 18px;padding: 10px 9px;position: absolute;top: auto;transition: all 0.5s ease-in-out 0s;z-index: 9999; width:160px}
.status_active2:hover .status_tooltip{display:block!important;}
.status_tooltip:before{border-color: #fff transparent transparent;border-style: solid;border-width: 10px;bottom: -19px;content: "";height: 10px;left:72px;position: absolute;z-index: 999;}
.status_tooltip:after{border-color: #a69373 transparent transparent;border-style: solid;border-width: 10px;bottom: -20px;content: "";height: 10px;left:72px;position: absolute;}
.status_tooltip span{font-size:11pt; text-align:center}
.dress_qunt{display: inline-block!important;width: auto!important;padding-left: 18px!important;}


/* Country code */
.country_row{position:relative;}
.country_row .info100{padding-left:60px} 
.country_row .countrycode{position:absolute; left:0px; width:100%; max-width:57px}
.meredit-ac .countrycode{ max-width:75px;}
.country_row .meredit-ac {padding-left: 74px;}
.mainrtl .country_row .meredit-ac {padding-left:0px;padding-right:74px;} 
.mainrtl .meredit-ac .countrycode{ right:0px; left:inherit;}


@media screen and (-webkit-min-device-pixel-ratio:0) { 
/* Safari and Chrome, if Chrome rule needed */
.form_row_left select, .form_row_right select{padding-left:6px!important; line-height:27px!important}

/* Safari 5+ ONLY */
::i-block-chrome, .row_left select, .row_right select {
padding-left:6px!important;line-height:27px!important
}

}

@media screen and (max-width:999px){
.filter_mobile{display:inline-block}
.filter_area .filter_left .search_filter, .filter_area .search_box .search_filter{display:none}	
.filter_area{ background-color: #f3f3f3;display:none;padding: 20px 15px;position: absolute;z-index: 999; max-width:500px; width:100%; left:50%; top:50%;  transform:translate(-50%,-35%)}
.search_box{width:100%;}
.filter_left{width:100%; margin-bottom:20px}
.mems{width:398px !important;}
.filter_right{width:100%; float:left; max-width:100%}
.hall_menu.menuright{top:13px}
.hall_riview.hall_menu{top:12px}
.studio-amount {width:100%!important; padding-right:0px!important; max-width:100%!important; margin-bottom:15px!important;}
.studio-date-box{ width:87%!important;}
.mainrtl .studio-amount {padding-left:0px!important;}
.global_head{float:left!important; width:auto!important}
.order-back-page{display:none;}
}

@media screen and (max-width:767px){
.search_row .search_col2{width:100%}
.search_row .search_colbtn{width:100%; margin-top:20px; margin-left:0px;}	
.studio-date-box {width: 86.5% !important;}
.mainrtl .studio-date-box {width: 84.5% !important;}
.rtl .posrel .address_image_tooltip .add_img_tooltip{width:130px!important; left:-60px}
.rtl .address_image_tooltip .add_img_tooltip::before{left:58px;}
.rtl .address_image_tooltip .add_img_tooltip::after{left:58px}

}

@media screen and (max-width:500px){
.search_col2 input{width:100%; margin-bottom:15px}
.search_col2 input:last-child{margin-bottom:0px}
.search_row .search_col2 input{width:100%; margin-left:0px}
.mems{max-width:367px !important; width:100%!important}
.hall_riview.hall_menu{top:16px}
.studio-date-box .applu_bts {right:0px!important;}
.studio-date-box{ width:100%!important; padding-right:0px!important;}
.mainrtl .studio-date-box .applu_bts{ left:0px!important; top:10px;}
.mainrtl .studio-date-box {width: 100% !important;}
.navbar-header{float:none; width:100%; text-align:center;}
.navbar-header a{float:none}
.add_row_wrap .remove_btn{top:-6px}

/* Chagnes */

.tooltip_area_wrap .tooltip_div, .address_image_tooltip .add_img_tooltip{max-width:160px; width:160px; left:-70px}
.tooltip_area_wrap .tooltip_div::before, .address_image_tooltip .add_img_tooltip::before{left:70px;}
.tooltip_area_wrap .tooltip_div::after, .address_image_tooltip .add_img_tooltip::after{left:70px}

.form_row_right.common_field .tooltip_area_wrap .tooltip_div, .form_row_right.common_field .address_image_tooltip .add_img_tooltip{max-width:220px; width:220px; left:-102px}
.form_row_right.common_field .tooltip_area_wrap .tooltip_div:before, .form_row_right.common_field .address_image_tooltip .add_img_tooltip:before{left:100px}
.form_row_right.common_field .tooltip_area_wrap .tooltip_div:after, .form_row_right.common_field .address_image_tooltip .add_img_tooltip:after{left:100px}


/*.rtl #img_upload{padding-left:0px!important}*/

}
