/* Start For Table */
.table {display: table; margin: 0px 0 0px 0; padding: 0px; width: 100%;}
.tr {background: none repeat scroll 0 0 #ffffff; display: table-row;}
.td {color:#636363; display: table-cell; font-size: 10.5pt; padding: 14px 15px; vertical-align: top; word-wrap:break-word; border-right: 1px solid #94aeb3; border-bottom:  1px solid #94aeb3; font-weight:500; text-align:left; }
.table_heading {background: #eeeeee;  border-right: 1px solid #94aeb3; color: #121212; display: table-cell; font-size: 12pt; font-weight: 500;  margin: 0;  padding: 14px 15px 13px; text-align:left;}
.table_heading:last-child{ border:none;}
.td:last-child{ border-right:none; }
.tr:last-child .td{ border-bottom:none;}
.table a{color:#9a6f6f; font-weight:600}

/* Start From Breadcrumb */
.breadcrumb{width:100%; float:left; width:100%; margin:-5px 0px 20px 0px; padding:0px;}
.breadcrumb span,.breadcrumb a{display: inline-block; font-size:10.5pt; color:#737373; }
.breadcrumb-divder{display: inline-block; margin:0 10px 0}
.breadcrumb a{text-decoration:underline}
.breadcrumb a:hover{text-decoration:none}
/* End From Breadcrumb */

/* End For Table */
.time-t {background-image: url("../img/watch.png")!important; background-position: right 10px bottom 45%!important; background-repeat: no-repeat!important; cursor: pointer!important;}
.no-record-area{width:100%; float:left; text-align:center; margin:0px; padding:100px 10px; font-size:12pt;}
header .filter_area{margin:5px 0 15px 0;}
.clear{clear:both}
.global_head{color:#94aeb3; font-size:20pt; font-weight:500; float:left;margin:0px; padding:0px; width:100%;}
.search_filter{color:#95aeb3; font-weight:600; font-size:13.5pt; margin-bottom:3px; text-align:left}
.imgpics-area{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px;}
.imgpics-box{width:32%; float:left; margin:0px 1.3% 20px 0px; padding:0px;}
.imgpics-box:nth-child(3n){margin-right:0px;}
.imgpics{width:100%; float:left; margin:0px 0 0px 0px; padding:0px; text-align:center; height:80px}
.imgpics img{max-height:80px;}
.imgpics-delet{width:100%; float:left; margin:10px 0 0px 0px; padding:0px; text-align:center}
.delet-icon{background:url(../img/delete-icon.png) no-repeat; width:16px; height:17px; display:inline-block}
.hall-video-section{width:100%; float:left; margin:0px 0px 20px 0px; padding:0px;}
.hall-video-label{width:100%; float:left; margin:0px 0px 5px 0px; padding:0px; font-weight:600; color:#95aeb3;}
.hall-video-form{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px 0px 0 0px; position:relative}
.hall-video-section input[type="submit"]{position:absolute; top:0; right:0px;}
.hall-video-area{width:100%; float:left; margin:0px 0px 0px 0px; padding:15px 0 0 0px;}
.hall-video-ifrem{width:100%; height:240px; border:0px;}
.hall-top-form{width:100%; float:left; margin:0px 0px 25px 0px; padding:0px; max-width:500px;}
.hall-top-form:last-child{margin-bottom:0px;}
.hall-top-form-label{width:100%; float:left; margin:0px 0px 5px 0px; padding:0px; font-weight:600; color:#95aeb3;}
.img-upload-line{width:100%; float:left; margin:10px 0px 0px 0px; padding:0px; } 
.img-upload-line #add_button{float:left; margin:0px 20px 0px 0px; padding:0px;}
.img-upload-line input[type="submit"]{font-family: "Raleway",sans-serif; font-size:12pt; text-transform:uppercase;  font-weight:bold; height:40px; padding:0 10px; line-height:38px;}
.input-file-area #remove_button{position: absolute; right: -35px; top: 10px;}
.addservices-row{width:100%; float:left; margin:0px 0px 20px 0px; padding:0px;}
.addservices-name{width:100%; float:left; margin:0px 0px 5px 0px; padding:0px; font-weight:600; color:#95aeb3;}
.addservices-cell{width:33.3%; float:left; margin:0px 0px 7px 0px; padding:0px 20px 0 0;}
.addservices-cell label{margin:0px;}
.add-more-link{float:right; margin:0px 0px 0px 0px; padding:0px 0 0 27px; color:#121212; font-size:10.5pt; font-weight:500; position:relative}
.add-more-link:before{background:url(../img/add.png) no-repeat; width:21px; height:21px; position:absolute; top:0; left:0px; content:''}
.table_wrap .panel-body{margin:0px;}
.one-call-form{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px; max-width:450px;}
.small-sel{width:250px!important;}
.listallbranch-table .td.td1{width:20%}
.listallbranch-table .td.td2{width:18%}
.listallbranch-table .td.td3{width:15%}
.listallbranch-table .td.td4{width:15%}
.listallbranch-table .td.td5{width:12%}
.listallbranch-table .td.td6{width:10%}
.listallbranch-table .td.td7{width:15%}

.hl-table .td.td1{width:20%}
.hl-table .td.td2{width:15%}
.hl-table .td.td3{width:13%}
.hl-table .td.td4{width:15%}
.hl-table .td.td5{width:15%}
.hl-table .td.td6{width:12%}
.hl-table .td.td7{width:10%}

.list-manager-table .td.td1{width:17%}
.list-manager-table .td.td2{width:17%}
.list-manager-table .td.td3{width:35%}
.list-manager-table .td.td4{width:16%}
.list-manager-table .td.td5{width:15%}
.hds{ float:left!important;}

.container-table .td.td1{width:20%}
.container-table .td.td2{width:15%}
.container-table .td.td3{width:10%}
.container-table .td.td4{width:8%}
.container-table .td.td5{width:25%}
.container-table .td.td6{width:12%}
.container-table .td.td7{width:10%}

.search-box-field.mems {position:relative; width:245px!important; float:left; margin:0px; padding:0 70px 0 0;}
.applu_bts{position:absolute; top:0px; right:0px; width:65px; text-align:center;}
.form-upload-img{width:100%; float:left; margin:10px 0px 0px 0px; padding:0px;}
.form-upload-img.product_img_del{width:auto}

.form-btn-section{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px;}
#submitdata:hover{background-color:transparent!important}
.language{cursor:pointer; }
.dropbtn{ float:left;}
.profile-menu{background-color:transparent; display: none; height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 9;}
.box.rtl .one-call-form{float:left;} 
.top-nav-inner{float:right} 
/* Start For Arabic */
.rtl select{background-position: left 10px bottom 45%; padding:0 10px 0 38px; text-align:right; }
.rtl .top_lang select{padding-left:30px;}
.rtl .search-box-field.mems{padding:0 0px 0 70px; float:right}
.rtl .applu_bts{right:inherit; left:0px; margin:0!important}
.rtl .filter_right{padding:7px 8px 7px 35px; float:left;}
.rtl .icon_sch{right:inherit; left:9px}
.rtl input[type="text"], .rtl input[type="email"], .rtl input[type="number"], .rtl input[type="password"], .rtl select, .rtl .hall-video-label, .rtl textarea{text-align:right; float:right}
.rtl .filter-form-one-line .applu_bts{float:right!important}
.rtl .remove_btn a{right:auto; left:0px;}
.rtl .hall-video-section input[type="submit"]{right:auto; left:0px;}
.rtl .navbar-header{margin:0px; float:right;}
.rtl .top_lang,.rtl .type_box{float:left;}
.rtl .top_lang .navbar-right{float:left!important;}
.rtl .dropdown-content,.rtl .form_label,.rtl .form-upload-img,.rtl .hall_label, .rtl .form-btn-section, .rtl .hall-top-form-label,.rtl .error,.rtl .table_heading,.rtl .td,.rtl .sidenav a,.rtl .dropdown-btn,.rtl .search_filter {text-align:right;}
.rtl .file-btn{right:inherit; left:0px;}
.rtl .input-file-area{padding:0 0 0 90px}
.rtl .hall_input,.rtl .save-card-line,.rtl .img-upload-line #add_button,.rtl .pic-btn,.rtl .left_panel{float:right}
.rtl .hall-parameter{left:inherit; right:75px}
.rtl .right_panel,.rtl .add,.rtl .pagination{float:left;}
.rtl .buttonhide {
  float: right;
  padding-left: 10px;
}
.rtl .hds {
  float: right !important;
}
.lpd{ width:auto!important; margin-right:10px;}

.rtl .input[type="checkbox"]:not(old) + label,.rtl input[type="checkbox"]:not(old) + label{background-position:right 0px top 3px; padding:0 28px 0 0}
.rtl .save-card-line{padding:0 0px 0 15px}
.rtl .img-upload-line #add_button{margin:0 0 0 20px}
.rtl .add::before{left:inherit; right:0px; padding:0px}
.rtl .add a{padding:4px 28px 0 0}
.rtl .dropdown-btn{background-position: left 5px top 18px}
.rtl .add_row_wrap .remove_btn{left:0; right:auto}
.rtl .hall_dimension{float:right; margin:0 0 0 5%;}
.rtl .hall_dimension:last-child{margin-left:0px;}
.rtl .box.rtl .one-call-form{float:right}
.rtl .status_active,.rtl .status_deactive{background-position:right top; padding: 0 25px 0 0}
.rtl .filter_mobile{background-position:left 7px top 10px; padding:8px 12px 10px 40px }
.rtl .containerdiv{float:right}
.rtl .dd-time{float:right; margin:0 0 0 4%}
.rtl .dd-time:last-child {margin-left: 0;}
.rtl .paid-ser-box{background-position:right top 5px; float:right;}
.rtl .back-page{float:left}
.rtl .container-right,.rtl .container-left{float:right;}
.rtl .category_area{padding:0 27px 0 0}
 
.rtl .order-filter-line.order-line .search-box-field.mems{padding:0 0 0 70px}
.rtl .of-date-box .cal-t:last-child{float:left;}
.rtl .of-orders,.rtl .order-filter-line.order-line .search-box-field.mems,.rtl .of-date-box,.rtl .order-filter-line.order-line .filter_right{float:right}
.rtl .of-date-box{padding:0 0 0 0}
.rtl .order-filter-line .filter_right{float:left;}
.rtl .service_prov{text-align:right}
.rtl .box.notab form{float:right;}

.rtl .per_right,.rtl .per_left{float:right;  }
.rtl .per_left{  text-align:left; padding-left:10px;}
.rtl .per_right{margin:0px;}
.rtl .imgpics-box:nth-child(3n){margin-left:0px;}
.rtl input[type="radio"]:not(old) + label{background-position:right 0 top 4px; padding-left:0; padding-right:28px;}
.rtl .filter-form-one-line select{margin:0 0 0 5px}
.rtl .top-nav-inner{float:left} 
.rtl .size-chart-table,.rtl .dash_box{ float:right;}
.rtl .addservices-cell{float:right; padding:0px 0px 0 20px}
.rtl .addservices-cell:last-child{padding-left:0px;}
.rtl .form-upload-img{float:right}
.rtl .style_head{text-align:right}
.rtl .merchant-order-total-line{text-align:left}
.rtl .order-back-page{float:left}

.arabic .checkout-page-heading{text-align:right;}
.arabic .checkout-page-heading{padding:0px 30px 17px 0px}


/* End For Arabic */
.box.arabic-ltr .form_label,.box.arabic-ltr .container-left,.box.arabic-ltr .container-right{float:left; text-align:left;}
.box.arabic-ltr input[type="text"], .box.arabic-ltr input[type="email"], .box.arabic-ltr input[type="number"], .box.arabic-ltr input[type="password"], .box.arabic-ltr select, .box.arabic-ltr .hall-video-label, .box.arabic-ltr textarea{float: left; text-align: left;}
.box.arabic-ltr .form_row{text-align:left}
.box.arabic-ltr .input-file-area{padding: 0 90px 0 0;}
.box.arabic-ltr .file-btn{ left: inherit;  right: 0;}
.box.arabic-ltr select {direction: ltr; background-position:right 10px bottom 45%; padding:0 30px 0 8px}
.box.arabic-ltr .hall_dimension{float:left; margin:0 5% 0 0}
.box.arabic-ltr .hall_dimension:last-child{margin-right:0px;}
.box.arabic-ltr .hall_label,.box.arabic-ltr .form-btn-section{text-align:left}
.box.arabic-ltr .hall_input,.box.arabic-ltr .save-card-line{float:left}
.box.arabic-ltr .hall-parameter {left: 75px; right: inherit;}
.arabic-ltr .remove_btn a {right: 0; left:inherit;}
.box.arabic-ltr .save-card-line{padding: 0 15px 0 0px;}
.box.arabic-ltr .input[type="checkbox"]:not(old) + label, .box.arabic-ltr input[type="checkbox"]:not(old) + label{background-position: left top 3px;  padding: 0 0px 0 28px;}
.box.arabic-ltr .add_row_wrap .remove_btn {left: auto;  right: 0;}
.dd-time{width:48%; float:left; margin:0 4% 0 0}
.dd-time:last-child{margin-right:0px;}

.box.hall-od{padding:0px; max-width:100%!important}
 .hall-od-top{padding:20px 25px 0px; width:100%; float:left; margin:0px;}
.noneditbox{width:48%; float:left; margin:0px 0px 20px 0px; padding:0px;}
.box-right{float:right;}
.noneditbox-sub-heading{font-size:16pt; font-weight:500; float:left;margin:0px 0 13px 0; padding:0px; width:100%; color:#95aeb3}
.paid-ser-line{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px;  /*border:1px solid #ccc; border-right:0; border-left:0px;*/}
.paid-ser-box{width:50%; float:left; margin:0 0px 0px 0; padding:0px 20px 10px 25px; background:url(../img/tick-icone.png) 0px 5px no-repeat; }
.paid-ser-box span{padding: 0 0px 0 30px;}
 
.paid-ser-area{width:100%; float:left; margin:17px 0px 27px 0px; padding:0px;}
.box.hall-od .form_label{margin-bottom:0px;}
.back-page{float:right; margin:4px 0px 0px 0px; text-decoration:underline; color:hsl(0, 0%, 45%)}
.back-page:hover{text-decoration:none; }

.search-form-line{width:100%; float:left; margin:0px 0px 0px 0px; padding:0;}
.search-first-line{padding-right:70px; position:relative; margin-bottom:20px;}
.search-box-status{width:27%; float:left; margin:0px 2% 0px 0px; padding:0px;}
.search-box-order{width:27%; float:left; margin:0px 2% 0px 0px; padding:0px;}
.search-box-date{width:40%; float:left; margin:0px 0px 0px 0px; padding:0px;}
.search-box-date .cal-t{width:49%;}
.search-box-date .cal-t:last-child{float:right;}
.search-form-line .filter_right{float:left;}




.profile-pdf-line{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px;}
.profile-pdf-line a{ float:left; margin:10px 0px 0px 0px; padding:0px;}

.dish-table .td.td1{width:25%}
.dish-table .td.td2{width:20%}
.dish-table .td.td3{width:20%}
.dish-table .td.td4{width:20%}
.dish-table .td.td5{width:15%}
 
 
.dessert-manager-table .td.td1{width:20%}
.dessert-manager-table .td.td2{width:25%}
.dessert-manager-table .td.td3{width:20%}
.dessert-manager-table .td.td4{width:15%}
.dessert-manager-table .td.td5{width:10%}
.dessert-manager-table .td.td6{width:10%} 
.two-srarch-box .search-box-field.mems{width:395px!important}
.ex-show{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px; font-size:10pt;}

.dessert-container-table .td.td1{width:20%}
.dessert-container-table .td.td2{width:20%}
.dessert-container-table .td.td3{width:20%}
.dessert-container-table .td.td4{width:15%}
.dessert-container-table .td.td5{width:15%}
.dessert-container-table .td.td6{width:10%}

.spa-list-table .td.td1{width:22%}
.spa-list-table .td.td2{width:20%}
.spa-list-table .td.td3{width:17%}
.spa-list-table .td.td4{width:13%}
.spa-list-table .td.td5{width:13%}
.spa-list-table .td.td6{width:15%}

.container-line{width:100%; float:left; margin:10px 0 0px 0; padding:0px;}
.container-line:first-child{margin-top:0px;}
.container-left{width:115px; float:left; margin:7px 0 0 0; padding:0px;}
.container-right{width:115px; float:left; margin:0px; padding:0px;}

.order-filter-line{width:100%; float:left; margin:0px 0px 0px 0px; padding:0; position:relative;}
.of-date-box{width:32%; float:left; margin:0px 0px 0px 0px; padding:0 10px 0 0 ;}
.of-date-box .cal-t{width:49%!important;}
.of-date-box .cal-t:last-child{float:right;}
.of-orders{width:18%; float:left; margin:0px 0px 0px 0px; padding:0 10px 0 0px;}
.order-filter-line .filter_right{width:25%; clear:none; padding-bottom:6px}
.order-filter-line .applu_bts{padding-bottom:7px!important}
.form-btn-line{padding-bottom:0px;}

.dessert-shop-table .td1{width:20%;}
.dessert-shop-table .td2{width:20%;}
.dessert-shop-table .td3{width:20%;}
.dessert-shop-table .td4{width:13%;}
.dessert-shop-table .td5{width:14%;}
.dessert-shop-table .td6{width:13%;}
 .add a:hover{text-decoration:underline;}
 
 
.filter-form-one-line{width:100%; float:left; margin:0px 0px 0px 0px; padding:0px;}
.filter-form-one-line select{width:auto!important; margin:0 5px 0 0;}
.filter-form-one-line .applu_bts{position:inherit}
.filter-form-one-line .filter_right{clear:none; max-width:275px;}

.right_panel .alert-info{max-width:670px;}
.right_panel .alert-info.alert-full{max-width:1000px;width:100%; margin:0 auto -15px; text-align:center;}
.add_service_page .box{max-width:1000px;}
.add_service_page .box form{max-width:100%!important}

.yesno-radio{float:left; margin:0 30px 0px 0}
.rtl .yesno-radio{margin:0 0px 0px 30px; float:right;}
.add-more-wrapper{width:100%; float:left; margin:0px 0px 20px 0px; padding:0px; position:relative;}
.arabic-add-text-box{float:left; margin:10px 0 0 0; padding:0px; width:100%}
.merchant_vendor{overflow:auto}

/* MY Wallet Page 05-07-2018 */
.studio-date{ float:right!important;}
.mainrtl .studio-date{ float:left!important;}
.studio-amount{ width:21%; padding-right:7px}
.studio-date-box{ position:relative; width:38%;}
.studio-date-box .applu_bts{ right:-62px;}
.mainrtl .studio-date-box .applu_bts{ left:-72px;}
.mainrtl .studio-amount{padding-left:5px;}

/* MY Wallet Page 05-07-2018 END*/

.discount_col_2{float: left;padding-left: 15px; width:50%; padding-right:15px}
.disc_label{ float: left;max-width: 180px;width: 100%;}
.label_fl{min-width:25px}
.disc_label{max-width:163px}

.size-chart-table{border:1px solid #dddddd; float:left; margin:0px 0px 20px 0px; padding:0px; width:600px;}
.size-chart-table .td.td1{width:14%}
.size-chart-table .td.td2{width:14%}
.size-chart-table .td.td3{width:14%}
.size-chart-table .td.td4{width:14%}
.size-chart-table .td.td5{width:14%}
.size-chart-table .td.td6{width:14%}
.size-chart-table .td.td7{width:16%}
.sizechartlabel{width: 100%; float: left; margin: 0px 0px 10px 0px; padding:0px; font-weight: 600; color: #94aeb3; font-size: 14pt;}

.form-upload-img img{max-height:200px;}
.table .td img{max-height:200px;}
.buttonhide{float:left; padding-right: 10px}
.buttonhide .form-btn-section, .buttonhideright .form-btn-section{width: auto;}
.buttonhideright{float: right;}
.buttonhide .form-btn-section input[type="submit"]{padding: 12px 50px 9px 50px}
.buttonhideright .form-btn-section input[type="button"]{padding: 12px 50px 9px 50px}


.merchant-order-table .td1{width:9%;}
.merchant-order-table .td2{width:27%;}
.merchant-order-table .td3{width:13%;}
.merchant-order-table .td4{width:17%;}
.merchant-order-table .td5{width:12%;}
.merchant-order-table .td6{width:17%;}
.merchant-order-table .td7{width:5%;}
.merchant-order-total-area{width:100%; float:left; margin:0px 0 20px 0; padding:20px 0 0 0; border-top:1px solid #edf0f1}
.merchant-order-total-line{width:100%; float:left; margin:0px 0 6px 0; padding:0px 15px; font-size:12pt; font-weight:600; text-align:right}
.merchant-order-total-line:last-child{margin-bottom:0px;}
.order-back-page{float:right; margin:12px 0 0 0px; padding:0px; font-size:11pt; font-weight:normal; color:#9a6f6f; text-decoration:underline;}
.order-back-page:hover{text-decoration:none;}
.result-prise-line{width:100%; float:left; margin:0px 0px 10px 0px; padding:0px}

.merchant-hall-table .td1{width:7%;} 
.merchant-hall-table .td2{width:20%;}
.merchant-hall-table .td3{width:13%;}
.merchant-hall-table .td4{width:15%;}
.merchant-hall-table .td5{width:10%;}
.merchant-hall-table .td6{width:10%;}
.merchant-hall-table .td7{width:20%;}
.merchant-hall-table .td8{width:5%;}

.order_table .td2{width:15%;}
.order_table .td4{width:12%;}
.order_table .td6{width:33%;}

.ui-dialog{width:400px!important; padding:0 0 15px 0!important}
.dialog-row,.dialog-label,.dialog-field,.dialog-btn-row{width:100%; float:left; margin:0px; padding:0px;}
.dialog-row{margin-bottom:20px;}
.dialog-label{margin-bottom:5px; font-size:11pt;}
.ui-widget-header{border:0!important; background:#eeeeee!important;border-radius: 0!important; margin-bottom:10px;}
.amt-t{width:150px!important;}
.ui-dialog .ui-dialog-title{font-size:14pt!important; font-weight:normal!important}
 

@media screen and (max-width:767px){
.order_table{ table-layout:fixed;}

}