.header_box{ max-width:1280px; margin:0px auto 8px; padding:0px 15px;}
.header_box .navbar-header{margin:0px;}
.filter_mob{position:absolute; bottom:-84px; left:15px; display:none; color:#95aeb3; font-size: 13.5pt;font-weight: 600;margin-bottom: 3px;text-align: left;}

.global_area{width:100%; margin:0px; padding:0px; float:left;}
.merchant_vendor{margin: 0 auto;padding: 40px 15px 0px;width: 100%; max-width:1280px;}
.left_panel{ width:22%; margin:0px; padding:0px; float:left; }
.right_panel{ width:75%; margin:0px 0px 0px 0; padding:0px; float:right;}
.small_inp{ width:60%!important;}
.sidenav { left: 0;padding: 16px;top: 0;width: 100%;z-index: 1; border:solid 1px #dee4e6; background:#f3f3f3;}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
border-color: -moz-use-text-color -moz-use-text-color #dee4e6;border-image: none;border-style: none none solid;border-width: medium medium 1px;color: #818181;cursor: pointer;display: block;
font-size: 11pt;outline: medium none;padding: 13px 8px 13px 0px;text-align: left;text-decoration: none;width: 100%;}
.sidenav a:last-child{ border:none;}
.no-margin{ margin-top:0px!important;}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {color: #818181;}
.dropdown-btn { background:url(../img/plus.png) no-repeat right 5px top 18px;}
.dropdown-btn.active{ background:url(../img/minus.png) no-repeat right 5px top 18px;}
.dropdown-container a{ border:none; padding:5px;}
.form_row {border: 0 solid;float: left;margin: 0;padding: 0px;width: 100%;}
.box_shipping{ width:100%; margin:30px 0px 0px 0px; padding:0px; float:left;}
.box_shipping .form_row{ padding-bottom:25px!important;}
.box_shipping .info100 { padding: 10px 0 0;}
.box_shipping input[type="checkbox"]:not(old) + label{ padding-right:25px;}


.form_row_left, .form_row_right{ width:100%; margin:0px 0 20px 0; padding:0px; float:left;}

/*.form_row_left img{ width:30%; }*/
.form_label{ width:100%; margin:0px 0px 4px 0px; padding:0px; float:left; color:#95aeb3; font-size:10.5pt; font-weight:600;}
.info-box100, .info-box50 {position: relative;}
.info100 {float: left;margin: 0;padding: 0;width: 100%;position: relative;}
.save-card-line {float: left;font-size: 10.5pt;margin: 3px 0 0;padding: 0 15px 0px 0px; width:100%}
.ar{ display:none;}
.active {color: #818181;}
.dropdown-container {display: none;padding-left: 8px;}
.hall_dimension{width:30%; margin:0px 5% 0 0; padding:0px; float:left; position:relative;}
.hall_dimension:last-child{margin-right:0px;}
.hall_input{margin:0px; padding:0px; float:left; width:60px;}
.hall_label {float: left;margin: 0 0 2px 0;padding: 0px; width:100%; font-size:10.5pt;}
.hall-parameter{float:left; margin:0; font-size:10pt; position:absolute; top:36px; left:63px;}
.hall_menu{ display:none;}
.product_name{ width:18%!important;}
.prod_comp{ width:40%;}
.prod_rating{ width:15%;}
.prod_status{ width:12%;}
.prod_title{ width:15%;}
.revie_table .td {text-align: left;vertical-align: top;}
.revie_table .table_heading{ text-align:left;}
.cal-t{background-image:url(../img/calendar-icon.png)!important; background-repeat:no-repeat!important; background-position:right 10px bottom 45%!important; cursor:pointer!important; width:175px!important}
.has-error .help-block, .has-error .control-label {color: #ff0000;font-size: 9.5pt;float: left;width: 100%; line-height:17px}
.mobile_header{ display:none;}
.thank_sub{ width:100%; margin:0px; padding:0px; float:left;}
.tab_area{ width:100%; margin:19px 0px 0px 0px; padding:0px; float:left;}
.form_label_left {color: #95aeb3;float: left;font-size: 10.5pt;font-weight: 600;margin: 0 0 4px;padding: 0;width: 30%;}
.form_input{ width:70%; margin:0px; padding:0px; float:left;}
.form_button {background-color: #c09e9d;border: 1px solid transparent;color: #fff;display: inline-block;font-family: "morva";font-size: 17pt;padding: 10px 65px;text-align: center;transition: all 0.5s ease-in-out 0s; font-weight:500;}
.common_button{background-color: #c09e9d;border: 1px solid transparent;color: #fff;display: inline-block;font-family: "morva";font-size: 17pt;padding: 10px 65px;text-align: center;transition: all 0.5s ease-in-out 0s;}.alert_suc{float:left; border:solid; width:100%; margin-top:10px;}
.pass_input{ width:70%!important;}
.rabiclang{ width: 100%; margin: 10px 0px 20px 0px; padding: 0px; float: left; text-align: center; font-size: 12pt; color:#ff0000;}
.langerror {width: 100%; margin: 10px 0px 20px 0px; padding: 0px; float: left; text-align: center; font-size: 12pt; color:#ff0000;}
.passerror {width: 100%; margin: 10px 0px 10px 0px; padding: 0px; float: left; text-align: left; font-size: 12pt; color:#ff0000;}
.bar_type {float: left; margin: 0px; padding: 2px 0px 0px; font-size: 11pt;}
.form_label.arabic{ text-align:right;}
.view_center{ text-align:center!important;}
#add_button input.form-btn[type="submit"], .form-btn {
  background: transparent;
  border: none;
  color: #000000;
  display: inline-block;
  font-family: "Raleway",sans-serif;
  font-size: 12pt;
  font-weight: 500;
  line-height: 38px;
  margin: 0;
  padding: 0 10px 0px 29px;
  text-transform: inherit;
  transition: all 0.5s ease-in-out 0s;
}
#add_button:before {
  background: rgba(0, 0, 0, 0) url("../img/add.png") no-repeat scroll 0 0;
  content: "";
  float: left;
  height: 21px;
  left: 0;
  margin: 0;
  padding: 0 20px;
  position: absolute;
  top: 9px;
  width: 21px;
}
#add_button{ position:relative;}
.rtl #add_button::before {

  right: 0; padding:0px; left:inherit;
}
.rtl #add_button input.form-btn[type="submit"], .form-btn{ padding-right:31px;}
.arabic-ltr #add_button::before{ left:0px;}
.rtl .cal-t { background-position: left 10px bottom 45% !important;}
.arabic-ltr  .cal-t {background-position: right 10px bottom 45% !important;}
.arabic-ltr  .cal-t.hasDatepicker { padding-left:10px;}
.profile_img{ margin-top:10px;}
.city_type{ margin-right:5px; width:48%!important;}
.order-filter-line.order-line .city_type{width: 95% !important;}
.order-filter-line .form-horizontal {
  clear: none;
  float: right;
  margin-top: 0;
  width: 38%;
  position: absolute;
  right: 0px;
  top: -12px;
}

.small_time{ width:130px; margin:0px 10px 0px 0px; padding:0px; float:left;}
.rtl .small_time {float: right; margin: 0 0 0 10px;padding: 0; width: 130px;}
.category_area{ width:100%; margin:10px 0px 0px 0px; padding:0px 0px 0px 27px; float:left;}
.cat-box-line{width:100%; margin:0px 0px 0px 0px; padding:0px; float:left;}
.cat_box{width:100%; margin:0px 0px 20px 0px; padding:0px; float:left;}
.cat_box:last-child{margin-bottom:0px;}
.sar{ font-size:10pt;}
.cat_face{ font-weight:600;}
.cat_box:last-child{ margin-bottom:0px;}
.order-filter-line .search-box-field.mems {float: left; margin: 0; padding: 0 70px 0 0;position: relative; width: 225px !important;}
.order-filter-line.order-line .search-box-field.mems{float: left;margin: 0;padding: 0 70px 0 0;position: relative;width: 220px !important;}
.order-filter-line.order-line .filter_right {clear: none; padding-bottom: 6px; width: 100%; margin-top:15px; float:left;}
.perkg{ width:75px!important;}
.perarea{float:left; margin:0px 0 0px 0; padding:0px; width:50%;}
.perarea.dateadd_type{padding-top:20px;}
.addtype_pad0.form_labs{margin-top:0px;}
.per_left{float:left; margin:0px; padding:6px 10px 0px 0px; width:55%; text-align:right }
.per_right{float:left; margin:0px 0px 0px 0px; padding:0px; }
.form_labs{ float:left; width:100%; margin:20px 0px 0px 0px; padding:0px;}
.form_tabs{ width:100%; margin:0px; padding:0px; float:left;}
.per_box {float: left; margin: 0px 0px 15px 0px; padding: 0; width: 100%;}
.per_box:last-child{margin-bottom:0px;}
.form_opening{ margin:0px; padding:0px; float:left; width:150px;}
.two-srarch-box.box_leng .search-box-field.mems { width: 395px !important;}
.service_prov{ width:100%; margin:0px; padding:0px; float:left; text-align:left; font-size:10pt;}
.add_row_wrap_new {
  clear: both;
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  width: 100%;
}

/* changes */
.navbar-collapse{left:0px}
.dsah{ width:100%; margin:30px 0px 0px 0px; padding:0px; float:left; max-width:800px;}
.dash_box {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 6px 0 rgba(203, 203, 203, 1);
  float: left;
  margin: 0 2% 18px 0;
  padding: 10px;
  width: 31%; box-sizing:border-box;
}
.manager_img {
  float: left;
  margin: 20px 0 0;
  padding: 0;
  text-align: center;
  width: 100%; position:relative;
}
.manger_text{ width:100%; margin:10px 0px 15px; padding:0px; float:left; text-align:center; font-size:15pt;}
.dsah a{ color:#737373;}
.mainrtl .dsah{ float:right;}
.mainrtl .dash_box{margin:0 0% 18px 2%;}
.rtl .order-filter-line .form-horizontal {
  clear: none;
  float: right;
  left: 0;
  margin-top: 0;
  position: absolute;
  top: -12px;
  width: 38%;
}
.gds{ width:80%!important;}
.backs{ width:20%; float:left; margin:0px; padding:0px; text-align:right;}
.backs a{color:#c09e9d; text-decoration:underline;}
.rtl .backs{ text-align:left;}
.book_end_date {
  float: left;
  width: 48%;
  padding-left: 31px;
}
.lat_left{ width:48%; margin:0px 2% 0px 0px; padding:0px; float:left}
.lat_right{ width:48%; margin:0px 0% 0px 0px; padding:0px; float:left}
.no_padding{ margin-bottom:5px!important;}
.curs{ cursor:pointer; margin-bottom:15px!important;}
.lat_left input[type="text"], .lat_right input[type="text"]{
  -moz-appearance: none;
  background: #fff none repeat scroll 0 0;
  border: 1px solid #a69373;
  color: #9a9a8c;
  float: left;
  font-size: 10.5pt;
  height: 40px;
  line-height: 38px;
  margin: 0;
  padding: 0 10px;
  width: 100%;
}
.req{ width:10%;}
.mal{ width:10%;}

.rtl .time-t {
  background-image: url("../img/watch.png") !important;
  background-position: left 10px bottom 45% !important;
  background-repeat: no-repeat !important;
  cursor: pointer !important;
}
.tailor_product{width:100%; margin:0px; padding:0px; float:left; border:solid 0px #dee4e6;}
.tailorpro-heading {
  color: #95aeb3;
  float: left;
  font-size: 16pt;
  font-weight: 500;
  margin: 0 0 13px;
  padding: 30px 0 0;
  text-align: left;
  width: 100%;
}
.style_area{ width:100%; margin:0px; padding:0px; float:left;}
.style_head {
  background: #eeeeee none repeat scroll 0 0;
  box-sizing: border-box;
  color: #95aeb3;
  float: left;
  font-size: 14pt;
  font-weight: 600;
  margin: 0 0 15px 0;
  padding: 10px;
  text-align: left;
  width: 100%;
}
 
.style_box_type{ width:100%;  margin:0px; padding:0px 10px; float:left;  }
.style_left{ width:33%; margin:0px; padding:0px; float:left;}
.style_right{ width:50%; margin:0px; padding:0px; float:left;}
.style_label{ width:100%; margin:0px 0px 6px 0px; padding:0px; float:left; color:#95aeb3; font-size:10.5pt; font-weight:600;}
.style_label_text{ width:100%; margin:0px; padding:0px; float:left;}
.style_label_text img{ width:30%;}
.sts_box {
  border-bottom: 1px solid #edf0f1;
  float: left;
  margin: 0 0 10px;
  padding: 0 20px 10px;
  width: 100%;
}
.sts_box:last-child{padding-bottom:0px; margin-bottom:0px; border-bottom:0px;}
.sts_boxs{ width:100%; margin:0px; padding:15px 0px; float:left;}
.back_btn_mobile{ display:none!important;}
.note-icon{ background: #ff0000; border: solid 3px #92aeb1; width: 25px; height: 25px; display: inline-block; border-radius: 50%; line-height: 1.3; position:absolute; left:50%; top:0px; color:#fff; font-size:10pt;}
.newfilter{ max-width:322px;}
.newfilter .city_type{ float:left;}

@media(max-width:1024px) {
.newfilter {max-width: 302px;}

}

@media(max-width:1000px) {
.select_top_box {margin: 0 auto;}
.type_box {margin-top: 4px;}
.global_head{ font-size:18pt;}
.type_box{margin-top: 0; padding-top:45px}
.navbar-right{display:none}

}

@media(max-width:999px) {
.sidenav{ display:none;}
.right_panel{ width:100%; float:left;}
.left_panel{max-width:300px; width:100%; left:auto; right:10px; position:absolute; top:38px}
.mobile_header{ width:100%; margin:0px; padding:0px 15px; height:50px; float:left; background:#94aeb3; display:block; position:fixed; z-index:99;}
.language {display:none}
.mobile_header .language {display:block; margin-top:9px; color:#fff;}
.profile {display:none;}
.mobile_header .profile { display: block; float: left; margin-top: 10px;}
.blacks{ color:#fff; padding:4px 21px 14px 10px}
.blacks::after {background: rgba(0, 0, 0, 0) url("../img/white-arrow.png") no-repeat scroll 0 0;color: #fff;content: ""; height: 9px;width: 15px;float: right;position: absolute;top: 12px; }
.navbar-toggle {background-color: transparent;border: 1px solid transparent;border-radius: inherit;float: right;left: 15px;margin-bottom: 8px;margin-right: 0;margin-top: 0;padding: 0;position: absolute;
top: 16px;}
.navbar{ min-height:auto!important;}
.merchant_vendor {padding: 7px 15px 0px;}
.navbar-default {background-color: transparent !important;}
.header_box{ padding:0px 15px;}
.dropdown-content {top: 40px;}
.navbar-nav > li > a{ font-size:11.5pt;}
.navbar-nav {padding-top: 10px;padding-bottom: 10px;}
.filter_mob{display:block}
.mobile_right{ float:right; margin:0px; padding:0px 80px 0px 0px;}
.bar_type{ display:none;}
.mobile_header .bar_type {display:block; margin-top:10px; color:#fff;}
.desktop{ display:none;}
.header_box .navbar-header, .rtl .navbar-fixed-top .navbar-header {margin:50px 0 0;}
.order-filter-line  .of-date-box {
 
  width: 100%!important; margin-bottom:10px;
}
.order-filter-line .form-horizontal {

  position: inherit;
  
  width: 98%; float:left;
}
.rtl .order-filter-line .form-horizontal {

 
  position: inherit;

  width: 100%;
}

.back_btn_mobile{ display:block!important; color:#fff; position:absolute; left:60px; top:13px;}
.back_btn_mobile a{ color:#fff;}
.back_btn_arrow{ font-size: 17pt;line-height: 1;position: relative;top: 0.5px;}

}


@media(max-width:923px) {
/*.hall_input {width: 78%;}*/

}

@media(min-width:768px) {
.navbar-static-side {z-index: 1;position: absolute;width: 250px;}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {margin-left: auto;}

}

@media(max-width:760px) {
.filter_left{ float:left; width:100%;}
.filter_right {width: 100%;}
.city_area {width: 38% !important;}

}

@media(max-width:767px) {


}

@media(max-width:600px) {
.city_area {width: 150px !important;}
.table .td{ padding:0 0 5px 44%;}
.form_row_left{ width:100%; margin-bottom:20px;}
.form_row_right{ width:100%;}
.hall_label{ padding:0px;}
.form_opening{ margin-bottom:20px;}
.form_opening:last-child{ margin-bottom:0px;}
.book_end_date {padding-left: 16px;}
.sts_box {

  padding: 0 0 20px;
  width: 100%;
}
.style_left{ width:50%;}



}
@media(max-width:500px) {
.book_end_date {
  padding-left: 0;
}


}

@media(max-width:475px) {
.city_area {width: 50% !important;}
.aps {margin: 10px 0; width: 100%;}
.applu_bts {margin: 0;}
.search-box-field select{ font-size:9.5pt; padding-right:30px}
.navbar-brand > img {width: 93px;}
.type_box {margin-bottom: 7px;}
.select_heading{ font-size:11pt;}
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 15px;}
.navbar-right {margin-bottom: 10px;margin-left: 10px;}
.select_top_box {float: left;margin: -25px 0px 0px;max-width: 100%;padding: 0 0 0 10px;width: 100%;}
.type_box {float: left;margin-top: 14px;width: 100%;}
.form_button {font-size: 17pt;padding: 10px 33px;}

}

@media(max-width:375px) {
.city_area {width: 44% !important;}

.language select{ font-size:9.5pt;}
.add{margin-top:3px}

}
