@media screen and (max-width:1100px){
.order-filter-line .search-box-field.mems{width:185px!important}
.order-filter-line .filter_right,.filter-form-one-line .filter_right{width:23%}
.cal-t{background-position: right 5px bottom 45%!important;}
.rtl .cal-t{background-position: left 5px bottom 45%!important;}
.order-filter-line.order-line .search-box-field.mems{width:370px!important}

.rtl .city_type{margin-left:5px; margin-right:0px;}
.rtl .search-box-field.mems{padding-right:0px;}
.two-srarch-box .search-box-field.mems{width: 370px!important}
.search_box{width:45%}
} /*1100px*/
@media screen and (max-width:999px){
.hall-menu-outer{height: 45px;position: absolute;right: 10px;top: 85px;width: 40px; cursor:pointer; z-index:1}
.hall_menu{border-radius: 50%;cursor: pointer;display: block;height: 7px;position: absolute;right: 0;top: 19px;width: 7px;z-index: 99;}

/*.hall_menu:after{background-color: #a69373;border-radius: 50%;content: "";display: block;height: 7px;position: absolute;right: 0;top: 11px;width: 7px;z-index: 99;}*/

.hall_menu:before{border-radius: 50%;content: "";display: block;position: absolute;right: 0;top: -11px;;z-index: 99; background:url('../img/down_arrow.png') no-repeat top left; width:25px; height:16px;}
.rtl .hall_menu:before{right:-20px}

.merchant_vendor{position:relative}
.sidenav {position:absolute; top:85px; padding:3px 16px; z-index:100; height:auto;}
.rtl .hall-menu-outer{left: 10px;}
.cont_add .hall-menu-outer {
  cursor: pointer;
  height: 45px;
  position: absolute;
  right: 14px;
  top: 2px;
  width: 40px;
  z-index: 11;
}
.buffet_outer .hall-menu-outer {
  cursor: pointer;
  height: 45px;
  position: absolute;
  right: 14px;
  top: 85px;
  width: 40px;
  z-index: 11;
}
.table_heading{display:none!important;}
.table {width: 100%;} 
.table .tr{float:left; padding:21px 0 5px; width:100%} 
.table .tr:nth-child(2n){background:#f3f3f3}
.table .td {width: 100%!important; border: 0; padding:0px 10px 5px 200px; float: left; min-height:25px; margin-bottom:10px; position: relative;text-align:left!important;}
.table .td:before{color: #626262;position: absolute; left: 10px; font-weight: bold; width:190px; float:left; line-height:20px; content: attr(data-title);}  
.table .tr:first-child{display:none;}
.add-more-link{margin:20px 0 9px}
#footer{margin-top:50px;}
/* harry */

.service_heading_area .box{margin:9px 0 0 !important;  padding:0px!important}
.box header h5{padding:16px 0 0 30px!important}
.service_heading_area{margin:20px 0 18px}
.global_head{font-size:18pt;}
.search-box-field.mems{width:100%!important; max-width: 100%!important;}
.navbar{border:0!important} 
.profile-mobile{float:right; margin:11px 0px 0px 0px; position:relative}
.box{padding-bottom:30px;}
 
.hall-od-top{padding:15px 10px 0}
/* Start For Arabic */
.rtl .hall_menu{right:inherit; left:0px;}
.rtl .hall-menu-outer{float:left}
.rtl .filter_mobile{float:right}
.rtl .table .td::before{left:inherit; right:10px; text-align:right}
.rtl .table .td{padding:0 200px 5px 0px; text-align:right!important}
/* End For Arabic */
 .merchant_vendor{overflow:inherit;}
.size-chart-table{width:100%;} 
.table .td::before{width:115px;}
.size-chart-table .table .td{padding:0 15px 5px 125px;}

} /*999px*/

@media screen and (max-width:767px){
.imgpics-box{width:32%; margin:0 2% 20px 0!important} 
.imgpics-box:nth-child(3n){margin-right:0px!important;}
.addservices-cell{width:50%;} 
.lang_tab{text-align:center; margin: 20px 0 5px;}
.filter_left, .filter_right{width:100%; clear:both}
.search_box{float:left}
.search_box .search_filter{height:10px}
.hall_dimension,.rtl .hall_dimension,.box.arabic-ltr .hall_dimension{width:50%; margin:0 0 10px 0}
.hall_dimension:last-child,.rtl .hall_dimension:last-child{margin:0px;}
  
/* Start For Arabic */
.rtl .imgpics-box{width:32%; margin:0 0 20px 2%!important} 
.rtl .imgpics-box:nth-child(3n){margin-left:0px!important;}
.hall-top-form{ margin-bottom:5px;}
.box  { padding-left:15px; padding-right:15px;}
.box form{padding-left:0px; padding-right:0px;}
.hall-top-form { margin-bottom: 15px;}
.change_psw_page .global_head {text-align: left;}
.filter-form-one-line .city_type{margin-right:0px;}
.rtl .hall_menu:before{right:-20px}
.order-filter-line .form-horizontal {
  clear: none;
  float: right;
  margin-top: 0;
  right: 0;
  width: 100%; position:inherit; top:0px;
}
/* End For Arabic */
} /*767px*/

 @media screen and (max-width:600px){
 .input-file-area{padding-right:80px}
 .rtl .input-file-area{padding-left:80px;}
/* .input-file-area{padding:0px}
.file-btn{position:inherit; float:left;}
.file-value{margin-bottom:10px}*/
.hall-top-form{max-width:100%}
/*.input-file-area #remove_button {bottom: 22px; left: 100px; position: absolute; right: inherit; top: inherit;}*/
.img-upload-line{margin-top:15px;}
.hall-video-form{ padding:0px 0px 0 0px; }
.two-srarch-box .search-box-field.mems { width:100%!important;}
.filter_left {float: left; width: 100%; max-width:100%;}
.search-box-field.mems{ padding-right:0px;}
.applu_bts {margin-left: 0 !important;margin-top: 10px !important; position: inherit;text-align: center;width: 100%;}
select .city_type {margin-right: 0px;width: 48% !important;}
.order-filter-line.order-line .search-box-field.mems { margin: 10px 0 0; width: 100% !important; padding:0px;}
.of-orders { margin: 10px 0 0; width: 100%;}
.of-date-box {width: 100%;}
.order-filter-line .filter_right {width: 96%;}
.order-filter-line .search-box-field.mems { margin: 10px 0; padding: 0 10px 0 0; width: 100% !important;}
.filter-form-one-line select { margin: 0 2% 0 0; width: 49% !important;}
.order-filter-line .filter_right, .filter-form-one-line .filter_right { margin-top: 13px; max-width: 100%;width: 100%;}
.rtl .hall_menu:before{right:-20px}
.dash_box {

  width: 48%; 
}
.manger_text {font-size:13pt;}

} /*600px*/
@media screen and (max-width:520px){
#img_upload{ padding-right:32px;}
.rtl #img_upload {
  padding-left: 32px; padding-right:0px;
}
.rtl .hall_menu:before{right:-20px}

 }
@media screen and (max-width:500px){
.imgpics-box{width:48%; margin:0 4% 20px 0!important} 
.imgpics-box:nth-child(3n){margin-right:4%!important;}
.imgpics-box:nth-child(2n){margin-right:0px!important;}
.addservices-row{margin-bottom:15px;}
.addservices-name{margin-bottom:7px;}
.addservices-cell{width:100%; margin-bottom:5px;} 
.table .td{padding-left:200px;  word-break: break-all; }
.table .td:before{width:140px;}  
.aps{width:100%; margin-top:10px; margin-bottom:20px;}
.aps input{margin-left:0px!important;}
.search_box, .search_box .filter_right{width:100%; max-width:100%}
.global_head{font-size:15pt; margin-top:8px; font-weight:600;}
.add::before {background: rgba(0, 0, 0, 0) url("../img/add.png") no-repeat scroll 0 2px;height: 27px;}
.add a{padding-top:6px;}
.merchant_vendor,.mobile_header,.header_box{padding-left:10px; padding-right:10px;}
.navbar-toggle{left:10px}
.box{padding:0px 10px 10px}
#footer{margin-top:40px;}
 .paid-ser-box {width:100%; float:left;}
.noneditbox{width:100%; margin-bottom:15px} 
.hall-od-top .form_row{padding-bottom:0px;} 
 .paid-ser-area{margin-top:12px;}
/* Start For Arabic */
.rtl .select_top_box{padding:0px;} 
.rtl .table .td{padding-right:140px;}

.rtl .imgpics-box{width:48%; margin:0 0 20px 4%!important} 
.rtl .imgpics-box:nth-child(3n){margin-left:4%!important;}
.rtl .imgpics-box:nth-child(2n){margin-left:0px!important;}
/* End For Arabic */
.global_area > .row{margin:0px!important;}
.global_area > .row > .col-lg-12{padding:0px!important;}
.msg_img_replace { display: block;line-height: 19px;}
.breadcrumb{ margin-bottom:10px;}
.dd-time{ width:96%;}
.time-t{ width:175px!important;}
.ts{ margin-top:15px!important;}
.per_left { text-align: left;width: 75%;}
.lbs { margin-top:0px!important;}
.filter-form-one-line select.mbst{ margin-top:10px!important;}
.filter_mobile{background-size:22%; padding:6px 32px 6px 7px; font-weight:500; font-size:13pt}
/*.rtl .tooltip_area_wrap .tooltip_div::after, .rtl .address_image_tooltip .add_img_tooltip::after{  left: 194px;}
.rtl .tooltip_area_wrap .tooltip_div::before, .rtl .address_image_tooltip .add_img_tooltip::before{left: 194px;}
.rtl .tooltip_area_wrap .tooltip_div, .rtl .address_image_tooltip .add_img_tooltip{ left:inherit; right:-5px;}*/
.rtl .hall_menu:before{right:-20px}
.buttonhideright{float: left; margin-top: 10px}

} /*500px*/ 