body {
    padding-top: 0px;
    padding-bottom: 0px;


  background:url(../img/body-bg.jpg)  repeat;
 

}
.login_top{ padding-top:80px;}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;

    

}
.lang {
  color: #95aeb3;
  cursor: pointer;
  margin: 0 auto;
  max-width: 149px;
  padding: 10px 0 40px;
  text-align: left;
  width: 100%;
}
.lng_text {
  float: left;
  font-size: 11pt;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%; font-weight:600;
}
.rtl .lng_text {

  text-align: right;

}
.rtl .lnag_sel select {
  -moz-appearance: none; -webkit-appearance:none;
  background: #fff url("../img/search-select-arrow.png") no-repeat scroll left 6px bottom 44%;
 
  padding-right: 10px;
  text-align: right;
  width: 100%; direction:rtl;
}
.lnag_sel {
  float: left;
  margin: 0;
  padding: 10px 0 0;
  width: 100%;
}
.lnag_sel select {
  -moz-appearance: none;   -webkit-appearance:none;
  background: #fff url("../img/search-select-arrow.png") no-repeat scroll right 6px bottom 44%;
  border: 1px solid #a69373;
  color: #636363;
  font-size: 10.5pt;
  font-weight: 500;
  height: 39px;
  line-height: 28px;
  padding-left: 7px;
  padding-right: 35px;
  width: 100%;
}
select::-ms-expand {display: none}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
    position: relative;
    font-size: 13px;
   height: 40px!important;
    height: auto;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top:7px!important;
	border-radius: 0!important;-webkit-appearance: none;
}
.form-signin input[type="text"]:focus,
.form-signin input[type="password"]:focus,
.form-signin input[type="email"]:focus  {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;border-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;border-radius: 0;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-radius: 0;
}

.list-inline a {
    color: #95aeb3 !important;
    font-size: 14px !important;
    /* margin-top: 15px !important; */

}

.list-inline a:hover {
    color:#95aeb3!important;
    text-decoration:none;
}
.login_mid:before {
  background: rgba(0, 0, 0, 0) url("../img/bg_flower.png") no-repeat scroll left top;
  content: "";
  height: 270px;
  left: 0;
  position: absolute;
  top: 0;
  width: 270px;
 
}
.login_mid:after {
  background: rgba(0, 0, 0, 0) url("../img/bg_flower.png") no-repeat scroll right top;
  content: "";
  height: 270px;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(90deg);
  width: 270px;
}
.login_bottom:before {
  background: rgba(0, 0, 0, 0) url("../img/bg_flower-bottom.png") no-repeat scroll left top;
  content: "";
  height: 270px;
  left: 0;
  position: absolute;
  top: 0;
  width: 270px;  
 
}
.login_bottom:after {
  background: rgba(0, 0, 0, 0) url("../img/bg_flower-bottom-right.png") no-repeat scroll right top;
  content: "";
  height: 270px;
  right: 0;
  position: absolute;
  top: 0;
  width: 270px; 
 
}
.login_mid{ position:relative; float:left; width:100%; top:0px;}
.login_bottom{ position:relative; float:left; width:100%; bottom:0px;}
.btn-lg {
    margin:0px!important;
}
.form-signin p {
    /*background-color:#000;*/
    font-size:16px !important;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color:white;
    padding:8px 0px 8px 0px;
    border-radius:5px;
      -webkit-border-radius:5px;
    -moz-border-radius: 5px;

}
#login {
    margin-top:30px;
}
.button_area{ width:100%; margin:0px; padding:0px;  width:100%;}
.button_area .btn {
  border-radius: inherit;
  font-size: 20pt;
  height: 51px;
  line-height: 53px;
  padding: 0;
  width: 100%; 
  letter-spacing:3px!important;
}

#forgot {
    margin-top:50px;
}

#signup {
    margin-top:30px;
}

#logoimg {
  width: 315px;
height: 51px;
padding-left: 33px
}
.user_area{ width:100%; margin:0px 0px 15px 0px; padding:0px; float:left;}
.user_text{width:100%; margin:0px; padding:0px; float:left; color:#95aeb3; font-size:11pt; font-weight:600;}
.user_input{width:100%; margin:0px; padding:0px; float:left;}
.rtl .user_text { text-align:right;}
.rtl .form-signin input[type="text"], .rtl .form-signin input[type="password"], .rtl .form-signin input[type="email"] { text-align:right;}
.rtl .has-error .help-block, .rtl .has-error .control-label{ text-align:right;}
@media (max-width: 1000px) {
.login_mid:before, .login_mid:after, .login_bottom::before, .login_bottom:after{ display:none;}

}
@media(max-width:500px) {
.login_top {
  padding-top: 20px;
}
.login_top img{ width:150px;}
#login {
  margin-top: 10px;
}


}


.has-success .form-control:focus, input:focus{box-shadow:none!important}

input{focus:none!important;-wbkit-focus:none!important; outline:none!important;-webkit-outline:none!important}