
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,600,600i,700,800,900');
body {
    padding-top: 40px;
    padding-bottom: 40px;font-family: 'Raleway', sans-serif;;
}

@font-face {
    font-family: 'MORVA';
    src: url('fonts1/MORVA.woff2') format('woff2'),
        url('fonts1/MORVA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.form-signin { max-width: 330px;  margin: 0 auto; background: rgba(229, 229, 229, 0.85); border-radius: 5px; padding: 15px;}
.form-signin #recover_password{border-radius: 0; background: #c09e9d ;border:none;}
.form-signin .btn-primary{background: #94aeb3;border-radius: 0;}
.form-signin .btn-primary:hover{background: #c09e9d;}
.form-signin .btn-warning{background: #c09e9d;border-radius: 0;}
.form-signin .btn-warning:hover{background: #94aeb3;}
.form-signin .form-control{border-radius: 0;}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
    position: relative;
    font-size: 13px;
   height: 40px!important;
    height: auto;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top:10px!important;
}
.form-signin input[type="text"]:focus,
.form-signin input[type="password"]:focus,
.form-signin input[type="email"]:focus  {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-radius: 0;
}

.list-inline a {
    color: #95aeb3  !important;
    font-size: 13px !important;
margin-top:0px !important; 
display: block;
font-size: 14px !important;
font-weight: normal;
text-decoration: underline;

}

.form-control{border-color:#c09e9d}
.form-control:focus {
border-color:#c09e9d!important;outline: 0;-webkit-box-shadow:none;box-shadow: none;}

.list-inline a:hover {
    color:#94aeb3!important;
    text-decoration:none;
}
.btn-lg {
    margin:0px!important;
}
.form-signin p {
    /*background-color:#000;*/
    font-size:16px !important;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color:white;
    padding:8px 0px 8px 0px;
    border-radius:5px;
      -webkit-border-radius:5px;
    -moz-border-radius: 5px;

}
#login {
    margin-top:15px;
}

#forgot {
   /* margin-top:50px;*/
}

#signup {
    margin-top:30px;
}

#logoimg {
  width: 315px;
height: 51px;
padding-left: 33px
}

/* Login Page */
.login-panel {    margin-top: 25%;}
.login_top_area .logo{padding-top: 80px;}
.login_top_area {position: relative;float: left;width: 100%;top: 0px;}
.login_top_area::before {
background: rgba(0, 0, 0, 0) url("../img/bg_flower.png") no-repeat scroll left top;
content: "";height: 270px;left: 0;position: absolute;top: 0;width: 270px;}
.login_top_area::after {
background: rgba(0, 0, 0, 0) url("../img/bg_flower.png") no-repeat scroll right top;
content: "";height: 270px;position: absolute;right: 0;top: 0;transform: rotate(90deg);width: 270px;}

.login_bottom_area{position: relative;float: left;width: 100%;top: 0px;}
.login_bottom_area::after {
background: rgba(0, 0, 0, 0) url("../img/bg_flower-bottom-right.png") no-repeat scroll right top;
content: "";height: 270px;right: 0;position: absolute;top: 0;width: 270px;}
.login_bottom_area::before {
background: rgba(0, 0, 0, 0) url("../img/bg_flower-bottom.png") no-repeat scroll left top;
content: "";height: 270px;left: 0;position: absolute;top: 0;width: 270px;}

.login_top_area .login_form_area{margin: 0px;}
.login_top_area .login_form_area .form-signin{background: none;}
.login_top_area .login_form_area .form-signin .botn_none{display: none;}
/**.login_top_area .login_form_area .form-signin #success_div{display: none;}
.login_top_area .login_form_area .form-signin #error_div{display: none;}**/
.login_top_area .login_form_area .form-signin h2{margin: 0px;padding: 0px;color: #95aeb3; font-size:11pt;font-weight: 600;}
.login_top_area .login_form_area .form-signin .form-control{margin-bottom:20px;}
/*.login_top_area .login_form_area .form-signin .sign_btn{width: 100%;font-family: 'MORVA';color:#fff;
font-size: 18pt; height: 41px; line-height: 32px;}*/
.button_area .btn {
    border-radius: inherit;
    font-size: 20pt;
    height: 51px;
    line-height: 53px;
    padding: 0;
    width: 100%;
    letter-spacing: 3px !important;
	font-family: 'morva';
}

.language_area{max-width: 150px; margin: 0 auto;}
.language_area .lang {color: #95aeb3;cursor: pointer;margin: 0 auto;/*max-width: 149px;*/ padding:10px 0 15px; text-align: left; width: 100%; display: inline-block;}
.language_area .lng_text {float: left;font-size: 11pt;margin: 0;padding: 0;text-align: center; width: 100%;font-weight: 600;}
.language_area .lnag_sel {float: left;margin: 0;padding: 10px 0 0;width: 100%;}
.language_area .lnag_sel select {background: #fff url("../img/search-select-arrow.png") no-repeat scroll right 6px bottom 44%; border: 1px solid #a69373;color: #636363;font-size: 10.5pt;font-weight: 500; height: 39px; line-height: 28px;padding-left: 7px;padding-right: 20px;width: 100%; -webkit-appearance: none; /* Webkit */
  -moz-appearance: none; /* FF */
  -ms-appearance: none; /* Edge */
appearance: none; /* Future */}
/* IE11 */
.language_area .lnag_sel select::-ms-expand { display: none;}

/*.reset_margtop{margin-top: -40px;}*/
.reset_pasword_area{margin: 0px;}
.reset_pasword_area .form-signin{background: none;/*margin-top: 48px;*/}
.reset_pasword_area  p.enter_email{background: none;width: 100%;margin:20px 0 8px 0;padding: 0px;float: left;
color: #95aeb3;font-size: 11pt!important;font-weight: 600;text-align: left;}
.reset_pasword_area  p.enter_email:hover{background: none;font-size:17pt;}
.reset_pasword_area .reset_btn{width: 100%;font-family: 'MORVA';color: #fff;font-size:17pt;
margin-top: 8px;height: 51px;line-height: 44px;margin-top: 15px;}
.reset_pasword_area  .alert-danger{/*margin-top: 55px;*/margin-bottom: 0;}