/* Global Styles */

/* ------------------------------- */

/* Wrappers */
/* ------------------------------- */
 #wrapper {    width: 100%;}
#page-wrapper {    padding: 0 15px;    min-height: 568px;    background-color: #fff;}

@media(min-width:768px) {
#page-wrapper {position: inherit; margin: 0 0 0 250px;  padding: 0 30px; min-height: 1300px; border-left: 1px solid #e7e7e7;}
}

.navbar-static-side ul li { border-bottom: 1px solid #e7e7e7;}

/* Navigation */
/* ------------------------------- */
/* Top Right Navigation Dropdown Styles */
.navbar-top-links li { display: inline-block;}
.navbar-top-links li:last-child {   margin-right: 15px;}
.navbar-top-links li a { /*border:1px solid #fff; background-color:white;*/ padding:6px 8px 6px 8px; margin-bottom:0; border-radius: 0px; }
 
.navbar-top-links.nav li a:hover, .navbar-top-links.nav li a:focus{background-color: inherit;}
.navbar-top-links .dropdown-menu li {    display: block;}
.navbar-top-links .dropdown-menu li:last-child {   margin-right: 0;}
.navbar-top-links .dropdown-menu li a {    padding: 3px 20px;    min-height: 0;}
.navbar-top-links .dropdown-menu li a div {    white-space: normal;}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {    width: 250px;    min-width: 0;}
.navbar-top-links .dropdown-messages { margin-left: 5px;}
.navbar-top-links .dropdown-tasks {   margin-left: -59px;}
.navbar-top-links .dropdown-alerts {   margin-left: -123px;}
.navbar-top-links .dropdown-user {    right: 0;    left: auto;}

/* Sidebar Menu Styles */
.sidebar-search {padding: 15px;}
.arrow {float: right;}
.fa.arrow:before { content: "\f104";}
.active > a > .fa.arrow:before{content: "\f107";}
.nav-second-level li,
.nav-third-level li {border-bottom: none !important;}
.nav-second-level li a{ padding-left: 37px;}
.nav-third-level li a{ padding-left: 52px;}

@media(min-width:768px) {
.navbar-static-side {z-index:1; position:absolute; width: 250px;}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {  margin-left: auto;}
}

/* Buttons */
/* ------------------------------- */
.btn-outline { color: inherit; background-color: transparent; transition: all .5s;}
.btn-primary.btn-outline {   color: #428bca;}
.btn-success.btn-outline {  color: #5cb85c;}
.btn-info.btn-outline {    color: #5bc0de;}
.btn-warning.btn-outline {    color: #f0ad4e;}
.btn-danger.btn-outline {    color: #d9534f;}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover { color: #fff;}

/* Pages */

/* ------------------------------- */

/* Dashboard Chat */
.chat { margin: 0;  padding: 0;    list-style: none;}
.chat li {  margin-bottom: 10px;    padding-bottom: 5px;    border-bottom: 1px dotted #B3A9A9;}
.chat li.left .chat-body {    margin-left: 60px;}
.chat li.right .chat-body {    margin-right: 60px;}
.chat li .chat-body p {   margin: 0;    color: #777777;}
.panel .slidedown .glyphicon, .chat .glyphicon { margin-right: 5px;}
.chat-panel .panel-body {    height: 350px;    overflow-y: scroll;}

/* Flot Chart Containers */
.flot-chart {    display: block;    height: 400px;}
.flot-chart-content {    width: 100%;    height: 100%;}

/* DataTables Overrides */
table.dataTable thead .sorting, table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {  background: transparent;}
table.dataTable thead .sorting_asc:after { content: "\f0de";    float: right;    font-family: fontawesome;}
table.dataTable thead .sorting_desc:after{   content: "\f0dd";    float: right;    font-family: fontawesome;}
table.dataTable thead .sorting:after { content: "\f0dc";    float: right;    font-family: fontawesome;    color: rgba(50,50,50,.5);}


