/* Global Styles */

/* ------------------------------- */

 body {
    background-color: #f8f8f8;

}

/* Wrappers */

/* ------------------------------- */

 #wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        min-height: 1300px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-static-side ul li {
    border-bottom: 1px solid #e7e7e7;
}

/* Navigation */

/* ------------------------------- */

/* Top Right Navigation Dropdown Styles */

.navbar-top-links li {
  float: left;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
  border-radius: inherit;
  font-size: 10.5pt;
  line-height: 18px;
  padding: 0 7px;
}.blacks {
  color: #000;
  float: left;
  line-height: 22px;
  padding-left: 10px;
  padding-right: 21px; padding-top:4px;
}
.blacks::after {
  background: rgba(0, 0, 0, 0) url("../img/search-select-arrow.png") no-repeat scroll 0 0;
  color: #fff;
  content: "";
  float: right;
  height: 9px;
  position: absolute;
  right: 0px;
  top: 12px;
  width: 15px;
}


.navbar-top-links .dropdown-menu li {
    display: block;
}
.select_heading {
  color: #95aeb3;
  float: left;
  font-size: 13pt;
  margin: 0px 0 5px;
  padding: 0;
  text-align: left;
  width: 100%;
}
.search-box-field{ width:100%; margi6px 0px 0px 0px; padding:0px; float:left; text-align:center;}
.select_top_box {
  float: right;
  margin: 0;
  padding: 0;
  width:100%
}
.service_heading_area{width:100%; margin:40px 0 18px; padding:0px; float:left;}
.service_listingrow{width:100%; margin:0px 0 18px; padding:0px; float:left;}

.service_heading_area .box{ float:right; border:none; background:none; width:auto;}
.add {color: #000;float: right;font-size: 10.5pt;position: relative;}
.add a{ color: #121212;display: inline-block;font-size: 10.5pt;font-weight: 600;padding-left: 28px;padding-top:4px; position:relative; z-index:9}
.filter_area{ width:100%; margin:0px; padding:0px; float:left;}
.filter_heading{ width:100%; margin:0px; padding:0px; float:left; font-size:13.5pt; color:#95aeb3; font-weight:600; }
.city_area{ width:15%!important;}
.mems{width:291px!important; margin-left:0px;}
.aps{ float:left; margin:0px; padding:0px; width:100px;}
.applu_bts {
  background: #d3dddf none repeat scroll 0 0 !important;
  border: 1px solid #94aeb3 !important;
  color: #000 !important;
  float: left !important;
  font-family: "Raleway",sans-serif !important;
  font-size: 12pt !important;
  font-weight: 600;
  margin: 0 0 0 10px !important;
  padding: 6px 0px 7px !important;
  text-align: center;
  text-transform: uppercase;
}
.filter_right{float:right; margin:0px; padding:7px 35px 6px 8px; border:solid 1px #a69373; background:#FFFFFF;position:relative; max-width:355px; width:100%; clear:both}
.icon_sch {
  background: rgba(0, 0, 0, 0) url("../img/serach-icon.png") no-repeat scroll 0 0;
  height: 23px;
  position: absolute;
  right: 9px;
  top: 8px;
  width: 23px!important;
}

.filter_right input[type="submit"], .filter_right input[type="button"], .filter_right input[type="search"], .filter_right button {
  background-color: transparent !important;
  border: medium none !important;
  color: #636363;
  float: left;
  font-size: 10.5pt;
  font-weight: 600;
  width: 90%; 
  padding:0px!important;
}
.filter_right input[type="text"], .filter_right input[type="email"], .filter_right input[type="number"], .filter_right input[type="password"] {
  background: #fff none repeat scroll 0 0;
  border: medium none;
  color: #636363;
  float: left;
  font-size:11pt;
  margin: 0;
  padding: 0 0px;
  width: 100%;
  height: auto;
  line-height: inherit; 
  font-weight:400;
}
/* 25 */
.filter_right input[type="text"]{height:25px\0}
input ::-ms-clear {display: none!important;}


.add::before {
  background: rgba(0, 0, 0, 0) url("../img/add.png") no-repeat scroll 0 0;
  content: "";
  float: left;
  height: 21px;
  left: 0;
  margin: 0;
  padding: 0 20px;
  position: absolute;
  width: 21px; 
  top:5px; z-index:1;
}
.service_heading_area .box header {
  background-repeat: repeat-x; border:none; box-shadow:inherit; background-image:inherit;
}

/*.search-box-field select {
  -moz-appearance: none;
  background: #fff url("../img/search-select-arrow.png") no-repeat scroll right 10px bottom 45%;
  border: 1px solid #a69373;
  font-size: 10.5pt;
  font-weight: 500;
  height: 39px;
  line-height: 38px;
  padding-left: 7px;
  padding-right: 25px;
  width: 100%;
  color: #636363;
}*/
.type_box{float: right; margin-right: 0px; width: 259px; margin-top: 13px;}




.dash {
  background: rgba(0, 0, 0, 0) url("../img/bdr-right.png") no-repeat scroll 0 0;
  float: left;
  height: 14px;
  width: 2px; margin-top:4px;
}
.language {
  float: left;
  padding-right: 10px; padding-top:2px; color:#141414;
}
.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 250px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

/* Sidebar Menu Styles */

 .sidebar-search {
    padding: 15px;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 52px;
}



/* Buttons */

/* ------------------------------- */

 .btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/* Pages */

/* ------------------------------- */

/* Dashboard Chat */

 .chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

/* Login Page */

 .login-panel {
    margin-top: 25%;
}

/* Flot Chart Containers */

 .flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* DataTables Overrides */

 table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

/* Circle Buttons */

 .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}